{% extends 'profile/profile.html' %}
{% load i18n profile_tags %}

{% block page_name %}
<meta name="page" data="About Us" />
<meta name="clinic" content="{{clinic.id}}">
{% endblock %}

{% block extra_js %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/profile/about.js"></script>
{% endblock %}

{% block content %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
<div class="medium-9 columns profile">
  <div class="profile-title"><h2>{% trans "About Us" %}</h2></div>
    <!-- Text -->
    <p id="about"></p>
    <!-- /Text -->

    <div class="mini-gallery">
      <div class="row">
          {% render_about_photos clinic %}
      </div>
    </div>

    <div class="large-6 columns">
      <h3>{% trans "Opening Hours" %}</h3>
      <table class="table opening">
        <tbody>
          {% for opening_hour in opening_hours %}
            {% if opening_hour.hour_open and opening_hour.hour_close %}
            <tr>
              <td>{{opening_hour.day_name}}</td>
              <td>{{opening_hour.hour_open|date:"H:i"}} - {{opening_hour.hour_close|date:"H:i"}}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      {% if complementary_sevices.count > 0 %}
      <h3>Complementary Services</h3>
      <ul>
        {% for service in complementary_sevices %}
        <li>{{service.name}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if special_promotions.count > 0 %}
      <h3>Special Promotions</h3>
      <ul>
        {% for promotion in special_promotions %}
        <li>{{promotion}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class="large-6 columns">
      <h3>{% trans "Accepted Payment Methods" %}</h3>
      <ul class="disc">
        {% if clinic.personal_checks %}
        <li>Personal Checks</li>
        {% endif %}
        {% if clinic.traveler_checks %}
        <li>Travelers Check</li>
        {% endif %}
        {% if clinic.cash %}
        <li>Cash</li>
        {% endif %}
        {% if clinic.mastercard %}
        <li>Mastercard</li>
        {% endif %}
        {% if clinic.visa %}
        <li>Visa</li>
        {% endif %}
        {% if clinic.american_express %}
        <li>American Express</li>
        {% endif %}
        {% if clinic.discover %}
        <li>Discover</li>
        {% endif %}
        {% if clinic.paypal %}
        <li>PayPal</li>
        {% endif %}
        {% if clinic.money_order %}
        <li>Money Order</li>
        {% endif %}
        {% if clinic.wire_transfer %}
        <li>Wire Transfer</li>
        {% endif %}
        {% if clinic.cashier_check %}
        <li>Cashier Check</li>
        {% endif %}
      </ul>

      <h3>{% trans "Languages spoken" %}</h3>
      <ul>
        {% if clinic.english %}
        <li>English</li>
        {% endif %}
        {% if clinic.spanish %}
        <li>Spanish</li>
        {% endif %}
        {% if clinic.french %}
        <li>French</li>
        {% endif %}
        {% if clinic.japanese %}
        <li>Japanese</li>
        {% endif %}
        {% if clinic.italian %}
        <li>Italian</li>
        {% endif %}
        {% if clinic.russian %}
        <li>Russian</li>
        {% endif %}
        {% if clinic.mandarin %}
        <li>Mandarin</li>
        {% endif %}
        {% if clinic.portuguese %}
        <li>Portuguese</li>
        {% endif %}
        {% if clinic.german %}
        <li>German</li>
        {% endif %}
      </ul>

      <h3>{% trans "Open Since" %}</h3>
      <p>{{ clinic.open_since }}</p>
    </div>
</div>
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->
{% endblock %}