{% extends "pages/page.html" %}
{% load i18n %}

{% block extra_js %}
<script src="{{ STATIC_URL }}sanico/js/page/free_qoute.js"></script>
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
{% endblock %}

{% block body_content %}
<div class="span9 profile">
    <div class="profile-title">
        <h2>{% trans "Thank You, your email has been sent." %}</h2>
    </div>
    <hr>
</div>
{% endblock %}