{% extends 'profile/profile.html' %}
{% load profile_tags sanico_tags %}
{% block sidebar %}{% endblock %}

{% block page_name %}
<meta name="page" data="Contact Clinic" />
<meta name="contact_thanks_url" data="{% url 'contact_thanks' %}">
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
{% endblock %}

contact_clinic.js

{% block extra_js %}{{block.super}}
<script src="{{STATIC_URL}}sanico/js/profile/contact_clinic.js"></script>
{% endblock %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile">
  <div class="profile-title"><h2>Get free quote</h2></div>

  <form class="contact-form" action="{% url 'profile_send_contact' %}" method="post" id="contact-clinic-form" data-abide>
  <input type="hidden" name="clinic" value="{{clinic.name}}">
  {% csrf_token %}
    <div class="row">
      <!-- Full Name -->
      <div class="medium-4 columns">
        <input type="text" name="full_name" placeholder="Full name" required>
        <small class="error">This field is required.</small>
      </div>
      <!-- Email -->
      <div class="medium-4 columns">
        <input type="text" name="full_name" placeholder="Email" required>
        <small class="error">This field is required.</small>
      </div>
      <!-- Phone -->
      <div class="medium-4 columns">
        <input type="text" name="" placeholder="Contact number" required>
        <small class="error">This field is required.</small>
      </div>
      <!-- Date of birth -->
      <div class="medium-6 columns">
        <input type="text" name="birth" id="birthdaypicker" placeholder="Date of birth (optional)">
      </div>
      <!-- Residence -->
      <div class="medium-6 columns">
        <input type="text" name="residence" placeholder="Residence City/State/Country (optional)">
      </div>
      <!-- Desired City of Destination -->
      <div class="medium-6 columns">
        <input type="text" name="desired_city_of_destination" placeholder="Desired City of Destination (optional)">
      </div>
      <!-- Desire Appointment Date -->
      <div class="medium-6 columns">
        <input type="text" name="desire_appointment_date" id="desire_appointment_date" placeholder="Desired Appointment Date" required>
        <small class="error">This field is required.</small>
      </div>
      <!-- Desire Appointment Date -->
      <div class="medium-4 columns">
        <label>Desired Appointment Time</label>
        <select name="desire_appointment_time">
          <option>Anytime</option>
          <option>Morning</option>
          <option>Afternoon</option>
          <option>Evening</option>
        </select>
      </div>
      <!-- It's best to contact me by: -->
      <div class="medium-4 columns">
        <label>It's best to contact me by:</label>
        <select name="best_to_contact">
          <option>Phone</option>
          <option>Email</option>
        </select>
      </div>
      <!-- It's best to contact me by: -->
      <div class="medium-4 columns">
        <label>How did you find us?</label>
        <select name="find" size="1" id="find-list" required>
          <option value="" selected="selected"> -- </option>
          <option value="acquaintance">Acquaintance</option>
          <option value="Advertising">Advertising</option>
          <option value="Internet Research">Internet Research</option>
        </select>
        <small class="error">This field is required.</small>
      </div>
      <!-- Acquaintance Hidden -->
      <div class="medium-12 columns" style="display:none;">
        <label>Name</label>
        <input type="text" name="acquaintance" required>
        <p>* For the <strong>"Reward program"</strong> of Class patients</p>
        <small class="error">This field is required.</small>
      </div>
      <!-- Message -->
      <div class="medium-12 columns">
        <textarea name="comment" cols="30" rows="10" placeholder="Tell the doctor in detail what you would like to have done:" required></textarea>
        <small class="error">This field is required.</small>
      </div>

      <div class="large-8 columns">
        <input type="checkbox" id="termsConditions" name="termsConditions" required>
        <label for="">I have read and accept the <a href="/terms-and-conditions/">Terms and Conditions</a> of this web</label>
        <small class="error error-checkbox">This field is required.</small>
      </div>

      <div class="large-4 columns">
        <button type="submit" class="button btn-aqua radius right">Submit</button>
      </div>
      
    </div>
  </form>
</section>

<aside class="large-3 columns">
  
  <!-- Sponsors -->
  {% render_sponsors_profile clinic %}
  <!-- Sponsors -->

    <!-- Module Social -->
  {% include "widgets/social-networks.html" %}
  <!-- Module Social -->

  <!-- Module Recent Post -->
  {% include "widgets/recent_posts.html" %}
  <!-- /Module Recent Post -->

  <!-- Popular Treatments -->
  {% include "widgets/popular-treatments.html" %}
  <!-- /Popular Treatments -->

  <!-- Newsletter -->
  {% include "widgets/newsletter.html" %}
  <!-- /Newsletter -->

</aside>

{% endblock %}