{% extends 'profile/profile.html' %}
{% load mezzanine_tags %}

{% block page_name %}
<meta name="page" data="Doctors" />
{% endblock %}

Doctors

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile">
  <div class="profile-title"><h2>Doctors</h2></div>
  <!-- Doctor Profile -->
  {% for doctor in doctors %}
  <div class="doctor-info">
    <figure class="doctor-avatar">
      <img src="{{ MEDIA_URL }}{% thumbnail doctor.photo 140 200 %}" alt="" itemprop="image">
    </figure>
    <div class="doctor-description">
      <h3 itemprop="name">{{ doctor.name }}</h3>
      <div class="doctor-skills">
        <ul>
          <li>Education: <span>{{ doctor.education }}</span></li>
          <li>Specialisations: <span>{{ doctor.specialisations }}</span></li>
          <li>Languages: <span>{{ doctor.languages }}</span></li>
        </ul>
        {% if doctor.resume %}
        <a href="{{MEDIA_URL}}{{doctor.resume}}" class="button btn-aqua radius tiny" target="_black">Resume</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- /Doctor Profile -->
</section>
{% endblock %}
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->