{% extends 'profile/profile.html' %}
{% load profile_tags %}

{% block page_name %}
<meta name="page" data="Gallery" />
{% endblock %}

{% block extra_css %}
<link href="{{STATIC_URL}}sanico/css/jackbox.min.css" rel="stylesheet" type="text/css" />
<!--[if gt IE 8]><link href="{{STATIC_URL}}sanico/css/jackbox-ie9.css" rel="stylesheet" type="text/css" /><![endif]-->
<style type="text/css">
  .jackbox-social{
    visibility: hidden;
    display: none;
  }
</style>
{% endblock %}

{% block extra_js %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/jackbox-packed.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $(".jackbox[data-group]").jackBox("init");
  });

</script>
{% endblock %}

{% block content %}
<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
<div class="medium-9 columns profile">
  <div class="profile-title"><h2>Gallery</h2></div>
    {% render_gallery clinic %}
</div>
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->
{% endblock %}
