{% extends 'profile/profile.html' %}
{% load mezzanine_tags i18n profile_tags sanico_tags%}

{% block page_name %}
<meta name="page" data="Location" />
{% endblock %}

{% block extra_js %}{{block.super}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/profile/location.js"></script>
{% endblock %}

{% block sidebar %}{% endblock %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile">
  <div class="profile-title">
    <h2>{% trans "Location" %}</h2>
  </div>
  <!-- Map -->
  <div class="map-location">
    <input type="hidden" value="{{location.coords}}" id="coordinates">
    <div id="mapCanvas"></div>
  </div>
  <!-- /Map -->
  <div class="row">
    {% if location.image_map_1 %}
    <div class="large-8 columns">
      <img src="{{MEDIA_URL}}{% thumbnail location.image_map_1 530 350 %}" alt="" class="map-img">
    </div>
    {% endif %}

    <div class="large-4 columns">
      <!-- Address -->
      <div class="block">
        <h3>{% trans "Address" %}</h3>
          <ul class="no-bullet">
            <li>{{clinic.address}}, {{clinic.city}}</li>
            <li>{{clinic.get_state}}, {{clinic.country}} {{clinic.zip_code}}</li>
          </ul>
      </div>
      <!-- /Address -->
      <!-- Opening Hours -->
      <div class="block">
        <h3>{% trans "Opening Hours" %}</h3>
        <table class="table opening">
          <tbody>
            <tr>
              <td>Monday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Friday</td>
              <td>08:00 - 18:00</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>08:00 - 16:00</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>08:00 - 16:00</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Opening Hours -->
    </div>

  </div>
</section>

<aside class="large-3 columns">
  
  <!-- Sponsors -->
  {% render_sponsors_profile clinic %}
  <!-- Sponsors -->

    <!-- Module Social -->
  {% include "widgets/social-networks.html" %}
  <!-- Module Social -->

  <!-- Module Recent Post -->
  {% include "widgets/recent_posts.html" %}
  <!-- /Module Recent Post -->

  <!-- Popular Treatments -->
  {% include "widgets/popular-treatments.html" %}
  <!-- /Popular Treatments -->

  <!-- Newsletter -->
  {% include "widgets/newsletter.html" %}
  <!-- /Newsletter -->

</aside>
{% endblock %}
