{% extends 'profile/profile.html' %}
{% load mezzanine_tags i18n profile_tags %}

{% block page_name %}
<meta name="page" data="Prices" />
{% endblock %}

{% block content %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
<div class="medium-9 columns profile">
  <div class="profile-title"><h2>{% trans "Prices" %}</h2></div>
        <div class="prices">
            {% for treatment in treatments %}
                <h3>{{ treatment.category }}</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:570px">{% trans "Procedure / Description" %}</th>
                            <th style="width:155px">{% trans "Price" %}</th>
                            <th style="width:155px">{% trans "Duration" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for procedure in treatment.list %}
                        <tr>
                            <td>{{ procedure.procedure }} {% if procedure.description %}/ <span class="description-price">{{ procedure.description }}</span>{% endif %}</td>
                            <td>${{ procedure.price }}</td>
                            <td>{{ procedure.duration }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
            <p>
            	Please note that this list presents the most common treatments and procedures offered by this clinic. Should you need more information or would like to inquire on other treatments, please contact the clinic for further assistance.
            </p>
        </div>
</div>

{% endblock %}
