{% extends 'base.html' %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}
{% load widget_tags profile_tags %}

{% block meta_title %}{{ clinic.name }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block fb_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block gplus_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block extra_head %}
    {% block page_name %}
    <meta name="page" data="" />
    {% endblock %}
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}sanico/js/profile/clinic.js"></script>
{% endblock %}

{% block main %}

  <!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{{ clinic.name }}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="/">Home</a></li>
          <li><a href="/">Destinations</a></li>
          <li><a href="/">Los Algodones</a></li>
          <li class="current"><a href=".">Sani Dental Group</a></li>
        </ul>
      </div>
    
    </div>
  </div>
  <!-- /Title -->

  <!-- Home Cover -->
  <section class="row header-timeline">
    <!-- Pic Profile -->
    <div class="large-2 columns">
      <figure>
        <a href="{% url 'profile_about' clinic.slug %}">
          <img src="{{ MEDIA_URL }}{% thumbnail clinic.image_profile 180 180 %}" alt="">
        </a>
      </figure>
      <div class="star-holder">
        <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_qualification}}0px">5</div>
      </div>
      <span class="results-meta">
        <a href="{% url 'profile_reviews_list' clinic.slug %}">({{num_reviews}} {% trans "Patient Reviews" %}</a>)
      </span>

      <p class="info-location" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">{{clinic.category}} | {{clinic.city}}, {{clinic.country}}</p>
    </div>
    <!-- /Pic Profile -->
    <!-- Banner -->
    <div class="large-10 columns">
      <div class="cover">
        <img src="{{ MEDIA_URL }}{% thumbnail clinic.image_header 1170 300 %}" alt="">
      </div>
      <!-- Profile Navigation -->
      <div class="nav-profile">
        <ul>
          <li><a href="{% url 'profile_about' clinic.slug %}">{% trans "About Us" %}</a></li>
          <li><a href="{% url 'profile_gallery' clinic.slug %}">{% trans "Gallery" %}</a></li>
          <li><a href="{% url 'profile_prices' clinic.slug %}">{% trans "Prices" %}</a></li>
          <li><a href="{% url 'profile_reviews' clinic.slug %}">{% trans "Reviews" %}</a></li>
          <li><a href="{% url 'profile_doctors' clinic.slug %}">{% trans "Doctors" %}</a></li>
          <li><a href="{% url 'profile_location' clinic.slug %}">{% trans "Location" %}</a></li>
        </ul>
        <a href="{% url 'profile_contact' clinic.slug %}" class="button">{% trans "Contact Clinic" %}</a>
      </div>
    <!-- Profile Navigation -->
    </div>
    <!-- /Banner -->

  </section>
  <!-- /Home Cover -->

<!--====== Main ======-->
<section class="row" role="main">
    <!-- Content Block -->
    {% block content %}{% endblock %}

    {% block sidebar %}
    <!-- Sidebar -->
      {% include "includes/sidebar-profile.html" %}
    <!-- Sidebar -->
    {% endblock %}

</section>
<!--====== /Main ======-->
{% endblock %}