{% extends 'profile/profile.html' %}
{% load i18n future %}
{% block page_name %}
<meta name="page" data="Reviews" />
{% endblock %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile" role="reviews">
  <!-- Head -->
  <div class="row review-general">
    <div class="medium-8 columns">
      <h2>{{num_reviews}} {% trans "reviews from our community" %}</h2>
    </div>
    <div class="medium-4 columns">
      <a href="{% url 'profile_write_review' clinic.slug %}" class="button btn-orange radius right">
        {% trans "Write a review" %}
      </a>
    </div>
  </div>
  <!-- /Head -->

  <!-- Reviews General -->
  <div class="row">
    <div class="medium-6 columns">
      <!-- Quality -->
      <div class="review-resume">
      <p>{% trans "Quality" %}</p>
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_quality}}0px"></div>
        </div>
      </div>
      <!-- Service -->
      <div class="review-resume">
      <p>{% trans "Service" %}</p>
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_service}}0px"></div>
        </div>
      </div>
      <!-- Communication -->
      <div class="review-resume">
        <p>{% trans "Communication" %}</p>
          <div class="star-holder">
            <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_communication}}0px"></div>
          </div>
      </div>
    </div>

    <div class="medium-6 columns">
      <!-- Price -->
      <div class="review-resume">
        <p>{% trans "Price" %}</p>
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_price}}0px"></div>
        </div>
      </div>
      <!-- Location -->
      <div class="review-resume">
        <p>{% trans "Location" %}</p>
          <div class="star-holder">
            <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_location}}0px"></div>
          </div>
      </div>
    </div>
  </div>
  <!-- /Reviews General -->
  <hr>

  <!-- Review User -->
  {% for review in reviews %}
  <div class="review-user" itemscope itemtype="http://schema.org/Review">
    <div class="row">
      <div class="medium-12 columns">
          <h4 itemprop="name">{{ review.get_full_name }}</h4>
      </div>
      <div class="medium-12 columns"  itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
          <div class="star-holder"><div class="star-rating" style="width: {{review.qualification}}0px"  itemprop="ratingValue"></div></div>
          <span>{% trans "Overall Score" %}</span>
      </div>
      <div class="medium-12 columns">
        <p class="info-location"  itemprop="address" itemtype="http://schema.org/PostalAddress">{{ review.city }}, {{ review.country }}</p>
      </div>
      <div class="medium-12 columns">
          <p  itemprop="description">{{ review.comment|striptags|truncatewords_html:30 }}</p>
          <a href="{% url 'profile_single_review' clinic.slug review.id %}" class="button tiny btn-smoke radius">Read more</a>
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- /Review User -->
  
  <!-- More Reviews -->
  <div class="row">
    <div class="large-12 columns">
      <a href="{% url 'profile_reviews_list' clinic.slug %}" class="button btn-purple radius">{% trans "Load more reviews..." %}</a>
    </div>
  </div>
  <!-- /More Reviews -->

</section>
{% endblock %}
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->