{% extends 'profile/profile.html' %}
{% load mezzanine_tags i18n future %}
{% block page_name %}
<meta name="page" data="Reviews" />
{% endblock %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile" role="reviews">
      
      <!-- Head -->
      <div class="row review-general">
        <div class="medium-8 columns">
          <h2>{{num_reviews}} {% trans "reviews from our community" %}</h2>
        </div>
        <div class="medium-4 columns">
          <a href="{% url 'profile_write_review' clinic.slug %}" class="button btn-orange radius right">
            {% trans "Write a review" %}
          </a>
        </div>
      </div>
      <!-- /Head -->

      <!-- Reviews List -->
      {% for review in reviews.object_list %}
      <div class="review-user" itemscope itemtype="http://schema.org/Review">
        <div class="row">

          <div class="medium-12 columns">
            <h4 itemprop="name">{{ review.get_full_name }}</h4>
          </div>

          <div class="medium-12 columns"  itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <div class="star-holder"><div class="star-rating" style="width: {{review.qualification}}0px"  itemprop="ratingValue"></div></div>
            <span>{% trans "Overall Score" %}</span>
          </div>

          <div class="medium-12 columns">
            <p class="info-location"  itemprop="address" itemtype="http://schema.org/PostalAddress">{{ review.city }}, {{ review.country }}</p>
          </div>

          <div class="medium-12 columns">
            <p  itemprop="description">{{ review.comment|striptags|truncatewords_html:30 }}</p>
            <a href="{% url 'profile_single_review' clinic.slug review.id %}" class="button tiny btn-smoke radius">Read more</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- /Reviews List -->

      <!-- Pagination -->
      {% pagination_for reviews %}
      <!-- end pagination -->

</section>
{% endblock %}
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->