{% extends 'profile/profile.html' %}
{% load i18n %}
{% block page_name %}
<meta name="page" data="Reviews" />
{% endblock %}

{% block meta_description %}
{{review.get_full_name}}: "{{ review.comment }}"
{% endblock %}

{% block gplus_description %}
{{review.get_full_name}}: "{{ review.comment }}"
{% endblock %}

{% block facebook_metadata %}
  <meta property="og:title" content="{{review.clinic.name}} - Review from {{review.get_full_name}}"/>
  <meta property="og:description" content='{{review.get_full_name}}: "{{ review.comment }}"'/>
  <meta property="og:url" content="https://sanimedicaltourism.com{% url 'profile_single_review' review.clinic.slug review.id %}"/>
  <meta property="og:image" content="{{ STATIC_URL }}sanico/img/ico/icon-250x250.png"/>
  <meta property="fb:admins" content="huleos"/>
{% endblock %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile" role="reviews">
  <!-- Review User -->
  <div class="review-user" itemscope itemtype="http://schema.org/Review">
    <div class="row">
      <div class="medium-12 columns">
          <h4 itemprop="name">{{ review.get_full_name }}</h4>
      </div>
      <div class="medium-12 columns"  itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
          <div class="star-holder"><div class="star-rating" style="width: {{review.qualification}}0px"  itemprop="ratingValue"></div></div>
          <span>{% trans "Overall Score" %}</span>
      </div>
      <div class="medium-12 columns">
        <p class="info-location"  itemprop="address" itemtype="http://schema.org/PostalAddress">{{ review.city }}, {{ review.country }}</p>
      </div>
      <div class="medium-12 columns">
          <p itemprop="reviewBody">{{ review.comment|safe }}</p>
      </div>
    </div>
  </div>
  <!-- /Review User -->

  <!-- Reviews General -->
  <div class="row">
    <div class="medium-6 columns">
      <!-- Quality -->
      <div class="review-resume">
      <p>{% trans "Quality" %}</p>
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_quality}}0px"></div>
        </div>
      </div>
      <!-- Service -->
      <div class="review-resume">
      <p>{% trans "Service" %}</p>
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_service}}0px"></div>
        </div>
      </div>
      <!-- Communication -->
      <div class="review-resume">
        <p>{% trans "Communication" %}</p>
          <div class="star-holder">
            <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_communication}}0px"></div>
          </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <!-- Price -->
      <div class="review-resume">
        <p>{% trans "Price" %}</p>
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_price}}0px"></div>
        </div>
      </div>
      <!-- Location -->
      <div class="review-resume">
        <p>{% trans "Location" %}</p>
          <div class="star-holder">
            <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_location}}0px"></div>
          </div>
      </div>
    </div>
  </div>
  <!-- /Reviews General -->
  <hr>
     
  <!-- More Reviews -->
  <div class="row">
    <div class="large-12 columns">
      <a href="{% url 'profile_reviews_list' clinic.slug %}" class="button btn-purple radius">{% trans "Back for more reviews" %}</a>
    </div>
  </div>
  <!-- /More Reviews -->

</section>
{% endblock %}
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->
