{% extends 'profile/profile.html' %}
{% load future i18n %}

{% block page_name %}
<meta name="page" data="Reviews" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/profile/reviews.js"></script>
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
{% endblock %}

<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
{% block content %}
<section class="medium-9 columns profile" role="reviews">
  <div class="profile-title"><h2>{% trans "Review Form" %}</h2></div>
  <!-- Reviews General -->
  <div class="row">
    <div class="medium-6 columns">
      <!-- Quality -->
      <div class="review-resume">
      <p>{% trans "Quality" %}</p>
        <div class="star-holder star-selectionable">
          <div class="editable star-rating" itemprop="reviewRating" style="width: 100px"></div>
        </div>
      </div>
      <!-- Service -->
      <div class="review-resume">
      <p>{% trans "Service" %}</p>
        <div class="star-holder star-selectionable">
          <div class="editable star-rating" itemprop="reviewRating" style="width: 100px"></div>
        </div>
      </div>
      <!-- Communication -->
      <div class="review-resume">
        <p>{% trans "Communication" %}</p>
          <div class="star-holder star-selectionable">
            <div class="editable star-rating" itemprop="reviewRating" style="width: 100px"></div>
          </div>
      </div>
    </div>
    <div class="medium-6 columns">
      <!-- Price -->
      <div class="review-resume">
        <p>{% trans "Price" %}</p>
        <div class="star-holder star-selectionable">
          <div class="editable star-rating" itemprop="reviewRating" style="width: 100px"></div>
        </div>
      </div>
      <!-- Location -->
      <div class="review-resume">
        <p>{% trans "Location" %}</p>
          <div class="star-holder star-selectionable">
            <div class="editable star-rating" itemprop="reviewRating" style="width: 100px"></div>
          </div>
      </div>
    </div>
  </div>
  <!-- /Reviews General -->
  <hr>

  <!-- Form -->
  <div class="review-form">
    <form action="{% url 'profile_send_review' clinic.id %}" method="post" data-abide>
      {% csrf_token %}
      <input type="hidden" name="clinic" value="{{ clinic.id }}">
      <input type="hidden" class="qualification" name="quality" value="10">
      <input type="hidden" class="qualification" name="service" value="10">
      <input type="hidden" class="qualification" name="communication" value="10">
      <input type="hidden" class="qualification" name="cleanliness" value="10">
      <input type="hidden" class="qualification" name="price" value="10">
      <input type="hidden" class="qualification" name="comfort" value="10">
      <input type="hidden" class="qualification" name="value" value="10">
      <input type="hidden" class="qualification" name="location" value="10">
      <input type="hidden" class="qualification" name="satisfaction" value="10">
      
      <div class="row">
        <!-- First Name -->
        <div class="large-6 columns">
          <input type="text" name="first_name" placeholder="{% trans "First name" %}" required pattern="[a-zA-Z]+">
          <small class="error">This field is required.</small>
        </div>
        <!-- Last Name -->
        <div class="large-6 columns">
          <input type="text" name="last_name" placeholder="{% trans "Last name" %}" required pattern="[a-zA-Z]+">
          <small class="error">This field is required.</small>
        </div>
      </div>

      <div class="row">
        <!-- Email -->
        <div class="large-6 columns">
          <input type="email" name="email" placeholder="Email" required>
          <small class="error">This field is required.</small>
        </div>
        <!-- Date Appointment -->
        <div class="large-6 columns">
          <input type="text" name="date_appointment" id="date_appointment" placeholder="{% trans "Date Appointment" %}" required>
          <small class="error">This field is required.</small>
        </div>

      </div>

      <div class="row">
        <!-- City of Residence -->
        <div class="large-6 columns">
          <input type="text" name="city" placeholder="{% trans "City of Residence" %}" required>
          <small class="error">This field is required.</small>
        </div>
        <!-- Country of Residence -->
        <div class="large-6 columns">
          <input type="text" name="country" placeholder="{% trans "Country of Residence" %}" required>
          <small class="error">This field is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <textarea rows="5" name="comment" placeholder="{% trans "Your Comments" %}" required></textarea>
          <small class="error">This field is required.</small>
        </div>
      </div>
      
      <button type="submit" class="btn btn-aqua radius">
        {% trans "Submit Review" %}
      </button>
      <img src="{{STATIC_URL}}sanico/img/loading-bar.gif" class="review-loading-img">

    </form>
  </div>
  <!-- /Form -->

</section>
{% endblock %}
<!-- /////////////// End Content \\\\\\\\\\\\\\\ -->