/*********************************************
	Base Editor
**********************************************/

.header-collaborator{
	background-color: #4D4D4D;
	width: 100%;
	height: 50px;
	border-bottom: 5px solid #f2f2f2;
	margin-bottom: 20px;
}

.header-image-loading {
	float: right;
}

.doctor-info-loading {
	float: right;
	margin-top: -20px;
}

.logo-collaborator{
	margin-top: 0;
}

.user-bar{
	list-style: none;
	display: inline-block;
	float: right;
	overflow: visible;
	margin: 0;
}

.user-bar li{
	display: inline-block;
	padding: 15px 0;
	color: #cfcfcf;
	font-size: .8rem;
}

.user-bar li a{
	border-left: 1px solid #999;
	padding: 16px 15px;
}

.user-bar li span{
	padding: 16px 15px 16px 0;
	font-weight: 600;
	color: #f2f2f2;
}

/* .row .span3.sidebar{
	margin-left: 0;
} */

.sidebar-collaborator{
	max-width: 340px;
	padding: 0;
	min-height: 20px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
}

.sidebar-collaborator .nav-list > .active > a, .sidebar-collaborator .nav-list > .active > a:hover{
	background-color: #32C0D1;
}

.sidebar-collaborator li{
	font-size: .85rem;
}

.sidebar-collaborator .nav-list > li > a {
	padding: 10px 15px;
}

.sidebar-collaborator .nav-header{
	padding: 10px 15px;
}

.editor-footer{
	position: relative;
}

.editor-footer .span8 p{
	margin-top: 25px;
	color: #f2f2f2;
}

/*********************************************
	Edit Section
**********************************************/

.editor-header{
	width: 100%;
}

.editor-header h2{
	font-size: 1.4rem;
	font-weight: 300;
	margin-top: 0;
}

.editor-info ul{
	list-style: none;
	margin-left: 0;
}

.editor-info li{
	font-size: .85rem;
	padding: 2px 0;
}

.editor-info li span{
	font-weight: 600;
}

.request-changes{
	margin-top: 15px;
}

.profile{
	margin-bottom: 50px;
	min-height: 300px;
}

.edit-section {
	display: none;
}

/*********************************************
 Overview
**********************************************/

.result-title {
	color: white !important;
}

.results-editor:hover {
background-color: #ffe;
}

.results-editor {
	margin-bottom: 20px;
	background-color: #f2f2f2;
	-webkit-transition: background .2s ease-in-out;
	-moz-transition: background .2s ease-in-out;
	ms-transition: background .2s ease-in-out;
	o-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.editor-timeline{
	min-height: 346px;
	position: relative;
	margin-top: 30px;
}

.editor-timeline .row {
	position: relative;
	margin-left: 0;
}

.editor-picture-profile {
	position: absolute;
	top: -70px;
	width: 120px;
	height: 120px;
	background: #f2f2f2;
	border: 4px solid #fff;
	z-index: 10;
}

.password {
	color: #32C0D1;
	cursor: pointer;
}

.password-input {
	width: 100px !important;
	height: 30px !important;
	margin-top: 10px;
}

.password-button, .lt-btn, .lt-btn-left {
	padding: 5px;
	font-size: 12px;
}

.lt-btn-left{
	float: left !important;
}

/** Colaborator edit widgets ****/

.doctor-photo {
	margin-top: 32px !important;
}

.add-doctor-content{
	margin-bottom: 20px;
	margin-left: 0;
}

.payment-mode {
	margin-top: -5px !important;
}

.add-photo {
	margin-bottom: 30px;
}

.clinic-image {
	height: 120px;
	width: 120px;
	float: left;
	margin-left: 20px;
}

.clinic-name {
	text-align: center;
	font-weight: bold;
}

.about-hours {
	width: 100px !important;
	height: 27px !important;
}

.in-front-checkbox {
	margin-top: -3px !important;
}

.gallery-close-button {
	background-image: url('../img/close.png');
	width: 42px;
	height: 42px;
	right: -246px;
	top: -220px;
	margin-left: 0;
	z-index: 2;
	cursor: pointer;
	position: relative;
}

.overview-edit-image {
	background-image: url('../img/edit.gif');
	width: 58px;
	height: 20px;
	cursor: pointer;
	margin-bottom: -20px;
	z-index: 2;
	margin-left: 0;
	position: relative;
}

#offer {
	cursor: pointer;
}

#offer_input {
	margin-top: 10px;
	width: 300px;
}

.select-review {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 290px;
}

.testimonial-class {
	cursor: pointer;
}

/**** popup *****/

#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 4;
}

.content-popup {
	text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    width: 400px;
    height: 350px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 2px 5px #666666;
    z-index: 5;
}

.close {
    position: relative;
	margin-top: -25px;
	margin-right: -25px;
	cursor: pointer;
	opacity: 1;
	z-index: 5;
}

.treatment-table {
	max-width: 150%;
	width: 120%;
}

.table-reviews td {
	padding: 10px;
}

#link-id{
	width: 450px;

}

#link-id-label{
	margin-top: 10px;
}

#location-form {
	margin-left: 30px;
}

#location-frame {
	width: 700px;
	height: 200px;
}

#map-preview {
	margin-top: 20px;
}

.input-edit-short {
	width: 100% !important;
	height: 30px !important;
}

.input-edit-textarea {
	width: 100% !important;
	height: 70px !important;
}

.input-edit-large {
	width: 170px;
	height: 30px !important;
}

.input-edit-xlarge {
	width: 250px;
	height: 30px !important;
}

/* Timepricker overwrite */
span.k-picker-wrap, span.k-state-default{
	width: 100px !important;
}

span.about-hours{
	margin-right: 25px !important;
}

.green {
	color: #78BA00;
}
/*** Prices arrows ***/
.icon-arrow-up, .icon-arrow-down {
	cursor: pointer;
}

.arrow-space {
	width: 16px;
	float: left;
	margin-top: -15px;
}

.treatment-arrows {
	margin-top: -35px;
	float: right;
}

/*********************************************
 Modal Add Treatment
**********************************************/

.add-treatment-header{
	background-color: #32c0d1;
	padding: 0.5em 1em;
	position: relative;
	border-radius: 6px 6px 0 0;
}

.add-treatment-header h3{
	font-size: 2em;
	font-weight: 300;
	color: #fff;
	margin: 0;
}

.add-treatment-header .close{
	top: 34px;
	right: 25px;
}

.modal-add-treatment select{
	width: 100%;
}

.modal-name {
	margin-left: 10px;
	width: 88%;
}

.modal-description {
	height: 150px;
	margin-top: 5px;
	width: 99%;
}

.modal-list-treatments{
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #c9c9c9;
	padding: 5px;
	margin: 0;
	height: 240px;
}

.category-treatment, .modal-body p{
	font-size: 1.125em;
	font-weight: 300;
}

.modal-list-treatments label{
	margin-left: 10px;
	margin-bottom: 5px;
	display: inline-block;
	max-width: 500px;
	width: 100%;
	font-weight: 300;
	color: #808080;
}

.modal-list-treatments input[type="checkbox"]{
	margin-top: 0;
}

.request-new-treatment{
	color: #32c0d1;
	float: left;
	font-weight: 300;
	font-size: 0/625em;
}

.modal-add-treatment button{
	font-weight: 300;
}

/* Modal Price */
.modal-footer {
	background-color: white;
}

.message-price-collaborator {
	margin-top: 10px;
	width: 100%;
	background-color: #f2f2f2;
}