body {
  color:#808080;
}

body, h1, h2, h3, h4, h5, h6, p,li,a,.tabs dd>a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

p, li, label {
color: #808080;
font-weight: 300;
font-size: 1rem;
}

a{color: #21c0d1;}
/*
a:not(.button):hover, a:not(.button):focus{
	color: #21c0d1;
	border-bottom: 1px solid #21c0d1;
}
*/

h1, h2, h3, h4, h5, h6{
	letter-spacing: -1px;
}

.row{
	max-width: 71.25rem;
}

h3{
	color: #808080;
	font-size: 1.5rem;
}

legend{
	font-weight: 400;
	margin-bottom: 1rem;
	margin-top: .250rem;
}

textarea {
	margin-bottom: 1rem;
	min-height: 6rem;
}

.home, .content, .profile, .destination, .procedures, .article{
	padding-right: 1.875rem;
}

button.tiny, .button.tiny{
	font-size: 0.875rem;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	font-size: 1rem;
	height: 3rem;
	margin-bottom: 1.750rem;
}

form label {
	margin-bottom: 0.625rem;
}

[data-abide] .error small.error,
[data-abide] span.error,
[data-abide] small.error{
	position: absolute;
	top: 10px;
	right: 28px;
	color: #f04124;
	background: transparent;
	padding: 0;
}

[data-abide] .error label + input + small.error,
[data-abide] .error label + select + small.error{
	position: absolute;
	top: 40px;
	right: 26px;
	margin: 0;
	padding: 0;
}

[data-abide] .error small.error.error-checkbox{top: 28px;}

.error input, .error textarea, .error select{
	border-color: #f04124;
/*	background-color: rgba(198, 15, 19, 0.1);*/
}

.error textarea{margin-bottom: 1rem;}

/*
[data-abide] .error{
	background: rgba(198, 15, 19, 0.1);
	margin-bottom: 1rem;
	border-bottom: 1px solid #f04124;
	border-top: 1px solid #f04124;
}
*/

/*********************
- Header
**********************/

.fixed-bar{
	background-color: #4d4d4d;
}

.fixed-bar .button{
	padding: 0.25rem 1.25rem;
	margin: 0.3125rem 0 0.625rem;
}

.fixed-bar .search-form{
	margin-bottom: 0;
}

.search-form .inline{
	margin-left: 0.625rem;
	margin-bottom: 0.375rem;
	margin-top: 0.375rem;
	float: left;
}

.fixed-bar .search-form label{
	color: #fff;
	float: left;
	margin: 0.25rem 0;
	margin-right: 0.5625rem;
}

.fixed-bar .search-form input[type="text"]{
	float: left;
	width: 156px;
	height: 30px;
	margin-bottom: 0;
	font-size: 0.8125rem;
}

.search-form .button{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	box-shadow: none;
	font-size: 0.9375rem;
}

.fixed-bar .toll-free{
	color: #fff;
	font-size: 0.875rem;
}

.fixed-bar .toll-free span{
	font-size: 1.375rem;
	font-weight: 600;
}

.navigation{
	background-color: #fff;
	width: 100%;
}

.navigation .top-bar{
	min-height: 70px;
}

.navigation .top-bar .name a{
	display: block;
	margin: 0.875rem auto;
}

.navigation .top-bar,
.navigation .top-bar.expanded .title-area{
	background: transparent;
}

.navigation .top-bar .toggle-topbar.menu-icon a{
	color: #999;
}

.navigation .top-bar .toggle-topbar.menu-icon a:after{
	box-shadow: 0 10px 0 1px #999,0 16px 0 1px #999,0 22px 0 1px #999;
}

.navigation .top-bar.expanded .toggle-topbar a{
	color: #ddd;
}

.navigation .top-bar.expanded .toggle-topbar a:after{
	box-shadow: 1px 10px 1px 1px #ddd,1px 16px 1px 1px #ddd,1px 22px 1px 1px #ddd;
}

.navigation .top-bar-section ul{
	background: transparent;
}

.navigation .top-bar-section ul li>a{
	font-family: 'Open Sans', sans-serif;
}

.navigation .top-bar-section ul li{
	margin-left: 5px;
	margin-right: 5px;
}

.navigation .top-bar-section li:not(.has-form) a:not(.button){
	background: transparent;
	color: #808080;
	line-height: 30px;
	margin: 1.1875rem 0;
	border: 1px solid transparent;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	border: 1px solid #21c0d1;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover,
.top-bar-section li:not(.has-form) a:not(.button):hover{
	border: 1px solid #ddd;
	background: transparent;
}

/* Mega-Dropdown */

.top-bar-section .mega-dropdown{
	position: static;
}

.top-bar-section .mega-dropdown ul{
	display: none;
	width: 100%;
	overflow: visible;
	clip: auto;
	left: auto;
	right: 0;
	top: auto;
	position: absolute;
	z-index: 99;
	background-color: #f2f2f2;
}

.top-bar-section .mega-dropdown:hover ul{
	display: inline-block;
}

.top-bar-section .mega-dropdown li:not(.has-form) a:not(.button){
	margin-top: .875rem;
	margin-bottom: .875rem;
}

.top-bar-section .mega-dropdown li:not(.has-form) a:not(.button):hover{
	color: #333;
	border: 1px solid transparent;
}

.top-bar-section .mega-dropdown ul.level-1{
	max-width: 100%;
}

.top-bar-section .mega-dropdown ul.level-1 > li{
	width: 19.7%;
	display: inline-block;
	padding: 0.5rem;
	position: relative;
	margin: 0;
}

.top-bar-section .mega-dropdown ul.level-1 > li{
	float: none;
}

.top-bar-section .mega-dropdown ul.level-1 p {
	margin-bottom: 5px;
	font-size: 12px;
}

.top-bar-section .mega-dropdown ul.level-1 p > a{
	font-weight: 600;
}

.top-bar-section .mega-dropdown ul.level-2{
	position: relative;
	display: block;
	width: auto;
	float: none;
}

.top-bar-section .mega-dropdown ul.level-2 > li{
	width: 100%;
	margin: 0;
}

.top-bar-section .mega-dropdown ul.level-2 > li:not(.has-form) a:not(.button){
	margin: 0.125rem 0;
	line-height: 1.4;
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #ddd;
}

/*
.top-bar-section .mega-dropdown ul > li > ul > li{
	width: 100%;
	padding: 0;
}

.top-bar-section .mega-dropdown ul > li > ul.submenu > li:not(.has-form) a:not(.button){
	margin: 0;
	font-size: 12px;
}

.mega-dropdown ul > li{

}*/

/*********************
- Banner
**********************/

.banner{
	background-image: url('../img/new/banner.jpg');
	background-size: cover;
	width: 100%;
	background-position: 50% 50%;
	margin-bottom: 2.5rem;
}

.banner h2{
	color: #808080;
	font-size: 2.125rem;
	line-height: 2.125rem;
	margin-top: 5.25rem;
}

.banner h2 span{
	font-size: 6.125rem;
	font-weight: 700;
}

.banner h2 i{
	font-size: 1.5rem;
}

.button-content{
	float: right;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 1rem;
	margin-bottom: 1.75rem;
}

.button-content .button{
	margin: 0;
}

/*********************
- Content
**********************/

.row[role=main]{
	margin-bottom: 4.5rem;
}

.page-title{
	background-color: #f6f6f6;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	margin-bottom: 2.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.page-title h2{
	color: #808080;
	font-size: 2rem;
}

.sm-breadcrumbs{
	float: right;
	display: block;
	padding: 0.5rem 0.77778rem 0.5rem;
	overflow: hidden;
	margin: 0.5rem 0;
	list-style: none;
}

.sm-breadcrumbs li{
	margin: 0;
	float: left;
	font-size: 0.75rem;
}

.sm-breadcrumbs li a{
	color: #808080;
}

.sm-breadcrumbs li.current a{
	color: #21c0d1;
}

.sm-breadcrumbs > *:first-child:before {
	content: " ";
	margin: 0;
}

.sm-breadcrumbs > *:before {
	content: "❯";
	color: #ccc;
	margin: 0 0.66667rem;
	position: relative;
	top: 1px;
}

.content h3{
	font-size: 1rem;
	font-weight: 600;
	color: #808080;
}

/*********************
- Home
**********************/

.home h2{
	color: #808080;
	font-size: 36px;
}

.home .how [class*="column"] img{
	width: 100%;
	margin-bottom: 0.5rem;
}

.home .how [class*="column"] p{
	line-height: 1.2;
}

/*********************
- About Us
**********************/

.about-form{
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 1.125rem;
}

/*********************
- Destinations
**********************/

.destination figure{
	margin: 0;
	margin-bottom: 2rem;
}

.destination section{
	margin-bottom: 2rem;
}

.destination section h1{
	font-size: 1.5rem;
	color: #808080;
}

/* Tabs */

.l-tabs,
.hospitals{
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
}

.head-tabs,
.hospitals .head{
	border-bottom: 1px solid #ddd;
	padding: 0.3125rem 0.625rem;
}

.head-tabs h3,
.hospitals .head h3{
	font-size: 1.375rem;
	color: #808080;
}

.l-tabs .tabs.vertical{
	border-right: 1px solid #ddd;
}

.l-tabs .tabs-content.vertical>.content{
	padding: 0.9375rem;
}

.l-tabs .tabs-content.vertical{
	margin-bottom: 0;
}

.l-tabs .tabs-content>.content p,
.l-tabs .tabs dd>a{
	font-size: 0.9375rem;
	color: #808080;
}

.l-tabs .tabs.vertical dd{
	border-bottom: 1px solid #ddd;
}

.l-tabs .tabs.vertical dd:last-child,
.hospitals li:last-child{
	border-bottom: 0;
}

.l-tabs .tabs dd>a{
	padding: 0.5rem;
}

.l-tabs .tabs dd.active a{
	background-color: #f7f7f7;
}

.hospitals ul{
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0 10px;
}

.hospitals li{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding: 10px 0;
}

.hospitals figure{
	margin: 0;
	padding-right: 5px;
	width: 30%;
	float: left;
}

.hospitals li img{
	border-radius: 50%;
}

.hospitals li p{
	float: left;
	width: 70%;
	margin-bottom: 0;
	font-size: 0.875rem;
}

.hospitals li a{
	color: #21c0d1;
}

.hospitals li a:hover,
.hospitals li a:active{
	border-bottom: 1px dotted #21c0d1;
}

/*********************
- Medical Procedures
**********************/

.mp-list,
.mp-list ul{
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
}

.mp-list li > p{
	margin-bottom: 0.3125rem;
	font-size: 0.75rem;
}

.mp-list > li{
	margin-bottom: 1rem;
}

.mp-list ul > li{
	border-bottom: 1px solid #ddd;
	padding: 0.3125rem 0;
}

.mp-list li > a{
	color: #808080;
}

.mp-list li > a:hover{
	color: #333;
}

/*********************
- Blog
**********************/

.article article{
	margin-bottom: 1rem;
	display: inline-block;
	width: 100%;
}

.article figure{
	margin: 0;
	margin-bottom: 0.875rem;
	position: relative;
}

.article .ribbon{
	background-color: rgba(255,255,255,.9);
	padding: 0.375rem 1rem;
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 1rem;
}

.article .ribbon h2{
	font-size: 1.375rem;
	margin: 0;
}

.article .ribbon a{
	color: #808080;
}

.article .ribbon a:hover{
	color: #b3b3b3;
}

.article .meta-time{
	font-size: 12px;
}

.article .archive-excerpt{
	margin-top: 1rem;
}

/* tags */

.single-tags{
	margin-bottom: 2.5rem;
}

.single-tags strong{
	margin-right: 0.625rem;
}

.single-tags a{
	border: 1px solid #21c0d1;
	color: #21c0d1;
	padding: 6px;
	font-size: 12px;
	border-radius: 4px;
}

.single-tags a:hover{
	color: #fff;
	background-color: #21c0d1;
}

/* Pagination */

.paginator{
	margin-top: 2.5rem;
}

.paginator .page-links{
	float: left;
}

.paginator .page-links{
	border: 1px solid #ddd;
	border-radius: 5px;
}

.paginator .page-links a{
	padding: 0.625rem 1.25rem;
	float: left;
	color: #999;
	font-size: 1.125rem;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.paginator .page-links a:first-child{
	border-left: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.paginator .page-links a:last-child{
	border-left: none;
	border-right: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.paginator .page-links a:hover{
	background-color: #f2f2f2;
}

.paginator .page-links a.current{
	background-color: #21c0d1;
	color: #fff;
}

.paginator .page-nav{
	float: right;
}

/* Aqua */
.paginator .page-nav .button{
	background-color: #ccc;
	color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0px 5px 0px 0px #b3b3b3;      
	box-shadow: 0px 5px 0px 0px #b3b3b3;
}

.paginator .page-nav .button:hover{
	color: #ccc;
	background-color: transparent;
}

.paginator .page-nav .button:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #b3b3b3;
	        box-shadow: 0px 2px 0px 0px #b3b3b3;
}

/*********************
- Author and Doctors
**********************/

.author-info,
.doctor-info{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0.9375rem;
	padding-left: 8.125rem;
	position: relative;
	margin-bottom: 2rem;
}

.doctor-info{margin-top: 4rem;}
.doctor-info .button{margin-bottom: 0.5rem;}

.author-info .author-avatar,
.doctor-info .doctor-avatar{
	width: 9rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: -2.1875rem;
	top: -1.875rem;
	margin: 0;
}

.doctor-info .doctor-avatar{
	width: 8.75rem;
	height: 8.75rem;
}

.author-info .author-description h3,
.doctor-info .doctor-description h3{
	color: #808080;
	font-size: 21px;
}

.doctor-skills ul{
	list-style: none;
	margin-left: 0;
}

.doctor-skills li{
	font-weight: 600;
}

.doctor-skills li span{
	font-weight: 300;
}

ul.social{
	list-style: none;
	overflow: hidden;
	margin-left: -0.625rem;
	margin-bottom: 0.5rem;
}

ul.social li{
	float: left;
	display: block;
	margin-left: 0.625rem;
}

ul.social li a{
	border-radius: 50%;
}

ul.social li a:hover{
	opacity: 0.5;
}

/* Comment Form */

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form textarea{
	border-radius: 5px;
}

.comments h4{
	font-size: 1.5rem;
	color: #666;
	margin-bottom: 1.5rem;
}

.comments figure img{
	width: 4.875rem;
	border-radius: 50%;
	overflow: hidden;
	display: block;
	margin: 1rem auto;
}

.comments h3{
	font-size: 21px;
	color: #808080;
}

.comments .comment-meta{
	font-size: 0.75rem;
	padding-left: 0.5rem;
}

#slidecontainer {
	border-top-left-radius: 5px;
}

#slidecontainer #slideinner{
	border-top-left-radius: 5px;
	border-top: 1px solid #21c0d1;
	border-left: 2px solid #21c0d1;
	border-bottom: none;
	border-right: none;
}

#slidecontainer .slide-post-title a{
	color: #21c0d1;
	font-size: 0.875rem;
}

#slidecontainer span#btnClose{
	color: #808080;
	opacity: 0.9;
}

#slidecontainer span#btnClose:hover{
	opacity: 1;
}

/*********************
- Sidebar
**********************/

aside.sidebar{
	padding-top: 1.5rem;
	border-radius: 5px;
	border: 1px solid #ddd;
}

aside.sidebar [class*="module"]{
	margin-bottom: 2rem;
}

.sidebar h3{
	font-size: 1.3125rem;
	color: #808080;
}

/***** Modules ******/

/* Social */
.module-social ul{
	list-style: none;
	overflow: hidden;
	margin-left: -0.625rem;
	margin-bottom: 0;
}

.module-social li{
	float: left;
	display: block;
	margin-left: 0.625rem;
}

.module-social li a{
	border-radius: 50%;
}

.module-social li a:hover{
	opacity: 0.5;
}

/* Recent Posts */

.module-recent-post article{
	margin-bottom: 0.500rem;
}

.module-recent-post figure{
	padding: 0 10px 10px 0;
	margin: 0;
	float: left;
	width: 30%;
}

.module-recent-post section{
	float: left;
	width: 70%;
}

.module-recent-post section > h3{
	line-height: 1;
	margin: 0;
}

.module-recent-post section > h3 > a{
	font-size: 0.9375rem;
	color: #808080;
}

.module-recent-post section > h3 > a:hover,
.module-recent-post section > h3 > a:active{
	color: #b3b3b3;
}

.module-recent-post hr{
	margin: 5px;
}

/*
.module-recent-post [class*="column"]+[class*="column"]:last-child{
	border-bottom: 1px solid #ddd;
	padding-bottom: 0.5rem;
}
*/

/* Popular Treatments */

.module-popular-treatments ul{
	list-style: none;
	margin-left: 0;
}

.module-popular-treatments li{
	border-bottom: 1px solid #ddd;
	padding: 0.5rem 0;
	line-height: 1.2;
}

.module-popular-treatments li > a{
	font-size: 0.875rem;
	color: #808080;
}

.module-popular-treatments li > a:hover{
	color: #b3b3b3;
}

/* Newsletter */

.module-newsletter{
	display: inline-block;
	width: 100%;
}

.module-newsletter input[type="submit"]{
	padding: 0.5rem 1.625rem;
	margin-bottom: 0;
}

.newsletter-loading {
	display: none;
	width: 270px;
	height: 170px;
	text-align: center;
	vertical-align: middle;
	border-color: #FCB330;
	border-width: 3px;
	border-style: solid;
}

/* Module Champagne (Profile) */

.module-champagne a{
	display: block;
	margin-bottom: 1.125rem;
}

/*********************
++++++++++++++++++++++++++++++++++++++
- Clinic Profile
++++++++++++++++++++++++++++++++++++++
**********************/

.header-timeline{
	margin-bottom: 2rem;
}

.header-timeline figure{
	margin: 0;
	margin-bottom: 12px;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 10px;
}

.star-holder{
  cursor: default;
  position: relative;
  height: 20px;
  width: 100px;
  background: url('../img/star.png') repeat-x 0px -40px;
  float: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.star-selectionable {
  cursor: pointer;
}

.star-rating {
  background: url('../img/star.png') repeat-x top left;
  height: 20px;
  float: left;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.results-meta{
	font-size: .75rem;
	display: inline-block;
	margin-top: 0.5rem;
}

.results-meta a{
	color: #32C0D1;
}

.info-location {
	font-size: .75rem;
	color: #636363;
	margin: 5px 0 15px;
}

.profile [class*="column"]+[class*="column"]:last-child{
	float: left;
}

/* Nav Profile */

.nav-profile{
	width: 100%;
}

.nav-profile ul{
	width: auto;
	list-style: none;
	margin: 0;
	background-color: #fff;
}

.nav-profile li{
	float: left;
  border: 1px solid #ddd;
	border-right: none;
}

.nav-profile li:first-child,
.nav-profile li:first-child.active > a{
	border-bottom-left-radius: 5px;
}

.nav-profile li:last-child{
	border-right: 1px solid #ddd;
}

.nav-profile li > a{
	padding: 12px 34px;
	display: block;
	color: #808080;
}

.nav-profile li.active > a{
	background-color: #f2f2f2;
}

.nav-profile .button{
	margin-bottom: 0;
	padding: 14px 38px;
	background-color: #0dd1ff;
}

.profile-title h2 {
	font-size: 2rem;
	color: #808080;
}

/* Profile Elements */

.mini-gallery{
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.jackbox-top-icons,
.jackbox-bottom-icons{
	right: 1rem !important;
}

.table{
	width: 100%;
	border: none;
}

.table tr td{
	border-top: 1px solid #ddd;
	color: #808080;
}

.table tr:last-child td{
	border-bottom: 1px solid #ddd;
	color: #808080;
}

.profile .prices{
	margin-top: 1rem;
}

.profile .prices h3{
	color: #21c0d1;
}

.prices .table thead,
.prices .table tr:nth-of-type(even),
.table.opening tr{
	background-color: transparent;
}

.prices .table thead tr th{
	color: #808080;
	font-weight: 600;
	font-size: 1.125rem;
}

.prices .table td:nth-child(2){
	color: #53d39c;
	font-weight: 400;
}

.prices .table tbody tr:hover{
	background-color: #f2f2f2;
}

/* Reviews */
.profile .review-general{
	margin-bottom: 1.5rem;
}

.profile .review-general h2{
	font-size: 1.5rem;
	color: #808080;
}

.profile .review-general .button{
	width: 100%;
}

.review-resume{overflow: hidden;}
.review-resume p{float: left;}
.review-resume .star-holder{float: right;}

.review-user {
	border-bottom: 1px solid #ddd;
	margin-bottom: 2rem;
	padding-bottom: 1rem;
}

.review-user h4 {
	font-size: 1.125rem;
	color: #808080;
	font-weight: 600;
}

.review-user .star-holder{
	margin-right: 0.625rem;
}

.review-user span {
	font-size: .75rem;
	font-style: italic;
	vertical-align: middle;
}

/* Write Review */
.review-loading-img {
	display: none;
	width: 300px;
	float: right;
}

/* Location */
.map-location > div{
	min-height: 28.125rem;
	margin-bottom: 2.5rem;
}

.map-img{
	margin-bottom: 2rem;
}

.profile .block{margin-bottom: 1.5rem}

/* Contact */

.contact-form input, .contact-form textarea, .contact-form select{border-radius:3px;}

.contact-form a:hover, .contact-form a:focus{
	color: #21c0d1;
	border-bottom: 1px solid #21c0d1;
}

/*********************
- Footer
**********************/

.footer-search{
	background-color: #f2f2f2;
	padding: 2rem 0;
}

.footer-search form{
	margin-bottom: 0;
}

.footer-search label{
	color: #808080;
	font-weight: 300;
	margin-bottom: 0;
	font-size: 1rem;
}

.footer-search input[type="text"]{
	margin-bottom: 0;
}

.footer-search .button{
	width: 100%;
	margin-bottom: 0;
	max-height: 35px;
	padding: 0.3125rem;
}

.footer-bottom{
	background-color: #4d4d4d;
	padding: 2rem 0;
}

.footer-bottom .imagotype{
	background: url('../img/new/sprite.svg') -140px -4px no-repeat;
	width: 60px;
	height: 36px;
	float: left;
}

.footer-bottom p{
	color: #fff;
	font-size: 0.875rem;
	margin-left: 0.5rem;
	float: left;
}

.footer-bottom .imagotype + p{
	margin-top: 0.625rem;
}

.footer-bottom ul{
	margin-bottom: 0;
}

.footer-bottom li{
	margin-left: 1rem;
}

.footer-bottom li:nth-child(1),
.footer-bottom li:nth-child(3){
	margin-top: 0.125rem;
}

.footer-bottom li a{
	font-size: 0.875rem;
	color: #fff;
}

.footer-bottom .button{
	padding: 0.3125rem 1.25rem;
	margin-bottom: 0;
}

/*********************
++++++++++++++++++++++++++++++++++++++
- Admin Profile
++++++++++++++++++++++++++++++++++++++
**********************/

.login h3{
	font-size: 1.5rem;
	font-weight: 400;
}

.login form input{
	border-radius: 3px;
}

.login button{
	width: 50%;
	margin-right: 0.75rem;
}

.login .lost-pass{
	display: block;
	float: right;
	font-size: 14px;
	margin-top: -14px;
	color: #53d39c;
}

.login .lost-pass:hover{
	border-bottom: 1px solid #53d39c;
	padding-bottom: .188rem;
}

/*********************
- Icons
**********************/

[class*="icon-"]{
	display: inline-block;
	vertical-align: middle;
}

.icon-facebook{
	background: #3b5998 url('../img/new/sprite.svg') -217px -2px no-repeat;
	width: 36px;
	height: 36px;
}

.icon-twitter{
	background: #00aced url('../img/new/sprite.svg') -264px -2px no-repeat;
	width: 36px;
	height: 36px;
}

.icon-google-plus{
	background: #dd4b39 url('../img/new/sprite.svg') -310px -2px no-repeat;
	width: 36px;
	height: 36px;
}

.icon-youtube{
	background: #e52d27 url('../img/new/sprite.svg') -358px -2px no-repeat;
	width: 36px;
	height: 36px;
}

.icon-rss{
	background: #ef9f00 url('../img/new/sprite.svg') -405px -3px no-repeat;
	width: 36px;
	height: 36px;
}

/*********************
- Buttons
**********************/

.button{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 0.65rem 1.750rem;
}

[class*="btn-"]:hover{
	background-color: transparent;
}

/* Aqua */
.btn-aqua{
	background-color: #21c0d1;
	color: #fff;
	border: 1px solid #21c0d1;
	-webkit-box-shadow: 0px 5px 0px 0px #1ca5b4;      
	box-shadow: 0px 5px 0px 0px #1ca5b4;
}

.btn-aqua:hover{
	color: #21c0d1;
}

.btn-aqua:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #1ca5b4;
	        box-shadow: 0px 2px 0px 0px #1ca5b4;
}

/* Green */
.btn-green{
	background-color: #53d39c;
	color: #fff;
	border: 1px solid #53d39c;
	-webkit-box-shadow: 0px 5px 0px 0px #32c284;      
	box-shadow: 0px 5px 0px 0px #32c284;
}

.btn-green:hover{
	color: #53d39c;
}

.btn-green:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #32c284;
	        box-shadow: 0px 2px 0px 0px #32c284;
}

/* Orange */
.btn-orange{
	background-color: #ff981c;
	color: #fff;
	border: 1px solid #ff981c;
	-webkit-box-shadow: 0px 5px 0px 0px #e87f00;      
	box-shadow: 0px 5px 0px 0px #e87f00;
}

.btn-orange:hover{
	color: #ff981c;
}

.btn-orange:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #e87f00;
	        box-shadow: 0px 2px 0px 0px #e87f00;
}

/* Blue */
.btn-blue{
	background-color: #0dd1ff;
	color: #fff;
	border: 1px solid #0dd1ff;
	-webkit-box-shadow: 0px 5px 0px 0px #00beea;      
	box-shadow: 0px 5px 0px 0px #00beea;
}

.btn-blue:hover{
	color: #0dd1ff;
}

.btn-blue:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #00beea;
	        box-shadow: 0px 2px 0px 0px #00beea;
}

/* Purple */
.btn-purple{
	background-color: #662d91;
	color: #fff;
	border: 1px solid #662d91;
	-webkit-box-shadow: 0px 5px 0px 0px #542577;      
	box-shadow: 0px 5px 0px 0px #542577;
}

.btn-purple:hover{
	color: #662d91;
}

.btn-purple:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #542577;
	        box-shadow: 0px 2px 0px 0px #542577;
}

/* Red */
.btn-red{
	background-color: #e81123;
	color: #fff;
	border: 1px solid #e81123;
	-webkit-box-shadow: 0px 5px 0px 0px #c80f1e;      
	box-shadow: 0px 5px 0px 0px #c80f1e;
}

.btn-red:hover{
	color: #e81123;
}

.btn-red:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #c80f1e;
	        box-shadow: 0px 2px 0px 0px #c80f1e;
}

/* Smoke */
.btn-smoke{
	background-color: #fff;
	color: #808080;
	border: 1px solid #808080;
	-webkit-box-shadow: 0px 5px 0px 0px #808080;      
	box-shadow: 0px 5px 0px 0px #808080;
}

.btn-smoke:hover{
	background-color: #999;
	color: #fff;
}

.btn-smoke:active {
	top:3px;
	-webkit-box-shadow: 0px 2px 0px 0px #808080;
	        box-shadow: 0px 2px 0px 0px #808080;
}

/* White */
.btn-white{
	background-color: transparent;
	color: #fff;
	border: 1px solid #fff;
}

.btn-white:hover{
	background-color: #fff;
	color: #4d4d4d;
}

