@import "./reset.css";
@import "./rockstar.map.css";

body {
  font-size: 62.5%; /* Causes base font size to be ~10px */
	background-color: white;
	color: white;
	font: 12px/18px helvetica, tahoma, sans-serif;
}

header {
	width: 640px;
	margin: 0 auto;
}

.line-wrap {
	position: relative;
	margin: 60px 0 20px 0;
	width: 100%;
	text-align: center;
}
.line-wrap .line {
	position: absolute;
	left: 0;
	top: 0;
	height: 3px;
	background: url('../img/dots.png') repeat-x;
	width: 45%;
}
.line-wrap .line-right {
	left: auto;
	right: 0;
}
.star {
	margin-top: -33px;
	display: inline-block;
	width: 68px;
	height: 66px;
	background: url('../img/star.png');
}

header > h1 {
	margin-top: 20px;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
}
header > p {
	font-size: 16px;
	font-weight: 100;
	font-style: italic;
	line-height: 22px;
	text-align: center;
}
.map-wrap {
	margin: 40px auto;
	width: 65%;
}
.line-fullwidth {
	width: 100%;
	height: 3px;
	margin: 60px 0;
	background: url('../img/dots.png') repeat-x;
}

article {
	width: 640px;
	margin: 0 auto;
}

article > h2 {
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	margin-bottom: 40px;
}

article > h3 {
	margin-top: 40px;
	line-height: 36px;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}

article > h4 {
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	margin-top: 20px;
}

footer {
	width: 640px;
	margin: 20px auto;
	text-align: center;
}

.code {
	background: black;
	padding: 10px;
	margin: 10px;
	font: 12px/18px 'monaco', monospace;
	border: 1px solid rgba(255,255,255,0.2);
}




