@media only screen and (max-width: 40em) { 
	
	html{
		height: 100%;
	}
	
	.navigation .top-bar{
		min-height: 68px;
	}

	.navigation .top-bar-section li:not(.has-form) a:not(.button){
		margin: 0.625rem 0;
		line-height: 24px;
	}

	.top-bar-section ul li>a{
		padding: 0.375rem;
	}
	
	/* Design Mobile */
	
	.mobile{
	}

	.mobile .mHome{
		background-color: #f2f2f2;
		min-height: 20rem;
	}
	
	.mHome form{
		margin: 3rem 0;
	}

	.mHome form label{
		color: #808080;
		font-size: 1rem;
	}

	.mHome form input[type="text"]{
		border-radius: 3px;
		min-height: 2.5rem;
	}

	.mHome form .button,
	.mHome form input[type="submit"]{
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.mHome .toll-free{
		color: #808080;
		font-size: 0.875rem;
		text-align: center;
	}

	.mHome .toll-free span{
		font-size: 1.375rem;
		font-weight: 600;
	}

	.top-bar-section .mega-dropdown:hover ul{
		display: none !important;
	}
	
	/* Banner */

	.banner h2{
		margin-top: 3.25rem;
	}

	.banner h2 span{
		font-size: 5.125rem;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) { 
	.tabs.vertical{
		width: 25%;
	}
	.tabs-content.vertical{
		width: 75%;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */