{% load i18n future mezzanine_tags %}

<section class="span5 block-content">
  <header class="entry-header">
      <h3>{% trans "Top Clinics" %}</h3>
  </header>

  {% for clinic in clinics %}
  <!-- Article -->
  <article class="top-entry">
    <figure class="pull-left">
      <a href="{{ clinic.get_absolute_url }}">
        <img src="{{ MEDIA_URL }}{% thumbnail clinic.image_profile 100 100 %}" alt="" class="visible-desktop">
        <img src="{{ MEDIA_URL }}{% thumbnail clinic.image_profile 320 320 %}" alt="" class="hidden-desktop">
      </a>
    </figure>

    <section class="entry-content">
      <header class="entry-head">
        <h2><a href="{{ clinic.get_absolute_url }}">{{ clinic.name }}</a></h2>
        <span class="entry-meta">{{ clinic.city }}</span>
      </header>
      <p>{{ clinic.category }}</p>
      <a href="{{ clinic.get_absolute_url }}" class="btn-small btn-grey right">{% trans "Read More..." %}</a>
    </section>
  </article>
  <!-- Article -->
  {% endfor %}

</section>