{% load i18n future mezzanine_tags blog_tags keyword_tags embed_video_tags widget_tags %}
<!-- Podcast -->
<section class="span9 block-content right">
  <header class="entry-header">
      <h3>{% trans "Medical Tourism Podcast" %}</h3>
  </header>

  <!-- Article -->
  <article class="single-podcast">
    <figure class="pull-left">
      {% video main_podcast.video as pvideo %}
        {{ pvideo|embed:'435x293' }}
      {% endvideo %}
    </figure>

    <section class="single-podcast-content">
      <header class="entry-head">
        <h2><a href="{{ main_podcast.get_absolute_url }}">{{main_podcast.title}}</a></h2>
        <span class="entry-meta">
          {% blocktrans with sometime=main_podcast.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
        </span>
      </header>
    </section>
  </article>

  {% for podcast in podcasts %}
  <!-- Article -->
  <article class="podcast-entry">
    <figure class="pull-left">
      <a href="{{ podcast.get_absolute_url }}">
        <img class="featured-thumb" src="{{ podcast.get_thumbnail }}" alt="{{ podcast.title }}" width="120" height="90" />
      </a>
    </figure>

    <section class="entry-content">
      <header class="entry-head">
        <h2>
          <a href="{{ podcast.get_absolute_url }}">{{podcast.title}}</a>
        </h2>
        <span class="entry-meta">
          {% blocktrans with sometime=podcast.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
        </span>
      </header>
    </section>
  </article>
  <!-- Article -->
  {% endfor %}
</section>
<!-- Podcast -->