{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags widget_tags %}
<!-- Recent Posts -->
<section class="span5 block-content">
  <header class="entry-header">
      <h3>{% trans "Recent Posts / Medical Travel Tips" %}</h3>
  </header>
  {% for blog_post in recent_posts %}
  <!-- Article -->
  <article class="recent-entry">
    <figure class="pull-left">
      {% if blog_post.image %}
      {% block blog_post_list_post_featured_image %}
      <a href="{{ blog_post.get_absolute_url }}">
        <img class="featured-thumb visible-desktop" src="{{ MEDIA_URL }}{% thumbnail blog_post.image 80 60 %}" alt="{{ blog_post.image_description }}" />
        <img class="featured-thumb hidden-desktop" src="{{ MEDIA_URL }}{% thumbnail blog_post.image 320 180 %}" alt="{{ blog_post.image_description }}" />
      </a>
      {% endblock %}
      {% endif %}
    </figure>

    <section class="entry-content">
      <header class="entry-head">
        {% block blog_post_list_post_title %}
        {% editable blog_post.title %}
        <h2>
          <a href="{{ blog_post.get_absolute_url }}">{{blog_post.title}}</a>
        </h2>
        {% endeditable %}
        {% endblock %}
        <span class="entry-meta">
          {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
        </span>
      </header>
    </section>
  </article>
  {% endfor %}
</section>
<!-- /Recent Posts -->