{% load mezzanine_tags %}
{% load sanico_tags %}

<!-- Profile -->
<div class="author-info">
  <!-- Avatar -->
  <figure class="author-avatar">
    {% if profile.image %}
    <img src="{{ MEDIA_URL }}{% thumbnail profile.image 200 200 %}" alt="" class="media-object" />
    {% else %}
    <img src="{% sanico_gravatar_url comment.email 200 %}" alt="" class="media-object" />
    {% endif %}
  </figure>
  <!-- /Avatar -->
  <div class="author-description">
    <h3>{{blog_post.user.get_full_name}}</h3>
    <p>
      {% if profile.bio %}
        {{profile.bio|safe}}
      {% else %}
        No bibliography.
      {% endif %}
    </p>
    <ul class="social">
      {% if profile.facebook %}
      <li>
        <a class="icon-facebook" href="{{profile.facebook}}" target="_blank"></a>
      </li>
      {% endif %}
      {% if profile.twitter %}
      <li>
        <a class="icon-twitter" href="{{profile.twitter}}" target="_blank"></a>
      </li>
      {% endif %}
      {% if profile.google_plus %}
      <li>
        <a class="icon-google-plus" href="{{profile.google_plus}}" target="_blank"></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<!-- /Profile -->