<div class="span9 socialmedia-content">
    <a href="http://www.facebook.com/sharer.php?u={{post_url}}" target="_blank" title="Share this page on Facebook"><span class="shared-facebook">&nbsp;</span></a>

    <a href="http://twitter.com/share?url={{post_url}}" target="_blank" title="Tweet this page on Twitter"><span class="shared-twitter">&nbsp;</span></a>

    <a href="https://plusone.google.com/_/+1/confirm?hl=en&url={{post_url}}" target="_blank" title="Plus one this page on Google"><span class="shared-googleplus">&nbsp;</span></a>
</div>