{% load mezzanine_tags i18n %}
<!-- Top Clinics -->
<article class="span9 results" itemscope itemtype="http://schema.org/LocalBusiness">
  <header class="results-header results-simple-clinic" data="{{clinic.category.id}}">
      <h3 itemprop="name"><a href="{{clinic.get_absolute_url}}">{{clinic.name}}</a></h3>
      <p itemprop="address" class="address">{{clinic.city}} / {{clinic.country}}</p>
  </header>

  <section class="results-box">
    <!-- image -->
    <figure class="pull-left results-img">
      <a href="{{clinic.get_absolute_url}}">
        <img src="{{ MEDIA_URL }}{% thumbnail clinic.image_profile 140 140 %}" alt="">
      </a>
      <p><a href="{% url 'profile_gallery' clinic.slug %}">{{num_photos}} {% trans "Photos" %}</a></p>
    </figure>
    <!-- image -->

    <div class="results-content">
      <!-- Stars -->
      <div class="results-head">
        <div class="star-holder">
          <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_qualification}}0px"></div>
        </div>
          <span class="results-meta">
            <a href="{% url 'profile_reviews_list' clinic.slug %}">
              ({{num_reviews}} {% trans "Patient Reviews" %})
            </a>
          </span>
      </div>
      <!-- /Stars -->

      <!-- Description -->
      <div class="results-description">
        <p itemprop="description" >{{clinic.about|striptags|safe|truncatewords_html:20}}</p>
        <p><span class="description-span">{% trans "Testimonial:" %}&nbsp;</span>{{testimonial|truncatewords_html:30}}<br>
        <span class="results-name-review">{{testimonial_name}}</span></p>

        <p>
          <span class="description-span">{% trans "Language:" %}&nbsp;</span>
          {% if clinic.english %}English&nbsp;{% endif %}
          {% if clinic.spanish %}Spanish&nbsp;{% endif %}
          {{clinic.other}}
        </p>
        <h4>{{clinic.offer}}</h4>
        <a href="{{clinic.get_absolute_url}}" class="btn btn-orange">
          {% trans "Quote from this Clinic" %}
        </a>
      </div>
      <!-- /Description -->
    </div>
  </section>
</article>
<!-- /Top Clinics -->