{% load i18n %}

<div class="module-champagne">
  <h3>{% trans "Plan Your Trip" %}</h3>
  {% for sponsor in sponsors %}
  <a href="{{sponsor.url}}">
    <img src="{{MEDIA_URL}}{{sponsor.image}}" alt="">
  </a>
  {% endfor %}
</div>