<section class="span4 block-champagne">
  <header class="entry-header">
    <h3>Plan Your Trip</h3>
  </header>
  {% for sponsor in sponsors %}
  <div class="home-champagne">
    <a href="{{sponsor.url}}" target="_blank">
      <img src="{{MEDIA_URL}}{{sponsor.image}}" alt="">
    </a>
  </div>
  {% endfor %}
</section>