  {% extends "pages/page.html" %}
  {% load mezzanine_tags i18n %}

  {% block extra_head %}{{block.super}}
  <meta name='thanks_url' data="/medical-tourism-thanks/">
  {% endblock %}

  {% block extra_js %}{{block.super}}
  <script type="text/javascript" src="{{STATIC_URL}}sanico/js/page/landing-page.js"></script>
  {% endblock %}

  {% block extra_css %}{{block.super}}
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
  {% endblock %}


  {% block body_content %}
  

  <!--====== Main ======-->
  <section class="row" role="main">
    <!-- Content -->
    <div class="content medium-9 columns">
      {% block content %}
      {% editable page.richtextpage.content %}
      {{ page.richtextpage.content|richtext_filter|safe }}
      {% endeditable %}

      <div class="row">
        <div class="medium-6 columns">
          <form method="post" action="{% url 'about_form' %}" id="landing-form" class="about-form">
            {% csrf_token %}
            <div class="row">
              <div class="large-12 columns">
                <h4>Want to know more?</h4>
                <input type="hidden" name="page" value="About Sanico">

                <input type="text" name="name" placeholder="Name">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="telephone" placeholder="Telephone (optional)">
                <textarea rows="5" name="message" placeholder="Your message"></textarea>
                <input type="submit" value="Submit" class="button btn-green radius right">
              </div>
            </div>
            
          </form>
        </div>
        <div class="medium-6 columns">
          <div class="flex-video">
            <iframe width="445" height="264" src="//www.youtube.com/embed/supdx3MCTeA?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
    <!-- /Content -->

    <!-- Sidebar -->
      {% include "includes/sidebar.html" %}
    <!-- /Sidebar -->

  </section>
  <!--====== /Main ======-->
  {% endblock %}