{% extends "pages/page.html" %}
{% load mezzanine_tags %}

{% editable page.richtextpage.content %}
{{ page.richtextpage.content|richtext_filter|safe }}
{% endeditable %}

{% block extra_js %}{{block.super}}
<script src="{{ STATIC_URL }}sanico/js/page/add-clinic.js"></script>
{% endblock %}

{% block main %}

<!-- Home Content -->
<section class="container">
  <div class="row">
    <!-- Sidebar -->

    <!-- /Sidebar -->
    <!-- /////////////// Content \\\\\\\\\\\\\\\ -->
    <div class="span12">
      <div class="row">
        <div class="title-page">
          <h2>{% editable page.title %}{{ page.title }}{% endeditable %}</h2>
        </div>
        <div>
          <p>
            {% editable page.richtextpage.content %}
            {{ page.richtextpage.content|richtext_filter|safe }}
            {% endeditable %}
          </p>
        </div>
        <form method="post" action="/add_clinic/" id="add-clinic-id">
          {% csrf_token %}
          <div class="span6 add-clinic">
            <div class="row">
              <h2>Clinic Information</h2>
                <!-- Name of clinic -->
                <label>Name of clinic</label>
                <input type="text" name="clinic_name" class="required">
                <!-- Type of clinic -->
                <label>Category</label>
                  <select name="clinic_desire_appointment" class="required">
                   <option>Dental</option>
                   <option>Medical &amp; Cosmetic Surgery</option>
                   <option>Optical</option>
                   <option>Hospital</option>
                  </select>
                <!-- Country -->
                <!-- <label>Country</label>
                  <select name="clinic_country" class="required">
                   <option>Mexico</option>
                  </select> -->
                  <!-- Website -->
                  <label>Website</label>
                  <input type="text" name="clinic_website">
                  <!-- Email -->
                  <label>Email</label>
                  <input type="text" name="clinic_email" class="required email">
                  <!-- Phone -->
                  <label>Phone (including area code)</label>
                  <input type="tel" name="clinic_phone" class="required digits">
              </div>
            </div>
          <div class="span6 add-clinic">
            <h2>Contact Information</h2>
              <!-- First name -->
              <label>First name</label>
              <input type="text" name="contact_first_name" class="required">
              <!-- Last name -->
              <label>Last name</label>
              <input type="text" name="contact_last_name" class="required">
                <!-- Your Email -->
                <label>Your Email</label>
                <input type="text" name="contact_email" class="required email">
                <!-- Phone -->
                <label>Phone</label>
                <input type="tel" name="contact_phone" class="required digits">
                <!-- Additional comment -->
                <label>Additional comment</label>
                <textarea rows="5" name="contact_comment"></textarea>
          </div>
          <button type="submit" class="btn btn-orange send-form right">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /Home Content -->
<!-- ///////////  End \\\\\\\\ -->
{% endblock %}
