{% extends "pages/page.html" %}
{% load mezzanine_tags i18n future sanico_tags %}

{% block extra_js %}
<script src="{{STATIC_URL}}sanico/js/rockstar.map.js"></script>
<script>
$(document).ready(function() {
  $('#rockstar-map').rmap({
    width : 870,
    height : 500,
    image : {
      src : '{{STATIC_URL}}sanico/img/img.svg'
    },
    menu : {
      show : true
    },zoom : {
      initial : 1,
      max : 6
    }
  });
});
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/rockstar.map.css">
{% endblock %}

{% block body_content %}
{% nevercache %}

{% if request.session.cities_list|length == 0 %}
<div class="span9 results results-top">
    <h5>No results</h5>
</div>
{% else %}
<div class="span9">
  <div class="row cities-list">
    <!-- cities Clinics -->
    {% if 'Los Algodones' in request.session.cities_list %}
    <div class="cities-btn los-algodones">
      <a href="/results/?search={{request.session.search}}&where=Los Algodones">Los Algodones
        <br><span>Mexico</span></a>
    </div>
    {% endif %}

    {% if 'Mexicali' in request.session.cities_list %}
    <div class="cities-btn mexicali">
      <a href="/results/?search={{request.session.search}}&where=Mexicali">Mexicali
        <br><span>Mexico</span></a>
    </div>
    {% endif %}


    {% if 'Tijuana' in request.session.cities_list %}
    <div class="cities-btn tijuana">
      <a href="/results/?search={{request.session.search}}&where=Tijuana">Tijuana
        <br><span>Mexico</span></a>
    </div>
    {% endif %}

    <!--
    {% if 'Tecate' in request.session.cities_list %}
    <div class="cities-btn tecate">
      <a href="/results/?search={{request.session.search}}&where=Tecate">Tecate
        <br><span>Mexico</span></a>
    </div>
    {% endif %}

    {% if 'Ensenada' in request.session.cities_list %}
    <div class="cities-btn ensenada">
      <a href="/results/?search={{request.session.search}}&where=Ensenada">Ensenada
        <br><span>Mexico</span></a>
    </div>
    {% endif %}

    {% if 'Rosarito' in request.session.cities_list %}
    <div class="cities-btn rosarito">
      <a href="/results/?search={{request.session.search}}&where=Rosarito">Rosarito
        <br><span>Mexico</span></a>
    </div>
    {% endif %}
    -->
    <!-- /cities Clinics -->
    <div id="rockstar-map" class="span9">
        {% if 'Los Algodones' in request.session.cities_list %}
        <div class="location" id="loc-0" data-title="Los Algodones" data-x="166" data-y="370">
            <h1>Los Algodones</h1>
            <h2>Baja California, Mexico</h2>
        </div>
        {% endif %}

        {% if 'Mexicali' in request.session.cities_list %}
        <div class="location" id="loc-1" data-title="Mexicali" data-x="158" data-y="370">
            <h1>Mexicali</h1>
            <h2>Baja California, Mexico</h2>
        </div>
        {% endif %}

        {% if 'Tijuana' in request.session.cities_list %}
        <div class="location" id="loc-2" data-title="Tijuana" data-x="136" data-y="372">
            <h1>Tijuana</h1>
            <h2>Baja California, Mexico</h2>
        </div>
        {% endif %}

        <!--
        {% if 'Tecate' in request.session.cities_list %}
        <div class="location" id="loc-3" data-title="Tecate" data-x="140" data-y="367">
            <h1>Tecate</h1>
            <h2>Baja California, Mexico</h2>
        </div>
        {% endif %}

        {% if 'Ensenada' in request.session.cities_list %}
        <div class="location" id="loc-4" data-title="Ensenada" data-x="142" data-y="400">
            <h1>Ensenada</h1>
            <h2>Baja California, Mexico</h2>
        </div>
        {% endif %}

        {% if 'Rosarito' in request.session.cities_list %}
        <div class="location" id="loc-5" data-title="Rosarito" data-x="128" data-y="374">
            <h1>Rosarito</h1>
            <h2>Baja California, Mexico</h2>
        </div>
        {% endif %}
        -->
    </div>
  </div>
</div>
{% endif %}

{% endnevercache %}
{% endblock %}