{% extends "pages/page.html" %}
{% load mezzanine_tags i18n %}

{% block extra_head %}{{block.super}}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
{% endblock %}

{% block extra_js %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/page/contest.js"></script>
{% endblock %}

{% block main %}
<section class="container">
  <div class="row">
    <!-- /////////////// Content \\\\\\\\\\\\\\\ -->
    <div class="title-page">
      <h2>{% trans "Contest" %}</h2>
    </div>

    <div class="span12">
      <img src="{{STATIC_URL}}sanico/img/contest-medical-tourism-01.jpg" class="contest-img">
    </div>

    <div class="span7 add-clinic">
      <h2>{% trans "Submission Guidelines" %}</h2>
      <!-- LIST -->
      {% editable page.richtextpage.content %}
        {{ page.richtextpage.content|richtext_filter|safe }}
      {% endeditable %}
      <!-- /LIST -->
    </div>

    <div class="span5 add-clinic">
      <form method="post" action="{% url 'contest_contact' %}" id="contest-form">
        {% csrf_token %}
        <h2>{% trans "Contest Form" %}</h2>
          <!-- First Name -->
          <label>{% trans "First Name" %}</label>
          <input type="text" name="first_name" class="required">
          <!-- Last Name -->
          <label>{% trans "Last Name" %}</label>
          <input type="text" name="last_name" class="required">
          <!-- Email -->
          <label>{% trans "Email" %}</label>
          <input type="text" name="email" class="required email">
          <!-- Phone -->
          <label>{% trans "Phone (including area code)" %}</label>
          <input type="tel" name="phone" class="required digits">
          <!-- Date of birth -->
          <label>{% trans "Date of birth" %}</label>
          <input type="text" name="birth_date" class="required" id="birthdaypicker">
          <!-- City of residence -->
          <label>{% trans "City of residence" %}</label>
          <input type="text" name="city" class="required">
          <!-- Desired treatment -->
          <label>{% trans "Desired treatment" %}</label>
          <input type="text" name="treatment" class="required">

          <!-- Photo or Video -->
          <label>{% trans "Upload your photo" %}</label>
          <div class="browse-box">
            <div class="browse-input">
              <input style="height: 37px;">
              <img src="{{STATIC_URL}}sanico/img/browse.gif" alt="">
            </div>
            <input type="file" name="photo" class="browse-file required" style="opacity: 0;">
          </div>

          <!-- Share your reason -->
          <label>{% trans "Tell us your story:" %}</label>
          <textarea rows="5" name="story"></textarea>

          <button type="submit" class="btn btn-orange send-information">{% trans "Submit" %}</button>
        </form>
      </div>

  </div>
</section>
{% endblock %}
