{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}
{% load widget_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

	<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "Destinations" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="/">Home</a></li>
          <li class="current"><a href=".">Destinations</a></li>
        </ul>
      </div>
    
    </div>
  </div>
  <!-- /Title -->


<!--====== Main ======-->
<div class="row" role="main">
{% block body_content %}
  <!-- Content -->
  <article class="destination medium-9 columns">
  	<div class="l-tabs">
		  <div class="head-tabs">
		    <h3>Cities</h3>
		  </div>
		  <dl class="tabs vertical" data-tab>
		    <dd class="active"><a href="#mexicali">Mexicali</a></dd>
		    <dd><a href="#los-algodones">Los Algodones</a></dd>
		    <dd><a href="#ensenada">Ensenada</a></dd>
		    <dd><a href="#tijuana">Tijuana</a></dd>
		    <dd><a href="#tecate">Tecate</a></dd>
		  </dl>
		  <div class="tabs-content vertical">
		    <div class="content active" id="mexicali">
		      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quasi, dolores, asperiores, doloremque voluptate quo itaque nam quisquam fugit necessitatibus velit quia modi explicabo sit odio voluptatum eveniet consequuntur recusandae!</p>
		      <a href="" class="button tiny btn-smoke radius right">Read more</a>
		    </div>
		    <div class="content" id="los-algodones">
		      <p>Panel 2 content goes here.</p>
		    </div>
		    <div class="content" id="ensenada">
		      <p>Panel 3 content goes here.</p>
		    </div>
		    <div class="content" id="tijuana">
		      <p>Panel 4 content goes here.</p>
		    </div>
		    <div class="content" id="tecate">
		      <p>Panel 4 content goes here.</p>
		    </div>
		  </div>
		</div>
  </article>
  <!-- /Content -->
  
  {% block sidebar %}
  <!-- Sidebar -->
  {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

{% endblock %}
</div>
<!--====== /Main ======-->
{% endblock %}