{% extends "pages/page.html" %}
{% load i18n %}

{% block extra_js %}
<script src="{{ STATIC_URL }}sanico/js/page/free_qoute.js"></script>
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
{% endblock %}

{% block body_content %}
<div class="span9 profile">
    <div class="profile-title">
      <h2>{% trans "Get free quote" %}</h2>
    </div>
        <hr>
    <div class="row">
        <div class="controls controls-row form-quote">
          <form class="review-form" action="{% url 'send_free_quote' %}" method="post" id="contact-clinic-form">
            <input type="hidden" name="clinic" value="{{clinic.name}}">
            {% csrf_token %}
            <!-- First Name -->
            <div class="span4-half">
              <label>Full name</label>
              <input type="text" name="full_name" class="required">
            </div>
            <!-- Email -->
            <div class="span4-half">
              <label>Email</label>
              <input type="text" name="email" class="required">
            </div>
            <!-- Phone -->
            <div class="span4-half">
              <label>Phone</label>
              <input type="text" name="phone" class="required">
            </div>
            <!-- Date of birth -->
            <div class="span4-half">
              <label>Date of birth (optional)</label>
              <input type="text" name="birth" id="birthdaypicker">
            </div>
            <!-- Residence -->
            <div class="span4-half">
              <label>Residence City/State/Country (optional)</label>
              <input type="text" name="residence">
            </div>
            <!-- Desired City of Destination -->
            <div class="span4-half">
              <label>Desired City of Destination (optional)</label>
              <input type="text" name="desired_city_of_destination">
            </div>
            <!-- Desire Appointment Date -->
            <div class="span4-half">
              <label>Desired Appointment Date</label>
              <input type="text" name="desire_appointment_date" class="required" id="desire_appointment_date">
            </div>

            <!-- Desired Treatment -->
            <div class="span4-half">
              <label>Desired Treatment (optional)</label>
              <input type="text" name="treatment" id="desire_treatment">
            </div>

            <!-- Desire Appointment Date -->
            <div class="span4-half">
              <label>Desired Appointment Time</label>
              <select name="desire_appointment_time" class="required">
               <option>Anytime</option>
               <option>Morning</option>
               <option>Afternoon</option>
               <option>Evening</option>
              </select>
            </div>
            <!-- Desire Appointment Date -->
            <!-- Desire Appointment Date -->
            <div class="span4-half">
              <label>It's best to contact me by:</label>
              <select name="best_to_contact" class="required">
                <option>Phone</option>
                <option>Email</option>
              </select>
            </div>
            <!-- How did you find us? -->
            <div class="span4-half">
              <label>How did you find us?</label>
              <select name="find" size="1" id="find-list" class="required">
               <option value="" selected="selected"> -- </option>
                <option value="acquaintance">Acquaintance</option>
                <option value="Advertising">Advertising</option>
                <option value="Internet Research">Internet Research</option>
              </select>
            </div>
            <!-- /How did you find us? -->
            <!-- hidden -->
            <div class="span4-half" id="acquaintance-name" style="display:none;">
              <label>Name</label>
              <input type="text" name="acquaintance" class="required">
              <p>* For the <strong>"Reward program"</strong> of Class patients</p>
            </div>
            <!-- /hidden -->
            <div class="clearfix"></div>

            <!-- Your Comments -->
            <div class="span9">
              <label>Tell the doctor in detail what you would like to have done:</label>
              <textarea rows="5" name="comment" class="required"></textarea>
            </div>
            <div class="span9">
              <button type="submit" class="btn btn-orange send-form">Submit</button>

              <div class="checkbox">
                <input type="checkbox" id="termsConditions" class="required" name="termsConditions">
                <label for="">I have read and accept the <a href="/terms-conditions/">Terms and Conditions</a> of this web</label>
              </div>
            </div>
          </form>
        </div>
    </div>
</div>
{% endblock %}