{% extends "base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}
{% load widget_tags %}
{% load sanico_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block fb_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block gplus_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

  <!--====== Banner======-->
  <div class="banner">
    <div class="row">
      <div class="medium-6 large-5 columns">
        <h2>Save up to <span>70%</span> <br>
          <i>on your next medical procedure <br>with our partner clinics!</i></h2>
        <div class="button-content">
          <a href="" class="button btn-aqua radius">Click here to learn more</a>
        </div>
      </div>
    </div>
  </div>
  <!--====== /Banner======-->


  <!--====== Main ======-->
  <section class="row" role="main">
    <!-- Content -->
    <div class="home medium-9 columns">
      <h2>This is how SaniCo works</h2>
      <p>If you are looking to engage in Medical Tourism, we want you to understand the process you will go through and the value of allowing us to help you. Learn how you can save up to 70% on your medical treatment and please contact us should you have any questions.</p>

      <div class="row how" data-equalizer>
        <div class="medium-4 columns" data-equalizer-watch>
          <img src="{{ STATIC_URL }}sanico/img/new/works-01.jpg" alt="">
          <p>Visit sanimedicaltourism.com and Learn more about your medical procedure of interest.</p>
        </div>
        <div class="medium-4 columns" data-equalizer-watch>
          <img src="{{ STATIC_URL }}sanico/img/new/works-02.jpg" alt="">
          <p>Review your choices</p>
        </div>
        <div class="medium-4 columns" data-equalizer-watch>
          <img src="{{ STATIC_URL }}sanico/img/new/works-03.jpg" alt="">
          <p>Contact us and tell us more</p>
        </div>
      </div>

      <div class="row how" data-equalizer>
        <div class="medium-4 columns" data-equalizer-watch>
          <img src="{{ STATIC_URL }}sanico/img/new/works-04.jpg" alt="">
          <p>Prepare your trip</p>
        </div>
        <div class="medium-4 columns" data-equalizer-watch>
          <img src="{{ STATIC_URL }}sanico/img/new/works-05.jpg" alt="">
          <p>Get the best healthcare in Mexico</p>
        </div>
        <div class="medium-4 columns" data-equalizer-watch>
          <img src="{{ STATIC_URL }}sanico/img/new/works-06.jpg" alt="">
          <p>Homecoming and Give us feedback</p>
        </div>
      </div>

    </div>
    <!-- /Content -->

    <!-- Sidebar -->
      {% include "includes/sidebar.html" %}
    <!-- /Sidebar -->

  </section>
  <!--====== /Main ======-->

<!-- ///////////  End \\\\\\\\ -->
{% endblock %}