{% extends "pages/page.html" %}
{% load i18n future mezzanine_tags %}

{% block extra_head %}{{block.super}}
  {% if user.is_authenticated %}
  <meta http-equiv="refresh" content="1; url={% url 'collaborator:general' %}">
  {% endif %}
{% endblock %}

{% block body_content %}
<!--====== Main ======-->
<section class="row" role="main">
  <!-- Content -->
  <div class="content medium-9 columns">

    <!-- Mesagge -->
    {% if user.is_authenticated %}
    <h5>{% trans "Welcome" %} {{user.get_full_name}}!</h5>
    {% else %}
    <!-- /Mesagge -->


  <div class="row login">
    <div class="large-6 columns">
      <form action="{% url 'process_login' %}" method="post" data-abide>
        {% csrf_token %}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
          
        <div class="row">
          <!-- Error message -->
          <div class="medium-12 columns">
            {% if request.GET.error %}
              <p class="text-error">Invalid user name or password</p>
            {% endif %}
          </div>
          <!-- /Error message -->
        </div>

        <div class="row">
          <!-- Username -->
          <div class="medium-12 columns">
            <input type="text" name="username" placeholder="{% trans "Username" %}" required>
            <small class="error">This field is required.</small>
            <input type="password" name="password" placeholder="{% trans "Password" %}" required>
            <small class="error">This field is required.</small>
            <a href="" class="lost-pass">{% trans "Lost your password?" %}</a>
            <button type="submit" class="button btn-green radius">{% trans "Login" %}</button>
            <div>
            <input type="checkbox" name="rememberme"><label>{% trans "Remember me" %}</label>
            </div>
          </div>
          <!-- /Username --> 
        </div>
      </form>
    </div>
    {% endif %}


    <div class="medium-6 columns">
      <h3>{% trans "Have a question?" %}</h3>
      <ul class="no-bullet">
        <li>{% trans "Call us or send an email" %}</li>
        <li>1 855 SANICO1</li>
        <li><a href="mailto:info@sanimedicaltourism.com">info@sanimedicaltourism.com</a></li>
      </ul>
    </div>

  </div>

  </div>
  <!-- /Content -->

  <!-- Sidebar -->
    {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->


</section>
<!--====== /Main ======-->
{% endblock %}
