{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}
{% load widget_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "Medical Procedures" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="/">Home</a></li>
          <li class="current"><a href=".">Medical Procedures</a></li>
        </ul>
      </div>
    
    </div>
  </div>
  <!-- /Title -->


<!--====== Main ======-->
<div class="row" role="main">
{% block body_content %}
  <!-- Content -->
  <section class="medium-9 columns procedures" data-equalizer>
		  <ul class="mp-list row">
		    <!-- Plastic Surgery -->
		    <li class="large-4 columns" data-equalizer-watch>
		      <h3>Plastic Surgery</h3>
		      <ul>
		        <li><a href="">Tummy Tuck</a></li>
		        <li><a href="">Breast Lift and Augmentation</a></li>
		        <li><a href="">Face Lift</a></li>
		      </ul>
		    </li>
		    <!-- Bariatric Surgery -->
		    <li class="large-4 columns" data-equalizer-watch>
		      <h3>Bariatric Surgery</h3>
		      <ul class="level-2">
		        <li><a href="">Gastric Sleeve</a></li>
		        <li><a href="">Gastric Bypass</a></li>
		        <li><a href="">Gastric Band</a></li>
		      </ul>
		    </li>
		    <!-- Orthopedic Surgery -->
		    <li class="large-4 columns" data-equalizer-watch>
		      <h3>Orthopedic Surgery</h3>
		      <ul class="level-2">
		        <li><a href="">Hip Replacement</a></li>
		        <li><a href="">Knee Replacement</a></li>
		        <li><a href="">Arthroscopy</a></li>
		      </ul>
		    </li>
		  </ul>
		  <ul class="mp-list row">
		    <!-- Dental -->
		    <li class="large-4 columns">
		      <h3>Dental</h3>
		      <ul class="level-2">
		        <li><a href="">Dental Implants</a></li>
		        <li><a href="">All-on-4</a></li>
		        <li><a href="">Dental Crowns</a></li>
		      </ul>
		    </li>
		    <!-- Optical -->
		    <li class="large-4 columns end">
		      <h3>Optical</h3>
		      <ul class="level-2">
		        <li><a href="">LASIK Surgery</a></li>
		        <li><a href="">Cataract Surgery</a></li>
		      </ul>
		    </li>
		  </ul>
  </section>
  <!-- /Content -->
  
  {% block sidebar %}
  <!-- Sidebar -->
  {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

{% endblock %}
</div>
<!--====== /Main ======-->
{% endblock %}