{% extends "pages/page.html" %}
{% load i18n %}

{% block extra_js %}
<script src="{{ STATIC_URL }}sanico/js/page/free_qoute.js"></script>
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
{% endblock %}

{% block body_content %}
<div class="span9 profile">
    <div class="profile-title">
        <h2>{% trans "Thank you for signing up to received our SaniCo newsletters." %}</h2>
        <p>
        {% trans "Now, You’ll be one of the first to know about our latest news, special offers, exclusive content, health care and much more!" %}
        </p>
        <p>{% trans "We'll keep in touch." %}</p>
    </div>
    <hr>
</div>
{% endblock %}