{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}
{% load widget_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "About Us" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="">Home</a></li>
          <li class="current"><a href="">About Us</a></li>
        </ul>
      </div>
    
    </div>
  </div>
  <!-- /Title -->


<!--====== Main ======-->
<div class="row" role="main">
{% block body_content %}
  <!-- Content -->
  <div class="content medium-9 columns">
  {% block content %}{% endblock %}
  </div>
  <!-- /Content -->
  
  {% block sidebar %}
  <!-- Sidebar -->
  {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

{% endblock %}
</div>
<!--====== /Main ======-->
{% endblock %}