{% extends "pages/page.html" %}
{% load i18n sanico_tags %}
{% block extra_js %}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/search/results.js"></script>
{% endblock %}
{% block body_content %}
    {% if not clinics %}
    <div class="span9 results">
        <h5>{% trans "No results" %}</h5>
    </div>
    {% else %}
			<div class="row">
				<div class="span9">
        {% for clinic in clinics %}
            {% render_clinic_info clinic %}
        {% endfor %}
        </div>
			</div>

    {% endif %}
{% endblock %}
