{% extends "pages/page.html" %}
{% load mezzanine_tags i18n %}

{% block main %}
<section class="container">
    <div class="row-fluid">

        <div class="span12 landing-content">
            <div class="span4 landing-form">
                <h4>Your review report has already been sent</h4>
            </div>
            <div class="span8 landing-box">
                <h2 class="landing-cto">
                    <span>Call today at (855) SANICO-1</span><br>
                    and save thousands of dollars on your <strong>medical treatment</strong>
                </h2>
            </div>
        </div>
    </div>
</section>
{% endblock %}
