{% extends 'base.html' %}

{% block extra_head %}{{block.super}}
<meta name='thanks_url' data="/stem-cell-thanks/">
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/datepicker.css">
{% endblock %}

{% block body %}
<!-- Header -->
    <!-- Navbar -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
    <!-- /Navbar -->

				<a class="brand" href="/"><img src="/static/sanico/img/sani-medical-tourism-logo-footer.png" alt="Medical Tourism"></a>

          <div class="header-nav right">
            <ul class="social hidden-phone">
              <!-- Facebook -->
              <li>
                <div id="fb-root"></div>
                <div class="fb-like" data-href="https://www.facebook.com/sanimedical" data-send="false" data-layout="button_count" data-width="125" data-show-faces="false" data-font="verdana"></div>
              </li>
              <!-- Twitter -->
              <li>
                <a href="https://twitter.com/sanimedical" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" data-width="130px">Follow @sanimedical</a>
              </li>
              <!-- Google Plus -->
              <li>
                <div class="g-plusone" data-size="medium" data-href="https://sanimedicaltourism.com/"></div>
              </li>
            </ul>

            <div class="header-call blue">
              <p>TOLL FREE NUMBER <span>1 855 SANICO1</span></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    <!-- /Header -->

	<!--********** Banner **********-->
	<div class="row-fluid">
		<div class="container">
			<div class="landing-top landing-top-img-stem-cell">
				<h2>With Stem Cell therapies it is now possible to improve your life quality</h2>
				<img src="/static/sanico/img/landing/stem-cell.jpg" alt="">
			</div>
		</div>
	</div>
	<!--********** /Banner **********-->

	<!--********** Content **********-->
	<div class="row-fluid landing-content">
		<div class="container">
			<!-- Content Left -->
			<div class="span8">
				<p>Stem Cell therapy regenerates cells and specific organs that are affected by disease. According to several studies, Stem Cells have the ability to differentiate into other types of cells (cardiac cells, bone/cartilage, liver cells, nerve, etc.). In addition, these Stem Cells have the ability to chemically detect damaged tissue, "home" those tissues, and directly repair them. This kind of therapy helps to increase the tissue's functionality, resulting in considerable improvement of a person's medical condition. The northern border of Mexico has become the #1 location for medical tourism for North American citizens mostly because of the following perks:</p>

				<ul>
					<li>Up to 70% savings on cosmetic procedures</li>
					<li>Availability for this sort of procedures </li>
					<li>Clients can stay in the US for treatment</li>
					<li>Ability to fly domestic (less expensive than international flights)</li>
				</ul>

				<h2>Call today at <b>1 855 SANICO1</b><br>
				and save thousands of dollars on your medical treatment
				</h2>
				<p>We understand that traveling abroad for stem cell therapies is an important decision and at SaniCo we make it easy for you for find the right doctor in Mexico. Contact us to learn more about stem cell therapies in Mexico, and how it can save you thousands of dollars on any procedure you may require.
				</p>


        <div class="row-fluid landing-content-video">
          <div class="span4">
            <img src="/static/sanico/img/landing/how-medical-tourism-works.png" alt="">
          </div>
          <!-- Video Play -->
           <div class="span7 video-about">
             <iframe width="470" height="264" src="//www.youtube.com/embed/supdx3MCTeA?rel=0&amp;controls=0" frameborder="0" allowfullscreen></iframe>
           </div>
           <!-- /Video Play -->
        </div>
			</div>
			<!-- /Content Left -->

			<!-- Landing Form -->
			<div class="span4 wrap-landing-form">
        <div class="heading-landing-form">
          <h4>Get your <span>free quote</span></h4>
        </div>

        <div class="landing-form">
          <!-- Form -->
          <form method="post" action="{% url 'landing_page_form' %}" id="landing-form">
            {% csrf_token %}
            <input type="hidden" name="page" value="{{ page.meta_title }}">
            <input type="hidden" name="search_engine" value="{{request.META.SEARCH_ENGINE}}">

            <!-- First Name -->
              <input type="text" name="name" placeholder="Name" class="required">
            <!-- Your email -->
              <input type="text" name="email" placeholder="Email" class="required">
            <!-- Telephone -->
              <input type="text" name="telephone" placeholder="Telephone (optional)" class="required digits">

              <textarea rows="5" name="message" placeholder="Your message" class="required"></textarea>

              <button type="submit" class="btn btn-orange right">Submit</button>
          </form>
        </div>
      </div>
			<!-- /Landing Form -->
      <div class="clearfix"></div>
      <!-- Reviews -->
      <div class="row-fluid landing-reviews">
        <div class="span12">

          <!-- Review 1 -->
          <div class="span4">
            <div class="landing-header-review">
              <h4>Richard</h4>
              <p>Mendota Hts, USA</p>
            </div>
            <div class="star-holder">
              <div class="star-rating" itemprop="reviewRating" style="width: 100px"></div>
            </div>

              <p>The staff was very curtious and helpfull. The doctors were excellent in explaining what the procedures would involve and what the results would be. I was instructed on what to do once I was back home in order to obtain a smooth healing process. I was very impressed with the overall service and would recommend it to my friends and relatives.
              </p>
          </div>
          <!-- /Review 1 -->

          <!-- Review 2 -->
          <div class="span4">
            <div class="landing-header-review">
              <h4>Anthony</h4>
              <p>Post Falls, USA</p>
            </div>
            <div class="star-holder">
              <div class="star-rating" itemprop="reviewRating" style="width: 100px"></div>
            </div>
              <p>I feel like i have won the lottery! My experience could not have been more pleasant. I had major work done and I plan to travel again for all my  medical needs. Thank You to the wonderful staff of professionals at the clinic. My service exceded my expectations!
              </p>
          </div>
          <!-- /Review 2 -->

          <!-- Review 3 -->
          <div class="span4">
            <div class="landing-header-review">
              <h4>Charlotte</h4>
              <p>Fair Oaks CA, USA</p>
            </div>
            <div class="star-holder">
              <div class="star-rating" itemprop="reviewRating" style="width: 100px"></div>
            </div>
              <p>Wonderful experience. Saved us a lot of money. Quality work. My husband and I had work done last year and came back again this year. We'd do it again!</p>
          </div>
          <!-- /Review 3 -->


        </div>
      </div>
      <!-- /Reviews -->
      <div class="row-fluid landing-bottom">
        <div class="span12">
          <p><a href="https://sanimedicaltourism.com/">www.sanimedicaltourism.com</a></p>
          <hr>
          <p>Mexico is one of the world’s leaders in Medical Tourism. Go ahead and find out why.</p>
          <p>&copy; Copyright 2013</p>

        </div>
      </div>

		</div>
	</div>
	<!--********** /Content **********-->
  {% include "includes/landing_footer.html" %}
{% endblock %}

{% block footer %}{% endblock %}
