{% extends "pages/page.html" %}
{% load mezzanine_tags i18n %}

{% block body %}
<!-- Header -->
    <!-- Navbar -->
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
    <!-- /Navbar -->

				<a class="brand" href="/"><img src="/static/sanico/img/sani-medical-tourism-logo-footer.png" alt="Medical Tourism"></a>          

          <div class="header-nav right">
            <ul class="social hidden-phone">
              <!-- Facebook -->
              <li>
                <div id="fb-root"></div>
                <div class="fb-like" data-href="https://www.facebook.com/sanimedical" data-send="false" data-layout="button_count" data-width="125" data-show-faces="false" data-font="verdana"></div>
              </li>
              <!-- Twitter -->
              <li>
                <a href="https://twitter.com/sanimedical" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" data-width="130px">Follow @sanimedical</a>
              </li>
              <!-- Google Plus -->
              <li>
                <div class="g-plusone" data-size="medium" data-href="https://sanimedicaltourism.com/"></div>
              </li>
            </ul>

            <div class="header-call blue">
              <p>TOLL FREE NUMBER <span>1 855 SANICO1</span></p>
            </div>
          </div>
        </div>
        </div>
      </div>
    <!-- /Header -->

	<!--********** Content **********-->
  <div class="row-fluid landing-content">
    <div class="container">
      <!-- Content Left -->
      <div class="span8">
        <h2>Call today at <b>1 855 SANICO1</b><br>
        and save thousands of dollars on your <strong>dental treatment</strong>
        </h2>
      </div>
      <!-- /Content Left -->

      <!-- Landing Form -->
      <div class="span4 wrap-landing-form">
        <div class="heading-landing-form">
          <h3>Thank You, your email has been sent.</h3>
        </div>
      </div>
      <!-- /Landing Form -->
      <div class="clearfix"></div>

      <!-- Reviews -->
      <!-- /Reviews -->

      <div class="row-fluid landing-bottom">
        <div class="span12">
          <p><a href="https://sanimedicaltourism.com/">www.sanimedicaltourism.com</a></p>
          <hr>
          <p>Mexico is one of the world’s leaders in Medical Tourism. Go ahead and find out why.</p>
          <p>&copy; Copyright 2013</p>

        </div>
      </div>

    </div>
  </div>
  <!--********** /Content **********-->
{% endblock %}

{% block footer %}{% endblock %}
