{% load i18n %}

{# Add form #}
{% with widget_form as form %}
<form style="display:none;" class="popup-form" method="post"
    action="#" id="edit-widget-form"
    {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    <fieldset id="widget-options" style="display:none;border:none;" >
    <legend></legend>
    {{ options }}
    </fieldset>
    <input type="button" name="close" value="{% trans "Close" %}" class="button" />
    <input type="submit" value="{% trans "Save" %}" class="button" />
</form>
{% endwith %}