{% load i18n %}

{# Add form #}
{% with widget_form as form %}
<form style="display:none;"
    class="popup-form frontend-admin-form form-vertical"
    method="post"
    action="{% url 'widget_list' %}" id="widget-form"
    {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    <fieldset id="widget-list" style="border:none;">
        {% for field in form %}
            <p{% if field.is_hidden %} style="display:none;"{% endif %}>
                {{ field.label_tag }}<br />{{ field }}{{ field.errors }}
                {% if field.help_text %}
                <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
            </p>
        {% endfor %}
    </fieldset>
    <fieldset id="widget-options" style="display:none;border:none;" >
    <legend >Configure this Widget</legend>
    <div class="options">{{ options }}</div>
    </fieldset>
    <input type="button" name="close" value="{% trans "Close" %}" class="btn" />
    <input type="submit" style="display:none;" name="back" value="{% trans "Back" %}" class="btn" />
    <input type="submit" name="do" value="{% trans "Choose" %}" class="btn btn-success" />
</form>
{% endwith %}

{# Edit Form #}
<div class="modal fade" id="editForm">
    <form
      {# class="popup-form frontend-admin-form form-vertical" #}
      method="post"
      id="edit-widget-form">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 id="title">Configure</h3>
        </div>
        <div class="modal-body">
                {% csrf_token %}
                <fieldset id="widget-options">
                    {# <legend >Configure this Widget</legend> #}
                    <div class="options"></div>
                </fieldset>

        </div>
        <div class="modal-footer">
            <input type="submit" name="submit" value="{% trans "Save" %}" class="btn" />
            <a href="#" class="btn" data-dismiss="modal">{% trans "Close" %}</a>
        </div>
    </form>
</div>