{% if request.user.is_staff %}
<script type="text/javascript"
    src="{{ STATIC_URL }}widget/js/underscore.min.js">
</script>
<script type="text/javascript"
    src="{{ STATIC_URL }}widget/js/jquery-ui-1.8.18.custom.min.js">
</script>
<script type="text/javascript"
    src="{{ STATIC_URL }}widget/js/jquery-django-adminForm.js">
</script>
<script type="text/javascript"
    src="{{ STATIC_URL }}widget/js/widget.js"></script>

<style name="impostor_size">
    .marker + div { border-top-width:0px; }
</style>
<script type="text/javascript">
    //Make sure we can send ajax posts
    $(function() {
        jQuery(document).ajaxSend(function(event, xhr, settings) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            function sameOrigin(url) {
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
            }
            function safeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });

        var WidgetController = new WidgetAdmin();
        WidgetController.setupWidgetForms();
        WidgetController.setupSortableWidgets();
        window.__widget_ordering_url = "{% url 'widget_ordering' %}";
    });
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}widget/css/widget.css">
{% include "widget/widget_form.html" %}
{% endif %}