{% extends 'collaborator/base_page.html' %}
{% load mezzanine_tags i18n profile_tags collaborator_tags %}

{% block page_name %}
<meta name="page" data="about" />
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}sanico/css/kendo/kendo.common.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}sanico/css/kendo/kendo.default.min.css" />
{% endblock %}

{% block extra_js %}{{block.super}}
<script src="{{ STATIC_URL }}sanico/js/kendo/kendo.all.min.js"></script>
<script src="{{STATIC_URL}}sanico/tiny_mce/tiny_mce.js"></script>
<script src="{{STATIC_URL}}sanico/js/collaborator/tinyconfigure.js"></script>
<script src="{{STATIC_URL}}sanico/js/collaborator/edit_about.js"></script>
{{block.super}}{% endblock %}

{% block edit_section %}
<!-- /////////////// Content \\\\\\\\\\\\\\\ -->
<div class="span9 profile edit-section" ng-app ng-controller="AboutController">
  <div class="editor-header"><h2>{% trans "About Us" %}</h2></div>
  <div class="row">
    <form class="about_form" action="{% url 'collaborator:alter_about' %}" method="post">
      {% csrf_token %}
      <div class="span9">
        <input type='submit' value='{% trans "Guardar" %}' class="btn btn-blue password-button">
        <textarea class="mceEditor" name="about">{{ clinic.about|safe }}</textarea>
      </div>

      <div class="span9 mini-gallery">
        <a class="btn btn-red password-button" href="{% url 'collaborator:gallery' %}">{% trans "Seleccionar fotos" %}</a>
        <div class="row">
            {% render_coll_about_photos clinic %}
        </div>
      </div>

      <div class="span5">
        <h3>{% trans "Opening Hours" %}</h3>
        <input type='submit' value='{% trans "Guardar" %}' class="btn btn-blue password-button">
        <table class="table">
          <tbody>
            {% for opening_hour in opening_hours %}
              {% with id=opening_hour.id open=opening_hour.hour_open|date:'H:i' close=opening_hour.hour_close|date:'H:i' %}
              <tr>
                <td>
                  <input type="hidden" name="day" value="{{opening_hour.day}}" />
                  {{opening_hour.day_name}}
                </td>
                <td>
                  <span ng-hide="cancel_{{id}}">
                    <input type="text" name="hour_open" ng-init="open_{{id}}='{{open}}'" class="about-hours" id="hour-{{id}}" ng-model="open_{{id}}" style=""/>
                    &nbsp;-&nbsp;
                    <input type="text" name="hour_close" ng-init="close_{{id}}='{{close}}'" class="about-hours" id="hour-{{id}}" ng-model="close_{{id}}" style="" />
                  </span>
                </td>
                <td>Inhábil&nbsp;<input type="checkbox" ng-click="unable({{id}}, '{{open}}', '{{close}}')" ng-model="cancel_{{id}}" ng-init="enable_init({{id}})"></td>
              </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
        {% verbatim %}
        <h3>Complementary Services</h3>
        <table class="table">
          <tbody>
            <tr ng-repeat="service in complementary_services">
              <td>
                <span ng-init="service.edited=!bool(service.id)" ng-click="service.edited=true" ng-hide="service.edited">{{service.name}}</span>
                <input type="text" ng-model="service.name" ng-show="service.edited" class="input-edit-xlarge">
              </td>
              <td>
                <span class="btn btn-blue lt-btn" ng-click="save_service(service)">Guardar</span>
                <span class="btn btn-red lt-btn" ng-click="del_service(service)">Borrar</span>
              </td>
            </tr>
          </tbody>
        </table>
        <span class="btn btn-green lt-btn" ng-click="add_service()">Agregar</span>
        <h3>Special Promotions</h3>
        <table class="table">
          <tbody>
            <tr ng-repeat="promotion in special_promotions">
              <td>
                <span ng-init="promotion.edited=!bool(promotion.id)" ng-click="promotion.edited=true" ng-hide="promotion.edited">{{promotion.name}}</span>
                <input type="text" ng-model="promotion.name" ng-show="promotion.edited" class="input-edit-xlarge">
              </td>
              <td>
                <span class="btn btn-blue lt-btn" ng-click="save_promotion(promotion)">Guardar</span>
                <span class="btn btn-red lt-btn" ng-click="del_promotion(promotion)">Borrar</span>
              </td>
            </tr>
          </tbody>
        </table>
        <span class="btn btn-green lt-btn" ng-click="add_promotion()">Agregar</span>
        {% endverbatim %}
      </div>

      <div class="span4">
        <h3>{% trans "Accepted Payment Methods" %}</h3>
        {% csrf_token %}
        <input type='submit' value='{% trans "Guardar" %}' class="btn btn-blue password-button">
        <ul>
          <li>
            <input name="personal_checks" type="checkbox" class="select-check" {% if clinic.personal_checks %}checked{% endif %} /> Personal Checks
          </li>

          <li>
            <input name="traveler_checks" type="checkbox" class="select-check" {% if clinic.traveler_checks %}checked{% endif %} /> Travelers Check
          </li>

          <li>
            <input name="cash" type="checkbox" class="select-check" {% if clinic.cash %}checked{% endif %} /> Cash
          </li>
          <li>
            <input name="mastercard" type="checkbox" class="select-check" {% if clinic.mastercard %}checked{% endif %} /> Mastercard
          </li>
          <li>
            <input name="visa" type="checkbox" class="select-check" {% if clinic.visa %}checked{% endif %} /> Visa
          </li>
          <li>
            <input name="american_express" type="checkbox" class="select-check" {% if clinic.american_express %}checked{% endif %} /> American Express
          </li>
          <li>
            <input name="discover" type="checkbox" class="select-check" {% if clinic.discover %}checked{% endif %} /> Discover
          </li>
          <li>
            <input name="paypal" type="checkbox" class="select-check" {% if clinic.paypal %}checked{% endif %} /> PayPal
          </li>
          <li>
            <input name="money_order" type="checkbox" class="select-check" {% if clinic.money_order %}checked{% endif %} /> Money Order
          </li>
          <li>
            <input name="wire_transfer" type="checkbox" class="select-check" {% if clinic.wire_transfer %}checked{% endif %} /> Wire Transfer
          </li>
          <li>
            <input name="cashier_check" type="checkbox" class="select-check" {% if clinic.cashier_check %}checked{% endif %} /> Cashier Check
          </li>
        </ul>

        <h3>{% trans "Spoken languages" %}</h3>
        {% csrf_token %}
        <input type='submit' value='{% trans "Guardar" %}' class="btn btn-blue password-button">
        <ul>
          <li>
            <input name="english" type="checkbox" class="select-check" {% if clinic.english %}checked{% endif %} /> Ingles
          </li>
          <li>
            <input name="spanish" type="checkbox" class="select-check" {% if clinic.spanish %}checked{% endif %} /> Espa&ntilde;ol
          </li>
          <li>
            <input name="french" type="checkbox" class="select-check" {% if clinic.french %}checked{% endif %} /> Fances
          </li>
          <li>
            <input name="japanese" type="checkbox" class="select-check" {% if clinic.japanese %}checked{% endif %} /> Japones
          </li>
          <li>
            <input name="italian" type="checkbox" class="select-check" {% if clinic.italian %}checked{% endif %} /> Italiano
          </li>
          <li>
            <input name="russian" type="checkbox" class="select-check" {% if clinic.russian %}checked{% endif %} /> Ruso
          </li>
          <li>
            <input name="mandarin" type="checkbox" class="select-check" {% if clinic.mandarin %}checked{% endif %} /> Mandarin
          </li>
          <li>
            <input name="portuguese" type="checkbox" class="select-check" {% if clinic.portuguese %}checked{% endif %} /> Portugues
          </li>
          <li>
            <input name="german" type="checkbox" class="select-check" {% if clinic.german %}checked{% endif %} /> German
          </li>
        </ul>

        <h3>{% trans "Open Since" %}</h3>
        <input type='submit' value='{% trans "Guardar" %}' class="btn btn-blue password-button">
        <p><input type="text" name="open_since" value="{{ clinic.open_since }}" /></p>

      </div>
    </form>
  </div>
</div>
{% endblock %}