{% extends 'base.html' %}
{% load mezzanine_tags widget_tags future i18n staticfiles %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block extra_head %}
    {% block page_name %}
    <meta name="page" data="" />
    {% endblock %}
    <meta name="media_url" data="{{MEDIA_URL}}">
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="{% static 'sanico/js/restangular.js' %}"></script>
<script src="{% static 'sanico/js/collaborator/application.js' %}"></script>
<script src="{% static 'sanico/js/collaborator/script.js' %}"></script>
<script src="{% static 'sanico/js/collaborator/edit.js' %}"></script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}sanico/css/collaborator.css" />
{% endblock %}

{% block body %}
  <header class="header-collaborator">
    <div class="container">
      <div class="row">
        <h1 class="span2 logo-collaborator">
          <a href="/">
            <img src="{{ STATIC_URL }}sanico/img/sanico-collaborator.png" alt="">
          </a>
        </h1>
        <div class="span4 offset6">
          <ul class="user-bar">
            <!-- <li>{% trans "Welcome" %}&nbsp;<span>{{ user.first_name }}</span></li> -->
            {% if clinic %}
            <li><span>{{ clinic.name }}</span></li>
            <li><span><a href="{{clinic.get_absolute_url}}" target="_blank">Ver Perfil</a></span></li>
            {% endif %}
            <li><a href="{% url 'process_logout' %}">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- Content -->
  <section class="container">
      <div class="row">
        <!-- Sidebar -->
        <aside  class="span3 sidebar">
          <div class="sidebar-collaborator">
              <ul class="nav nav-list">
                <!-- class="active" -->
                {% if request.session.clinic != None %}
                <li data="general">
                  <a href="{% url 'collaborator:general' %}">Información General</a>
                </li>
                <li data="overview">
                  <a href="{% url 'collaborator:overview' %}">Overview</a>
                </li>
                <li data="about">
                  <a href="{% url 'collaborator:about' %}">About Us</a>
                </li>
                <li data="gallery">
                  <a href="{% url 'collaborator:gallery' %}">Gallery</a>
                </li>
                <li data="prices">
                  <a href="{% url 'collaborator:prices' %}">Prices</a>
                </li>
                <li data="doctors">
                  <a href="{% url 'collaborator:doctors' %}">Doctors</a>
                </li>
                <li data="location">
                  <a href="{% url 'collaborator:location' %}">Location</a>
                </li>
                <li data="">
                  <a href="{% url 'collaborator:change_clinic' %}">Cambiar clinica</a>
                </li>
                {% else %}
                <li data="select">
                  <a href="#!">Selecciona tu clinica</a>
                </li>
                {% endif %}
              </ul>
            </div>
        </aside>
        <!-- /Sidebar -->
        <!-- Edit Section -->
        {% if request.session.clinic != None %}
          {% block edit_section %}{% endblock%}
        {% else %}
          {% if clinics.count > 0 %}
            {% include "collaborator/choice_clinic.html" %}
          {% else %}
            {% include "collaborator/sorry.html" %}
          {% endif %}
        {% endif %}

        <!-- /Edit Section -->
      </div>
  </section>
  <!-- /Content -->
{% endblock %}

{% block lateral_buttons %}{% endblock %}
{% block alert_block %}{% endblock %}