{% load mezzanine_tags i18n %}

{% block page_name %}
<meta name="page" data="select" />
{% endblock %}

<div class="span9 profile">
    <div class="editor-header">
      <h2>Elige una clinica</h2>
    </div>

    <div class="row">
        {% for clinic in clinics %}
        <div class="clinic-image">
            <a href="{% url 'collaborator:select_clinic' clinic.id %}">
                <img src="{{MEDIA_URL}}{% thumbnail clinic.image_profile 180 180 %}" alt="">
            </a>
            <div class="clinic-name">{{clinic.name}}</div>
        </div>
        {% endfor %}
    </div>
</div>