{% extends 'collaborator/base_page.html' %}
{% load mezzanine_tags i18n profile_tags collaborator_tags %}

{% block page_name %}
<meta name="page" data="gallery" />
<meta name="url_add" data="{% url 'collaborator:add_photo' %}" />
<meta name="url_del" data="{% url 'collaborator:del_photo' %}" />
<meta name="url_render" data="{% url 'collaborator:render_photos' %}" />
<meta name="add_to_front" data="{% url 'collaborator:add_to_front' %}" />
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" href="{{ STATIC_URL }}sanico/css/kendo/kendo.common.min.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}sanico/css/kendo/kendo.default.min.css" />
{% endblock %}

{% block extra_js %}{{block.super}}
<script src="{{ STATIC_URL }}sanico/js/kendo/kendo.all.min.js"></script>
<script src="{{STATIC_URL}}sanico/js/collaborator/edit_gallery.js"></script>
{% endblock %}

{% block edit_section %}
<div class="span9 profile edit-section">
    <div class="editor-header">
      <h2>Gallery</h2>
    </div>
    <div class="add-photo">
      <label for="add-photo">Agregar fotografia</label>
      <input name="photo" type="file"  id="add-photo" />
      {% csrf_token %}
    </div>
    <div class="profile-gallery" id="profile-gallery">
      {% render_coll_photos clinic %}
    </div>
</div>
{% endblock %}