{% extends 'collaborator/base_page.html' %}
{% load collaborator_tags %}

{% block page_name %}
  <meta name="page" data="general" />
{% endblock %}

{% block extra_head %}{{block.super}}
<meta name="url_requires_change" data="{% url 'collaborator:change_required' %}">
{% endblock %}

{% block extra_js %}{{block.super}}
<script src="{{STATIC_URL}}sanico/js/collaborator/general.js"></script>
{% endblock %}

{% block edit_section %}
<div class="span9 profile edit-section" ng-app ng-controller="GeneralController">
    <div class="editor-header">
      <h2>Información general</h2>
    </div>
    <div class="editor-info">
      <form action="{% url 'collaborator:change_password' %}" method="post" id="change_password">
        {% csrf_token %}
        <ul>
          <li>Usuario: <span>{{ user.username }}</span></li>
          <li>Contraseña:
            <span class="password-edit" style="display:none">
              <table>
                <tr>
                  <td>Contraseña: </td>
                  <td><input type='password' id='password' name='password' class='password-input required'></td>
                </tr>
                <tr>
                  <td>Repita su contraseña: </td>
                  <td><input type='password' id="password_confirm" name='password_confirm' class='password-input required'></td>
                </tr>
                <tr>
                  <td colspan="2"><input type='submit' value='Cambiar Contraseña' class="btn btn-blue password-button"></td>
                </tr>
              </table>

            </span>
            <span class="password">Cambiar Contraseña</span>
          </li>
        </ul>
      </form>
    </div>
    <hr>
    <div class="editor-header">
      <h2>Representante fiscal</h2>
    </div>
    <div class="editor-info">
      <ul>
        <li>Nombre: <span>{{ clinic.get_fiscal_name }}</span></li>
        <li>Correo electronico: <span>{{ clinic.fiscal_email }}</span></li>
        <li>Teléfono: <span>{{ clinic.fiscal_phone }}</span></li>
      </ul>
    </div>
    <hr>
    <div class="editor-header">
      <h2>Informacion de contacto</h2>
    </div>
    <div class="editor-info">
      <ul>
        <li>Nombre: <span>{{ clinic.get_contact_name }}</span></li>
        <li>Correo electronico: <span>{{ clinic.contact_email }}</span></li>
        <li>Teléfono: <span>{{ clinic.contact_phone }}</span></li>
      </ul>
    </div>
    <hr>
    <div class="editor-header">
      <h2>Informacion legal</h2>
    </div>
    <div class="editor-info">
      <ul>
        <li>Nombre fiscal: <span>{{clinic.company_name}}</span></li>
        <li>RFC: <span>{{clinic.rfc}}</span></li>
        <li>Direccion: <span>{{clinic.address}}</span></li>
        <li>Ciudad: <span>{{clinic.city}}</span></li>
        <li>Estado: <span>{{clinic.get_state}}</span></li>
        <li>Codigo postal: <span>{{clinic.zip_code}}</span></li>
        <li>Pais: <span>{{clinic.country.name}}</span></li>
      </ul>
      <button type="button" class="btn btn-red request-changes" ng-click="send_change_required()">Solicitar Cambios</button>
    </div>
</div>
{% endblock %}