{% extends 'collaborator/base_page.html' %}
{% load mezzanine_tags i18n %}

{% block extra_js %}{{block.super}}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/profile/location.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/collaborator/edit_location.js"></script>
{% endblock %}

{% block page_name %}
<meta name="page" data="location" />
{% endblock %}

{% block edit_section %}
<div class="span9 profile edit-section">
  <div class="editor-header">
    <h2>Ubicación</h2>
  </div>
  <form action="{% url 'collaborator:save_location' %}" method="post" id="location-form">
    {% csrf_token %}
    <input type='submit' value='{% trans "Guardar" %}' class="btn btn-blue password-button">
    <div class="row">
        <input type="hidden" value="{{location.coords}}" id="coordinates">
        <label for="link-id">Url del mapa</label>
        <input type="text" name="link" id="link-id" maxlength="255" value="{{location.link}}"><br>
        <input type="file" name="image_location_1">
        <input type="file" name="image_location_2">
    </form>
    <div id="mapCanvas"></div>
    <div class="span9" style="height: 30px"></div>
    {% if location.image_map_1 %}
    <div class="span4-half">
      <a href="">
        <img src="{{MEDIA_URL}}{% thumbnail location.image_map_1 420 277 %}" alt="">
      </a>
    </div>
    {% endif %}
    {% if location.image_map_2 %}
    <div class="span4-half">
      <a href="">
        <img src="{{MEDIA_URL}}{% thumbnail location.image_map_2 420 277 %}" alt="">
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
