{% extends 'collaborator/base_page.html' %}
{% load mezzanine_tags i18n %}

{% block page_name %}
  <meta name="page" data="overview" />
{% endblock %}

{% block extra_head %}{{block.super}}
  <meta name="render_heade_images" data="{% url 'collaborator:render_heade_images' %}">
  <meta name="render_overview_url" data="{% url 'collaborator:render_overview' %}">
{% endblock %}

{% block extra_js %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/collaborator/overview.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/collaborator/edit_overview.js"></script>
{% endblock %}

{% block edit_section %}
<div class="span9 profile edit-section" ng-app="OverviewApp" ng-controller="OverviewController">
  <div class="editor-header">
    <h2>Overview</h2>
  </div>
    <div class="editor-overview">
      <div class="results-editor">
        <div class="results-header  sanico-bg results-top-clinic">
          <h3 class="result-title">{{ clinic.name }}</h3>
          <p class="address">{{clinic.city}} / {{clinic.country}}</p>
        </div>

          {% csrf_token %}
          <div class="results-box">
            <!-- image -->
            <figure class="pull-left results-img">
              <img src="{{MEDIA_URL}}{% thumbnail clinic.image_profile 140 140 %}" alt="" id="overview-image" />
              <p>{{photos_num}} Photos</p>
            </figure>
            <!-- image -->
            <div class="results-content">
              <!-- Stars -->
              <div class="results-head">
                <div class="star-holder">
                  <div class="star-rating" itemprop="reviewRating" style="width: {{clinic.get_qualification}}0px"></div>
                </div>
                  <span class="results-meta">({{reviews_num}} {% trans "Patient Reviews" %})</span>
              </div>
              <!-- /Stars -->

              <!-- Description -->
              <div class="results-description">
                <p itemprop="description" class="overview-description">
                  {{clinic.about|striptags|truncatewords_html:20}}
                </p>
                <p>
                  {% verbatim %}
                  <span ng-click="show_popup=true" title="Selecciona un testimonial" class="description-span testimonial-class">Testimonial:&nbsp;</span>
                  <span ng-click="show_popup=true" title="Selecciona un testimonial" class="testimonial-class">
                    {{testimonial|truncate:25}}
                  </span><br>
                  <span class="results-name-review">{{testimonial_name}}</span>
                  {% endverbatim %}
                </p>
                <p>
                  <span class="description-span">{% trans "Language" %}:&nbsp;</span>
                  {% if clinic.english %}English&nbsp;{% endif %}
                  {% if clinic.spanish %}Spanish&nbsp;{% endif %}
                  {{clinic.other}}
                </p>

                {% verbatim %}
                <span ng-hide="edit_offer" ng-click="edit_offer=true">
                  <h4 >{{offer}}</h4>
                </span>
                {% endverbatim %}
                <div>
                  <input type="text" ng-model="offer_edited" class="input-edit-large lt-btn-left" ng-show="edit_offer" size="200">
                  <input type="button" class="btn btn-blue lt-btn-left" ng-click="change_overview()" ng-show="edit_offer" value="Guardar" />
                  <input type="button" class="btn btn-red lt-btn-left" ng-click="cancel()" ng-show="edit_offer" value="Cancelar" />
                </div>
                <a href="#!" class="btn btn-orange right">{% trans "Quote from this Clinic" %}</a>
              </div>
              <!-- /Description -->
            </div>
          </div>

      </div>
      </form>

      <!-- Home banner -->
      <form action="{% url 'collaborator:save_images' %}" method="post" id="images-form" style="display:none">
        {% csrf_token %}
        <input type="file" name="header_image" id="field-header-image" class="file-images" />
        <input type="file" name="profile_image" id="field-profile-image" class="file-images" />
      </form>

      <div class="editor-timeline" id="header-images-content">
        <!-- content profile images  -->
      </div>
      <!-- Home banner -->
    </div>

    <div id="popup" ng-init="show_popup=false" ng-show="show_popup">
      <div class="background-popup"></div>
      <div class="content-popup">
          <div>Seleccione un testimonial</div>
          <div class="select-review">
            <form action="{% url 'collaborator:select_testimonial' %}" method="post" id="testimonial-form">
              {% csrf_token %}
              <table class="table-reviews">
              {% for review in reviews %}
                <tr>
                  {% if review.for_testimonial %}
                  <span ng-init="review_selected={{review.id}}"></span>
                  {% endif %}
                  <td><input type="radio" ng-model="review_selected" value="{{review.id}}" class="select-testimonial"></td>
                  <td>{{review.get_full_name}}</td>
                  <td>
                    <div class="star-holder">
                      <div class="star-rating" itemprop="reviewRating" style="width: {{review.qualification}}0px"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2">{{review.comment|striptags|truncatewords_html:20}}<td>
                </tr>
              {% endfor %}
              </table>
            </form>
          </div>
          <span class="btn btn-blue lt-btn" ng-click="show_popup=false;change_testimonial()">Aceptar</span>
          <span class="btn btn-red lt-btn" ng-click="show_popup=false">Cancelar</span>
      </div>
    </div>
</div>
{% endblock%}
