{% extends 'collaborator/base_page.html' %}
{% load mezzanine_tags i18n collaborator_tags staticfiles %}

{% block extra_js %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/collaborator/prices.js"></script>
{% endblock %}

{% block extra_head %}{{block.super}}
<meta name="save_treatment_url" data="{% url 'collaborator:save_treatment' %}">
<meta name="add_treatment_url" content="{% url 'collaborator:add_treatment' %}">
{% endblock %}

{% block page_name %}
<meta name="page" data="prices" />
{% endblock %}

{% block edit_section %}
{% csrf_token %}

<div class="span9 profile edit-section" ng-app="CollaboratorApp" ng-controller="PricesController">

    <div class="profile-title">
        <h2>Tratamientos</h2>
    </div>
    <a href="#myModal" role="button" class="btn" data-toggle="modal">Agregar procedimientos</a>
    <div class="message-price-collaborator">Todos los precios deben especificarse en dolares (Dlls)</div>

    {% verbatim %}
    <div ng-repeat="treatment in treatments">
    <h3>{{treatment.category.name}}</h3>



    <div class="treatment-arrows">

        <div class="arrow-space right">&nbsp;
            <span class="icon-arrow-up" ng-show="treatment.position!=1" ng-click="position_up(treatments, treatment)"></span>
        </div>
        <div class="arrow-space right">&nbsp;
            <span class="icon-arrow-down" ng-show="treatment.position!=treatments.length" ng-click="position_down(treatments, treatment)"></span>
        </div>
        <div class="right">
            <button class="btn btn-red btn-small" ng-click="delete_treatment(treatment)">Borrar</button>&nbsp;&nbsp;
        </div>

    </div>

    <table class="treatment-table table table-hover">
        <thead>
            <tr>
                <th style="width:430px">Procedure / Description</th>
                <th style="width:105px">Price</th>
                <th style="width:105px">Duration</th>
                <th style="width:232px"></th>
                <th style="width:205px"></th>
            </tr>
        </thead>
        <tbody>

            <tr class="price" ng-repeat="procedure in treatment.procedures">
                <td>
                    <span >{{ procedure.procedure.name }}</span> /
                    <span class="green" ng-init="procedure.description_edited=!bool(procedure.id)" ng-hide="procedure.description_edited" ng-click="procedure.description_edited=true">{{ procedure.description }}</span>
                    <button class="btn btn-small btn-green" ng-show="no_description(procedure)" ng-click="procedure.description_edited=true">Agregar</button>
                    <textarea class="input-edit-textarea" ng-show="procedure.description_edited" ng-model="procedure.description"></textarea>
                </td>
                <td>
                    <span ng-init="procedure.price_edited=!bool(procedure.id)" ng-hide="procedure.price_edited" ng-click="edit_price(procedure)">${{ procedure.price }}</span>
                    <input type="text" class="input-edit-short" ng-show="procedure.price_edited" ng-model="procedure.price" focus-me="procedure.price_edited">
                </td>
                <td>
                    <span ng-init="procedure.duration_edited=!bool(procedure.id)" ng-hide="procedure.duration_edited" ng-click="edit_duration(procedure)">{{ procedure.duration }}</span>
                    <input type="text" class="input-edit-short" ng-show="procedure.duration_edited" ng-model="procedure.duration" focus-me="procedure.duration_edited">
                </td>
                <td>
                    <span class="btn btn-blue btn-small" ng-click="save_procedure(procedure)">Guardar</span>
                    <span class="btn btn-red btn-small" ng-click="del_procedure(treatment, procedure)">Borrar</span>
                    <span class="btn btn-orange btn-small" ng-click="clone_procedure(treatment, procedure)">Duplicar</span>
                </td>
                <td>
                    <div class="arrow-space">&nbsp;
                        <span class="icon-arrow-up" ng-show="procedure.position!=1" ng-click="position_up(treatment.procedures, procedure)"></span>
                    </div>
                    <div class="arrow-space">&nbsp;
                        <span class="icon-arrow-down" ng-show="procedure.position!=treatment.procedures.length" ng-click="position_down(treatment.procedures, procedure)"></span>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
    </div>
    {% endverbatim %}

    {% treatments_modal clinic %}
</div>
{% endblock %}