{% load staticfiles %}
<div class="module-newsletter">
  <h3>Newsletter</h3>
  <form action="/newsletter/" method="get">
    <input type="text" name="name" placeholder="Name" />
    <input type="text" name="email" placeholder="Email" />
    <input type="submit" value="Subscribe" class="button btn-orange radius right">
  </form>
  <div class="newsletter-loading">
    <img src="{% static 'sanico/img/loading-bar.gif' %}" class="newsletter-loading-img">
  </div>
</div>