<!-- Quote -->
<div class="sidebar-quote">
    <a href="/get-free-quote/">
        <button class="btn btn-red">Get FREE Quote</button>
    </a>
</div>

<!-- Toll FREE Number -->
<div class="sidebar-call">
  <p>TOLL FREE NUMBER<br><span>1 855 SANICO1</span></p>
</div>