{% load i18n mezzanine_tags blog_tags %}

<div class="module-recent-post">
    <h3>Recent Posts</h3>
    {% for post in posts %}
    <div class="row">
      <article class="medium-12 columns">
        <figure>
          <a href="{{post.get_absolute_url}}">
            <img src="{{MEDIA_URL}}{% thumbnail post.image 80 60 %}" alt="">
          </a>
        </figure>
        <section>
          <p class="date">{% blocktrans with sometime=post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}</p>
          <h3><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
          <hr>
        </section>
      </article>
    </div>
    {% endfor %}
</div>