<div class="sidebar-nav widget-sidebar visible-tablet">
  <h3 class="medical-bg">
    <a href="/results/?manual_selector=1&search=medical-and-cosmetic-surgery">Medical &amp;<br>Cosmetic Surgery</a>
  </h3>
  <h3 class="dental-bg">
    <a href="/results/?manual_selector=1&search=dental">Dental</a>
  </h3>
  <h3 class="optical-bg">
    <a href="/results/?manual_selector=1&search=optical">Optical</a>
  </h3>
  <h3 class="hospital-bg">
    <a href="/results/?manual_selector=1&search=hospital">Hospital</a>
  </h3>
</div>

<!-- Accordion -->
<div id="accordion" class="sidebar-nav widget-sidebar visible-desktop">
  <!-- Medical Nav -->
  <h3 class="medical-bg">
    <a href="/results/?manual_selector=1&search=medical-and-cosmetic-surgery">Medical &amp;<br>Cosmetic Surgery</a>
  </h3>
  <div>
    <a href="/results/?manual_selector=1&search=medical-and-cosmetic-surgery">
      <img src="{{ STATIC_URL }}sanico/img/health-tourism-sidebar-nav-02.jpg" alt="Health Tourism">
    </a>
  </div>
  <!-- Dental Nav -->
  <h3 class="dental-bg">
    <a href="/results/?manual_selector=1&search=dental">Dental</a>
  </h3>
  <div>
    <a href="/results/?manual_selector=1&search=dental">
      <img src="{{ STATIC_URL }}sanico/img/dental-tourism-sidebar-nav-01.jpg" alt="Dental Tourism">
    </a>
  </div>
  <!-- Optical Nav -->
  <h3 class="optical-bg">
    <a href="/results/?manual_selector=1&search=optical">Optical</a>
  </h3>
  <div>
    <a href="/results/?manual_selector=1&search=optical">
      <img src="{{ STATIC_URL }}sanico/img/medical-tourism-sidebar-nav-03.jpg" alt="Medical Tourism">
    </a>
  </div>
  <!-- Hospital Nav -->
  <h3 class="hospital-bg">
    <a href="/results/?manual_selector=1&search=hospital">Hospital</a>
  </h3>
  <div>
    <a href="/results/?manual_selector=1&search=hospital">
      <img src="{{ STATIC_URL }}sanico/img/health-tourism-sidebar-nav-04.jpg" alt="Health Tourism">
    </a>
  </div>
</div>
<!-- /Accordion -->