{% load i18n future %}

<form class="form-search" method="get" action="{% url "search" %}">
    <input type="text" placeholder="Search Blog" class="input search-query" name="q">
    <input type="hidden" name="type" value="blog.BlogPost">
    <button type="submit" class="btn btn-turquese search-blog">{% trans "Search" %}</button>
</form>
