<div class="module-social">
  <h3>Join with:</h3>
  <ul>
    <li><a href="https://www.facebook.com/sanimedical" target="_blank" class="icon-facebook"></a></li>
    <li><a href="https://twitter.com/sanimedical" target="_blank" class="icon-twitter"></a></li>
    <li><a href="https://plus.google.com/105576775347577362763/" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
    <li><a href="https://www.youtube.com/sanimedical" target="_blank" class="icon-youtube"></a></li>
    <li><a href="/sanico/rss" target="_blank" class="icon-rss"></a></li>
  </ul>
</div>