{% extends "admin/base_site.html" %}

{% load i18n mezzanine_tags staticfiles %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="{% static settings.MEZZANINE_ADMIN_PREFIX|add:'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'mezzanine/css/admin/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'sanico/css/admin.css' %}">

<!--[if IE 7]><style>.dashboard #content {padding-top: 80px;}</style><![endif]-->
{% endblock %}

{% block coltype %}colMS{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs">{% trans "Home" %}</div>{% endblock %}

{% block content_title %}<h1>{% trans "Dashboard" %}</h1>{% endblock %}

{% block content %}<div id="content-main">{% dashboard_column 0 %}</div>{% endblock %}

{% block sidebar %}
    <div id="content-related" class="dashboard1">{% dashboard_column 3 %}</div>
    {% block extendedsidebar %}
    <div id="content-related" class="dashboard2">{% dashboard_column 1 %}</div>
    <div id="content-related" class="dashboard3">{% dashboard_column 2 %}</div>
    {% endblock %}
{% endblock %}
