{% extends "pages/page.html" %}

{% block main %}
<!-- Home Content -->
<section class="container">
  <div class="row-fluid">
    <!--================== Custom Content ==================-->
    <div class="span4 error-image">
      <img src="/static/sanico/img/404.png" alt="">
    </div>
    <div class="span8 page-error">
      <h2>We’re very sorry.</h2>
      <p>The page you were looking for does not exist.</p>
    </div>
    <!--================== Custom Content ==================-->
  </div>
</section>
<!-- /Home Content -->
<!-- ///////////  End \\\\\\\\ -->
{% endblock %}
