{% extends "pages/page.html" %}

{% block main %}
<!-- Home Content -->
<section class="container">
  <div class="row-fluid">
    <!--================== Custom Content ==================-->
    <div class="span4 error-image">
      <img src="/static/sanico/img/500.png" alt="">
    </div>
    <div class="span8 page-error">
      <h2>Internal Server Error 500</h2>
      <p>Looks like something went wrong.</p>
      <p><span>We’ll try to fix this as soon as possible.</span></p>
    </div>
    <!--================== /Custom Content ==================-->  
  </div>
</section>
<!-- /Home Content -->
<!-- ///////////  End \\\\\\\\ -->
{% endblock %}
