{% load i18n mezzanine_tags comment_tags %}
<!-- Comments -->
<div class="comments">
  {% comment_thread object_for_comments %}

  <!-- Comment Form -->
  <div class="comment-form">
    <div class="row">
      <form method="post" id="comment" action="{{ comment_url }}#comment" data-abide>
        {% csrf_token %}
        <div style="visibility:hidden;display:none">
        {% with posted_comment_form as form %}
        {{ form.content_type }}
        {{ form.object_pk }}<br />
        {{ form.timestamp }}<br />
        {{ form.security_hash }}<br />
        </div>
        <div class="medium-12 columns">
          <legend>Leave A Reply!</legend>
        </div>

        <div class="medium-4 columns">
          <input type="text" name="name" placeholder="Full Name" required pattern="[a-zA-Z]+">
          <small class="error">This field is required.</small>
        </div>
        <div class="medium-4 columns">
          <input type="email" name="email" placeholder="Email" required>
          <small class="error">This field is required.</small>
        </div>
        <div class="medium-4 columns">
          <input type="text" name="url" placeholder="Website (optional)">
        </div>
        <div class="medium-12 columns">
          <textarea name="comment" placeholder="Your message" required></textarea>
          <small class="error">This field is required.</small>
        </div>
        <div class="medium-12 columns">
          <button type="submit" class="button btn-smoke radius right">POST COMMENT</button>
        </div>

        <div style="visibility:hidden;display:none">
          {{ form.honeypot }}
        </div>

        {% endwith %}

      </form>
    </div>
  </div>
  <!-- /Comment Form -->

</div>
<!-- /Comments