{% load i18n mezzanine_tags comment_tags %}
{% load sanico_tags %}

{% if comments_for_thread %}
<!-- Comments List -->
<div class="row">
  <div class="large-12 columns">
    <h4>{% trans "Comments" %}</h4>
  </div>
  {% for comment in comments_for_thread %}
  <article class="comment {% if comment.by_author %}comment-author{% endif %}" id="comment-{{ comment.id }}">
    {% editable comment.is_public comment.is_removed %}
    {% if not comment.is_removed and comment.is_public %}
    <figure class="large-2 columns">
      <img src="{% sanico_gravatar_url comment.email 200 %}" alt="">
    </figure>
    <section class="large-10 columns">
      <h3>{{ comment.user_name }} <span class="comment-meta"><time pubdate datetime="{{ comment.submit_date|date:'Y-m-d' }}"> {{ comment.submit_date }}</time></span></h3>
      
      <p>{{ comment.comment|comment_filter }}</p>
      <hr>
    </section>
    
    <!-- Approval -->
    {% else %}
      {% if request.user.is_staff %}
      <p>
        <b>
          {% if comment.is_removed %}
            {% trans "Comment deleted" %}
          {% else %}
              {% trans "Comment awaiting approval" %}
            {% endif %}
          </b>
          {{ comment.comment|striptags|comment_filter }}
        </p>
        {% endif %}
        <span class="timespan">{{ comment.submit_date|timesince }} {% trans "ago" %}</span>
    <!-- /Approval -->

    {% endif %}
    {% endeditable %}
  </article>
  {% endfor %}
  
</div>
<!-- /Comments List -->
{% endif %}