<div class="l-tabs">
  <div class="head-tabs">
    <h3>Medical Procedures</h3>
  </div>
  <dl class="tabs vertical" data-tab>
    <dd class="active"><a href="#plastic">Plastic Surgery</a></dd>
    <dd><a href="#bariatric">Bariatric Surgery</a></dd>
    <dd><a href="#orthopedic">Orthopedic Surgery</a></dd>
    <dd><a href="#dental">Dental</a></dd>
    <dd><a href="#optical">Optical</a></dd>
  </dl>
  <div class="tabs-content vertical">
    <div class="content active" id="plastic">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, quasi, dolores, asperiores, doloremque voluptate quo itaque nam quisquam fugit necessitatibus velit quia modi explicabo sit odio voluptatum eveniet consequuntur recusandae!</p>
      <a href="" class="button tiny btn-smoke radius right">Read more</a>
    </div>
    <div class="content" id="bariatric">
      <p>Panel 2 content goes here.</p>
    </div>
    <div class="content" id="orthopedic">
      <p>Panel 3 content goes here.</p>
    </div>
    <div class="content" id="dental">
      <p>Panel 4 content goes here.</p>
    </div>
    <div class="content" id="optical">
      <p>Panel 4 content goes here.</p>
    </div>
  </div>
</div>