<div class="hospitals">
  <div class="head">
    <h3>Hospitals</h3>
  </div>
  <ul>
    <!-- Hospital 1 -->
    <li>
      <figure><img src="http://placehold.it/60x60" alt=""></figure>
      <p><a href="">Phasellus vel augue accumsan.</a></p>
    </li>
    <!-- Hospital 2 -->
    <li>
      <figure><img src="http://placehold.it/60x60" alt=""></figure>
      <p><a href="">Omnis iste natus error sit voluptatem.</a></p>
    </li>
    <!-- Hospital 3 -->
    <li>
      <figure><img src="http://placehold.it/60x60" alt=""></figure>
      <p><a href="">Phasellus vel augue accumsan.</a></p>
    </li>
    <!-- Hospital 4 -->
    <li>
      <figure><img src="http://placehold.it/60x60" alt=""></figure>
      <p><a href="">Omnis iste natus error sit voluptatem.</a></p>
    </li>
  </ul>
</div>