{% load staticfiles %}
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'sanico/js/jquery.form.js' %}"></script>
<script type="text/javascript" src="{% static 'sanico/js/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'sanico/js/bootstrap-message.js' %}"></script>
<script type="text/javascript" src="{% static 'sanico/js/page/landing-page.js' %}"></script>

<!-- Social Scripts -->
<!-- g+ -->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<!-- twitter -->
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- Facebook -->
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=117140091760566";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!-- /Social Scripts -->
