{% load i18n %}

{% if current_page.has_previous or current_page.has_next %}
<div class="paginator" role="navigation">
  <div class="page-links">
    {% for page in current_page.visible_page_range %}
        <a {% if page == current_page.number %} class="current"{% endif %} href="?page={{ page }}{% if querystring %}&{{ querystring }}{% endif %}">{{ page }}</a>
    {% endfor %}
  </div>

  <div class="page-nav">
    {% if current_page.has_previous %}
      <a class="button radius" href="?page={{ current_page.previous_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">
        &laquo; {% trans "Prev" %}
      </a>
    {% endif %}
    {% if current_page.has_next %}
      <a class="button radius" href="?page={{ current_page.next_page_number }}{% if querystring %}&{{ querystring }}{% endif %}">
        {% trans "Next" %} &raquo;
      </a>
    {% endif %}
  </div>
</div>
{% endif %}
