<div class="module-popular-treatments">
  <h3>Popular Treatments</h3>
  <ul>
    <li><a href="">Lorem ipsum dolor sit amet,</a></li>
    <li><a href="">Mauris ornare felis quis libero cursus sagittis.</a></li>
    <li><a href="">Nulla et ante in metus mollis dignissim.</a></li>
    <li><a href="">In a quam in ipsum commodo tempus.</a></li>
    <li><a href="">Nunc porta tellus et pharetra consectetur.</a></li>
  </ul>
</div>