/*www.a2zmenu.com
  Presents: A2Zmenu Family*/

#slidecontainer
{
    bottom: 0px;
    display: none;
    right: 0px;
    position: fixed;
    width: 305px;
    z-index: 3;
}

#slideinner
{
    background-color: #fff;
    border: 2px outset #3381ed;
    padding: 5px 0px 0px 5px;
}

#slideinner #btnClose
{
    float: right;
    padding-right: 10px;
    text-decoration: none;
    margin-top: -5px;
    color: #3381ed;
    cursor: pointer;
}

#slideinner #slidehead
{
    font-size: 11px;
    font-weight: bold;
    /*float: left;*/
}

.slide-post-image{
    float: left;
    margin: 6px;
    margin-top: 0;
    width: 50px;
}

.slideinner-content{
    height: 80px;
}

.slide-post-title{
    margin-top: 10px;
}