.datetimeshortcuts {
    visibility: hidden;
    display: none;
}

#mapCanvas {
    border: 1px solid #c5c5c5;
    text-align: center;
    width: 870px;
    height: 500px;
}

#id_location_set-0-map_iframe {
    width: 490px;
}