{% load mezzanine_tags %}

  <div class="row">
      {% for image in images %}
      <div class="medium-3 columns">
        <a class="jackbox gallery_section" data-group="images" href="{{MEDIA_URL}}{{image.photo}}">
          <img src="{{MEDIA_URL}}{% thumbnail image.photo 220 145 %}" alt="">
        </a>
      </div>
      {% endfor %}
  </div>