
<div class="module" id="recent-actions-module">
    <h2>Clinics recently modified</h2>
    <ul class="actionlist" style="margin:0;">
        {% for clinic in clinics %}
        <li style="list-style-type:none;" class="changelink">
            <a href="/admin/profile/clinic/{{clinic.id}}/">{{clinic}}</a><br>
            <i>{{clinic.modified}}</i><br>
        </li>
        {% endfor %}
    </ul>
</div>
