{% load i18n %}
<!-- Address -->
<section class="widget-sidebar widget-contact-profile">
  <div class="widget-header">
      <h3>{% trans "Address" %}</h3>
  </div>
  <ul>
    <li>{{clinic.address}}, {{clinic.city}}</li>
    <li>{{clinic.get_state}}, {{clinic.country}} {{clinic.zip_code}}</li>
  </ul>
</section>

<!-- Opening Hours -->
<section class="widget-sidebar widget-opening-hours">
  <div class="widget-header">
      <h3>{% trans "Opening Hours" %}</h3>
  </div>
  <table class="table">
        <tbody>
          {% for day in days %}
          <tr>
            <td>{{day.day_name}}</td>
            <td>{{day.hour_open|date:"H:i"}} - {{day.hour_close|date:"H:i"}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</section>
