{% load mezzanine_tags future %}

{% for image in images %}

<div class="medium-3 columns">
    <a href="{% url 'profile_gallery' clinic.slug %}">
        {% editable image.photo %}
        <img src="{{MEDIA_URL}}{% thumbnail image.photo 220 145 %}" alt="">
        {% endeditable %}
    </a>
</div>

{% endfor %}