{% load mezzanine_tags future %}

<div class="row">
{% for image in images %}
<div class="span3 editable-image">
    <img src="{{MEDIA_URL}}{% thumbnail image.photo 220 145 %}" alt="">
    <label for="enable">
        show in front:
        <input type="checkbox" data="{{image.id}}" id="enable" class="in-front-checkbox"
        {% if image.in_front %}checked{% endif %}/>
    </label>
    <div type="submit" class="gallery-close-button">
        <span data="{{image.id}}"></span>
    </div>
    <div clas="editable"></div>
</div>
{% endfor %}
</div>
