{% load mezzanine_tags i18n %}
<div class="editor-header"><img src="{{STATIC_URL}}sanico/img/loading_2.gif" class="header-image-loading" style="display:none">
  <h2>{% trans "Header Preview" %}</h2>
</div>
<div class="row">
  <div class="cover">
    <div class="overview-edit-image edit-header-image"></div>
    <img src="{{MEDIA_URL}}{% thumbnail clinic.image_header 1170 300 %}" alt="" width="870" height="278">
  </div>
</div>

<div class="row">
  <figure class="editor-picture-profile">
    <div class="overview-edit-image edit-profile-image"></div>
    <img src="{{MEDIA_URL}}{% thumbnail clinic.image_profile 140 140 %}" alt="" width="120" height="120" id="profile-image">
  </figure>
</div>