{% load staticfiles %}

<!--========== Modal add treatment ==========-->
<div id="myModal" class="modal hide fade modal-add-treatment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="add-treatment-header" ng-init="edit_mode=false">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close_modal()">×</button>
        <h3 id="myModalLabel">Agregar Tratamientos</h3>
    </div>

    <div class="modal-body" ng-hide="edit_mode">
        <!-- Category -->
        <label for="" class="category-treatment">Category</label>

        <select ng-model="category" ng-init="category={{treatments.0.id}}">
            {% for treatment in treatments %}
            <option value="{{treatment.id}}">{{treatment.name}}</option>
            {% endfor %}
        </select>

        <p>Treatments</p>
        <div class="modal-list-treatments">
            {% for procedure in procedures %}
            <div ng-model="procedure_{{procedure.id}}" ng-init="procedure_{{procedure.id}}={{procedure.category.id}}" ng-show="procedure_{{procedure.id}}==category">
                <label><input type="checkbox" class="procedure" name="procedure" value="{{procedure.id}}"> {{procedure.name|safe}}</label>
            </div>
            {% endfor %}
        </div>
        <!-- Category -->
    </div>

    <div class="modal-footer" ng-hide="edit_mode" ng-init="sending=false">
        <img src="{% static 'sanico/img/loading_2.gif' %}" ng-show="sending" class="left">
        <a href="#!" class="request-new-treatment" ng-click="edit_mode=true" ng-hide="sending">Solicitar nuevo tratamiento</a>
        <button class="btn btn-grey" data-dismiss="modal" aria-hidden="true" ng-click="close_modal()">Cerrar</button>
        <button class="btn btn-green" ng-click="send_procedures()">Guardar cambios</button>
    </div>

    <div class="modal-body" ng-show="edit_mode">
        Name: <input type="text" ng-model="procedure_name" class="modal-name"><br>
        Description: <textarea ng-model="procedure_description" class="modal-description"></textarea>
    </div>

    <div class="modal-footer" ng-show="edit_mode">
        <img src="{% static 'sanico/img/loading_2.gif' %}" ng-show="sending" class="left">
        <button class="btn btn-grey" ng-click="edit_mode=false">Cancelar</button>
        <button class="btn btn-green" ng-click="send_add_treatment()">Enviar</button>
    </div>
</div>
<!--========== /Modal add treatment ==========-->