{% extends 'base.html' %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags widget_tags %}
{% load sanico_tags %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block fb_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block gplus_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable blog_post.title %}{{ blog_post.title }}{% endeditable %}
{% endblock %}

{% block extra_js %}{{block.super}}
<script type="text/javascript" src="{{STATIC_URL}}sanico/js/blog/blog.js"></script>
{% endblock %}

{% block extra_css %}{{block.super}}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}sanico/css/blog/simplereachslide.css">
{% endblock %}

{% block main %}

<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "Blog" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="/">Home</a></li>
          <li class="current"><a href=".">Blog</a></li>
        </ul>
      </div>
    
    </div>
  </div>
<!-- /Title -->

<!--====== Main ======-->
<div class="row" role="main">
  <!-- Content -->
  <div class="medium-9 columns article">
  <article>
  <!-- Image -->
  <figure>
    {% if blog_post.image %}
    {% block blog_post_list_post_featured_image %}
    {% editable blog_post.image %}
    <img src="{{ MEDIA_URL }}{% thumbnail blog_post.image 700 280 %}" alt="{{ blog_post.image_description }}" />
    {% endeditable %}
    {% endblock %}
    <div class="ribbon">
      {% editable blog_post.title %}
      <h2>{{ blog_post.title|safe }}</h2>
      {% endeditable %}
    </div>
    {% endif %}
  </figure>
  <!-- /Image -->
  <!-- Meta -->
  {% block blog_post_detail_postedby %}
  {% editable blog_post.publish_date %}
  <p class="meta-time">
    {% trans "Published on" %}:
    {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
    {% with blog_post.user as author %}
      by <i>{{ author.get_full_name|default:author.username }}</i>
    {% endwith %}
  </p>
  {% endeditable %}
  <!-- Render Social Media -->
  {% render_sociallike blog_post %}
  <!-- /Render Social Media -->
  {% endblock %}
  <!-- /Meta -->
  <section>
    <!-- Text -->
    {% block blog_post_detail_content %}
      {% editable blog_post.content %}
      <p class="archive-excerpt">
        {{ blog_post.content|richtext_filter|safe }}
      </p>
      {% endeditable %}
    {% endblock %}
    <!-- /Text -->

    <!-- Tags -->
    {% block blog_post_detail_keywords %}
    {% keywords_for blog_post as tags %}
    {% if tags %}
    {% spaceless %}
    <p class="single-tags">
      <strong>{% trans "Tags" %}:&nbsp;</strong>
      {% for tag in tags %}
      <a href="{% url "blog_post_list_tag" tag.slug %}">{{ tag }}</a>&nbsp;
      {% endfor %}
    </p>
    {% endspaceless %}
    {% endif %}
    {% endblock %}
    <!-- /Tags -->

  </section>
</article>
<!-- Profile -->
{% render_profile blog_post %}
<!-- /Profile -->

<!-- Comments -->
{% block blog_post_detail_comments %}
{% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
{% endblock %}
<!-- /Comments -->
  </div>

  {% block sidebar %}
  <!-- Sidebar -->
    {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

</div>
<!--====== /Main ======-->

{% related_posts blog_post %}
{% endblock %}
