{% extends 'base.html' %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags widget_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block fb_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block gplus_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "Blog" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="/">Home</a></li>
          <li class="current"><a href=".">Blog</a></li>
        </ul>
      </div>
    
    </div>
  </div>
<!-- /Title -->

<!--====== Main ======-->
<div class="row" role="main">
  <!-- Content -->
  <div class="medium-9 columns article">
    {% for blog_post in blog_posts.object_list %}
    <article>
      <figure>
        {% if blog_post.image %}
        {% block blog_post_list_post_featured_image %}
        <img src="{{ MEDIA_URL }}{% thumbnail blog_post.image 700 280 %}" alt="{{ blog_post.image_description }}" />
        {% endblock %}
          <div class="ribbon">
            {% block blog_post_list_post_title %}
            {% editable blog_post.title %}
            <h2><a href="{{ blog_post.get_absolute_url }}">{{blog_post.title|safe}}</a></h2>
            {% endeditable %}
            {% endblock %}
          </div>
        {% endif %}
      </figure>
        <p class="meta-time">
          {% trans "Published on" %}:
          {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
          {% with blog_post.user as author %}
            by <i>{{ author.get_full_name|default:author.username }}</i>
          {% endwith %}
        </p>
      <section>
        {% block blog_post_list_post_content %}
          {% editable blog_post.content %}
          <p class="archive-excerpt">
            {{ blog_post.content|striptags|truncatewords_html:35|safe }}
          </p>
          {% endeditable %}
        {% endblock %}
        <a href="{{ blog_post.get_absolute_url }}" class="button btn-smoke radius">{% trans "Read more" %}</a>
      </section>
    </article>
    {% endfor %}

  <!-- blog list pagination -->
    {% pagination_for blog_posts %}
  <!-- end pagination -->

  </div>
  <!-- /Content -->
  

  {% block sidebar %}
  <!-- Sidebar -->
    {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

</div>
<!--====== /Main ======-->

{% endblock %}
