{% load mezzanine_tags %}
<div id="slidecontainer">
    <div id="slideinner">
        <span id="slidehead"><b>Recommended for you</b></span>
        <span id="btnClose" title="close">&#215;</span>
        <div  class="slideinner-content">
            {% if post %}
            <a href="{{post.get_absolute_url}}">
                <img src="{{ MEDIA_URL }}{% thumbnail post.image 50 50 %}" alt="{{ blog_post.image_description }}" class="slide-post-image" />
            </a>
            <div class="slide-post-title">
                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
            </div>
            <div ></div>
            {% else %}
            <b>Not related posts.</b>
            {% endif %}
        </div>
    </div>
</div>
