
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SaniCo. Contacto</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#e1e1e1">
  <tr>
    <td>

      <table>
        <tr>
          <td height="20">
          </td>
        </tr>
      </table>


      <table width="780" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#ffffff" style="box-shadow:0px 5px 10px rgba(51,51,51,.3);">
        <tbody>
          <tr>
            <td>
              <!--================== Content =======================-->
              <!-- Header -->
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td>

                    <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/clinica-doctor_03.jpg" width="780" height="67" alt="Header" />

                  </td>
                </tr>
              </table>
              <!-- /Header -->

              <!-- texto -->
              <table cellpadding="100">
                <tr>

                  <td style="font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:25px; color:#808080; text-align:center;">

                    <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/logo-sanico_07.jpg" alt="logo" style="margin-bottom:25px;"/>

                    <p style="text-align:justify;">Dear <b>{{clinic_name}}:</b> <br /><br />

                      We are flattered to hear about your interest in becoming part of the SaniCo Network; we are currently reviewing the information you've provided. The account manager will contact you shortly to follow up with your request.<br /><br />

                    Best Regards </p>

                  </td>
                </tr>
              </table>
              <!-- /texto -->

              <!-- Footer -->
              <table width="180" cellpadding="0" cellspacing="0">
                <tr>
                  <td>

                    <table bgcolor="#F2F2F2">
                      <tr>
                          <td>
                              <a href="http://www.sanimedicaltourism.com"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_12.jpg" width="140" height="48" alt="footer-logo" border="0" style="margin-left:20px; padding-top:10px;" /></a>
                          </td>

                          <td width="130" style="background-color:#F2F2F2;">
                          </td>
                          <td>

                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_14.jpg" width="195" height="48" alt="slogan" style="padding-top:10px;" />
                          </td>

                          <td bgcolor="#F2F2F2">
                            <table>
                              <tr>
                                <td width="300"></td>
                              </tr>
                              <tr>
                                <td width="250" align="right" bgcolor="#F2F2F2" style="padding:10px 30px 10px 0;">
                                  <a href="https://www.facebook.com/sanimedical" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_17.jpg" width="20" height="19" alt="facebook" border="0" /></a>

                                  <a href="https://twitter.com/sanimedical" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_19.jpg" width="20" height="19" alt="twitter" border="0" /></a>

                                  <a href="http://www.youtube.com/sanimedical" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_21.jpg" width="20" height="19" alt="youtube" border="0" /></a>

                                  <a href="https://plus.google.com/u/0/105576775347577362763/posts" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_23.jpg" width="20" height="19" alt="googleplus" border="0" /></a>

                                  <a href="https://sanimedicaltourism.com/blog/feeds/rss/" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_25.jpg" width="20" height="19" alt="rss" border="0" /></a>
                                </td>
                               </tr>
                            </table>
                          </td>
                    </tr>
                    </table>

                    <table width="780" bgcolor="F2F2F2" style="padding:0 25px;">
                      <tr>
                          <td>
                            <hr />
                            </td>
                        </tr>
                    </table>


                    <table align="center" bgcolor="F2F2F2" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="middle">
                          <table width="780" align="center">
                            <tr align="center" bgcolor="#F2F2F2">
                              <td>
                                <table>
                                  <tr>
                                    <td width="260">
                                      <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#B3B3B3; margin-left:20px;">info@sanimedicaltourism.com</h1>
                                    </td>

                                    <td width="260">
                                      <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#B3B3B3; margin-left:50px;">
                                      Phone: 1 855 SANICO 1</h1>
                                    </td>

                                    <td width="260">
                                       <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#B3B3B3; margin-left:60px;">sanimedicaltourism.com</h1>
                                     </td>
                                  </tr>
                                </table>

                               </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>

                  </td>
                </tr>
              </table>
              <!-- /Footer -->

              <!--================== /Content =======================-->
            </td>
          </tr>
        </tbody>
      </table>

      <table>
        <tr>
          <td height="75">
          </td>
        </tr>
      </table>

      </td>
    </tr>
  </table>

</body>
</html>
