<h3>Feedback Information</h3>
<b>First Name: </b>{{form.first_name}}<br>
<b>Last Name: </b>{{form.last_name }}<br>
<b>Email: </b>{{form.email}}<br>
<b>Features: </b>{{form.features}}<br>
<b>Usability: </b>{{form.usability }}<br>
<b>Design: </b>{{form.design}}<br>
<b>Message: </b><i>{{form.message}}</i><br>
