<table style="width:100%">
    <tr>
        <td style="text-align:center">
            <img src="https://sanimedicaltourism.com/static/sanico/img/logo.png"  style="margin-bottom:20px">
        </td>
    </tr>
    <tr>
        <td  style="text-align:center">
            <h1>Thank You, your email has been sent.</h1>
        </td>
    </tr>
</table>
