<h3>New clinic added!</h3>
<hr>
<h3>Clinic info</h3>
<h4>
    <b>Clinic Name: </b><i>{{clinic_name}}</i><br>
    <b>Clinic Category: </b><i>{{clinic_desire_appointment}}</i><br>
    <b>Clinic Country: </b><i>{{clinic_country}}</i><br>
    <b>Clinic Website: </b><i>{{clinic_website}}</i><br>
    <b>Clinic Phone: </b><i>{{clinic_phone}}</i><br>
    <b>Clinic Email: </b><i>{{clinic_email}}</i>
</h4>

<h3>Contact info</h3>
<h4>
    <b>Contact First Name: </b><i>{{contact_first_name}}</i><br>
    <b>Contact Last Name: </b><i>{{contact_last_name}}</i><br>
    <b>Contact Email: </b><i>{{contact_email}}</i><br>
    <b>Contact Phone: </b><i>{{contact_phone}}</i><br>
    <b>Contact Comment: </b><i>{{contact_comment}}</i>
</h4>
