<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Has recibido una reseña</title>
</head>
<body>
    <table width="780" border="0" cellspacing="0" cellpadding="0" align="center">
        <!--texto-->
        <tr>
            <td align="center" style="padding-top:45px;">
                <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/logo-sanico_07.jpg" width="232" height="86" alt="Logo-sanico" />
            </td>
        </tr>
        <tr>
            <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px/14px; color:#808080; padding:55px; text-align:center;">
                <h4>Patient:</h4>
                <table width="460" align="center">
                    <tr align="left">
                        <td style="width: 200px;">Name</td>
                        <td width="452">{{review.first_name}} {{review.last_name}}</td>
                    </tr>
                    <tr align="left">
                        <td width="452">Email</td>
                        <td width="452">{{review.email}}</td>
                    </tr>
                    <tr align="left">
                        <td width="452">Appointment date</td>
                        <td width="452">{{review.date_appointment}}</td>
                    </tr>
                    <tr align="left">
                        <td width="452">City</td>
                        <td width="452">{{review.city}}</td>
                    </tr>
                    <tr align="left">
                        <td width="452">Country</td>
                        <td width="452">{{review.country}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom:50px;">
                <table width="460" align="center">
                    <tr>
                        <td width="452">
                            <div style="font-family:Arial, Helvetica, sans-serif; font-style:italic; font-size:12px/14px; color:#808080; text-align:justify">
                                <table>
                                    <tr>
                                      <td>Quality</td>
                                      <td style="width: 200px;">
                                        <div style="width: {{review.quality}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                                      </td>
                                      <td>Service</td>
                                      <td>
                                        <div style="width: {{review.service}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Price</td>
                                      <td>
                                        <div style="width: {{review.price}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                                      </td>
                                      <td>Communication</td>
                                      <td>
                                        <div style="width: {{review.communication}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Location</td>
                                      <td>
                                        <div style="width: {{review.location}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                                      </td>
                                      <td></td>
                                      <td></td>
                                    </tr>
                                    <tr style="height: 50px;">
                                        <td colspan="2" style="text-align: center;">Average Grade</td>
                                        <td colspan="2" style="text-align: center">
                                            <div style="width: {{review.qualification}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div style="margin-top: 30px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"{{review.comment}}"</div>
                            </div>
                            <div style="margin-top: 60px; text-align:center; width:100%; font-family:Arial, Helvetica, sans-serif; font-size:12px/14px; color:white;">
                                <span style="margin-right: 20px; background-color:#32C0D1; padding: 10px;">
                                    <a href="{{link_ok}}" style="text-decoration:none; color:white;">Approve Review</a>
                                </span>
                                <span style="margin-right: 20px; background-color: #32C0D1; padding: 10px;">
                                    <a href="{{link_cancel}}" style="text-decoration:none; color:white;">Cancel Review</a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--/texto-->
        <!--footer-->
        <tr>
            <td>
                <table bgcolor="#F2F2F2">
                    <tr>
                        <td style="padding:10px;">
                            <a href="http://www.sanimedicaltourism.com">
                                <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_12.jpg" width="140" height="48" alt="footer-logo" border="0"/>
                            </a>
                        </td>
                        <td width="130" style="background-color:#F2F2F2;">&nbsp;</td>
                        <td>
                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_14.jpg" width="195" height="48" alt="slogan" />
                        </td>
                        <td bgcolor="#F2F2F2">
                            <table>
                                <tr>
                                    <td width="300" style="padding:10px;"></td>
                                </tr>
                                <tr>
                                    <td width="300" align="right" bgcolor="#F2F2F2" style="padding:10px;">
                                        <a href="https://www.facebook.com/sanimedical" target="_blank">
                                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_17.jpg" width="20" height="19" alt="facebook" border="0"/>
                                        </a>

                                        <a href="https://twitter.com/sanimedical" target="_blank">
                                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_19.jpg" width="20" height="19" alt="twitter" border="0"/>
                                        </a>

                                        <a href="http://www.youtube.com/sanimedical" target="_blank">
                                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_21.jpg" width="20" height="19" alt="youtube" border="0"/>
                                        </a>

                                        <a href="https://plus.google.com/u/0/105576775347577362763/posts" target="_blank">
                                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_23.jpg" width="20" height="19" alt="googleplus" border="0"/>
                                        </a>

                                        <a href="https://sanimedicaltourism.com/blog/feeds/rss/" target="_blank">
                                            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_25.jpg" width="20" height="19" alt="rss" border="0"/>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
                <table width="785" bgcolor="F2F2F2" style="padding:0 25px;">
                    <tr>
                        <td>
                            <hr />
                        </td>
                    </tr>
                </table>

                <table align="center" bgcolor="F2F2F2">
                    <tr>
                        <td valign="middle">
                            <table width="780" align="center">
                                <tr align="center" bgcolor="#F2F2F2">
                                    <td>
                                        <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#B3B3B3;">
                                            info@sanimedicaltourism.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone: 1 855 SANICO 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sanimedicaltourism.com
                                        </h1>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</body>
</html>