<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Has recibido una reseña</title>
</head>
<body>
<table width="780" border="0" cellspacing="0" cellpadding="0" align="center">
  <!--header-->
  <tr>
    <th scope="col"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/resena_03.jpg" width="780" height="70" alt="header" /></th>
  </tr>
  <!--/header-->
  <!--texto-->
  <tr>
  	<td align="center" style="padding-top:45px;">
            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:21px; text-align:left; color:#53D39C; padding-left:45px;">{{datetime}}</h1>

    <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/logo-sanico_07.jpg" width="232" height="86" alt="Logo-sanico" /></td>
  </tr>
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; font-size:16px/14px; color:#808080; padding:55px; text-align:center;"><p>¡Alguien acaba de escribir una reseña sobre tu clínica! </p>
</td>
    </tr>
    <tr>
    	<td style="padding-bottom:50px;">
        <table width="630" align="center">
        <tr>
          <td width="630">
            <div style="font-family:Arial, Helvetica, sans-serif; font-style:italic; font-size:12px/14px; color:#808080; text-align:center;">
              <div style="margin-bottom: 30px; text-align: left;">
                Review from: {{review.get_full_name}}<br />
                Email: {{review.email}}
              </div>
              <div style="text-align:center">
                <table width="100%">
                  <tr>
                  <td>Quality</td>
                  <td style="width: 200px;">
                    <div style="width: {{review.quality}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                  </td>
                  <td>Service</td>
                  <td>
                    <div style="width: {{review.service}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                  </td>
                </tr>
                <tr>
                  <td>Price</td>
                  <td>
                    <div style="width: {{review.price}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                  </td>
                  <td>Communication</td>
                  <td>
                    <div style="width: {{review.communication}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                  </td>
                </tr>
                <tr>
                  <td>Location</td>
                  <td>
                    <div style="width: {{review.location}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                  <tr style="height: 50px;">
                    <td colspan="2" style="text-align: center;">Average Grade</td>
                    <td colspan="2" style="text-align: center">
                      <div style="width: {{review.qualification}}0px; height: 20px; background: url('https://sanico.s3.amazonaws.com/media/uploads/emails/email/star.png') repeat-x top left;"></div>
                    </td>
                  </tr>
                </table>
              </div>
              <div>

                <a href="http://www.facebook.com/sharer.php?s=100&p[url]={{review.get_url}}&p[images][0]=https://sanimedicaltourism.com/static/sanico/img/ico/icon-250x250.png&p[title]={{review.first_name}}%20{{review.last_name}} has written a new review for {{review.clinic.name}}&p[summary]={{review.comment}}"

                  target="_blank"

                  style="display: inline-block;
                    background: #1e62a9 url('http://sanico.s3.amazonaws.com/media/uploads/emails/email/fb.png') 8px center no-repeat;
                    margin: 15px 25px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    padding: 10px 50px;
                    font-size: 12px;
                    padding-right: 0;
                    border: 1px solid #143f72;
                    border-bottom-width: 3px;
                    border-radius: 5px 5px 3px 3px;
                    transition: background-color .2s ease-out;
                    text-decoration: none;
                    color: white;
                    width: 210px;">
                  Comparte en <strong>Facebook</strong>
                </a>

                <a href="http://twitter.com/share?text=@sanimedical - {{review.first_name}}%20{{review.last_name}} has written a new review for {{review.clinic.name}}&url={{review.get_url}}"

                  style="display: inline-block;
                  background: #1ec4fe url('http://sanico.s3.amazonaws.com/media/uploads/emails/email/tt.png') 8px center no-repeat;
                  text-decoration: none;
                  margin: 15px 25px;
                  color: white;
                  text-transform: uppercase;
                  letter-spacing: 1px;
                  padding: 10px 50px;
                  font-size: 12px;
                  padding-right: 0;
                  border: 1px solid #1b9ac7;
                  border-bottom-width: 3px;
                  border-radius: 5px 5px 3px 3px;
                  transition: background-color .2s ease-out;
                  width: 190px;"
                  target="_blank">
                  Comparte en <strong>Twitter</strong>
                </a>

              </div>
              <div style="margin-top: 30px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"{{review.comment}}"
              </div>
            </div>

            <div style="font-family:Arial, Helvetica, sans-serif; font-style:italic; font-size:11px; color:#808080; text-align:right; padding-top:25px;">
              Consideras que la reseña es falsa o inválida? <a href="{{link}}">Reportar reseña</a>
            </div>
          </td>
        </tr>
            </table>
</td>
</tr>
<!--/texto-->
<!--footer-->
<tr>
<td>
<table bgcolor="#F2F2F2">
  <tr>
      <td style="padding:10px;">
          <a href="http://www.sanimedicaltourism.com"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_12.jpg" width="140" height="48" alt="footer-logo" border="0"/></a></td>
          <td width="130" style="background-color:#F2F2F2;">&nbsp;</td>
          <td>
            <img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_14.jpg" width="195" height="48" alt="slogan" />
          </td>
            <td bgcolor="#F2F2F2">
              <table>
                  <tr>
                    <td width="300" style="padding:10px;"></td>
                </tr>
                    <tr>
                    <td width="300" align="right" bgcolor="#F2F2F2" style="padding:10px;">
                      <a href="https://www.facebook.com/sanimedical" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_17.jpg" width="20" height="19" alt="facebook" border="0"/></a>

                      <a href="https://twitter.com/sanimedical" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_19.jpg" width="20" height="19" alt="twitter" border="0"/></a>

                      <a href="http://www.youtube.com/sanimedical" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_21.jpg" width="20" height="19" alt="youtube" border="0"/></a>

                      <a href="https://plus.google.com/u/0/105576775347577362763/posts" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_23.jpg" width="20" height="19" alt="googleplus" border="0"/></a>

                      <a href="https://sanimedicaltourism.com/blog/feeds/rss/" target="_blank"><img src="http://sanico.s3.amazonaws.com/media/uploads/emails/email/template-correos_25.jpg" width="20" height="19" alt="rss" border="0"/></a>
                    </td>
                    </tr>
        </table>
</td>
</tr>


</table>
<table width="785" bgcolor="F2F2F2" style="padding:0 25px;">
  <tr>
      <td>
        <hr />
        </td>
    </tr>
</table>


<table align="center" bgcolor="F2F2F2">
<tr>
<td valign="middle">
<table width="780" align="center">
    <tr align="center" bgcolor="#F2F2F2">
          <td>
            <h1 style="font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color:#B3B3B3;">info@sanimedicaltourism.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone: 1 855 SANICO 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; sanimedicaltourism.com</h1>
            </td>
        </tr>
</table>
</td>
</tr>
</table>
<!--/footer-->
</td></tr>
</table>


</body>
</html>
