<!DOCTYPE html>
{% load pages_tags mezzanine_tags widget_tags i18n future %}
<html lang="en">
<!--
                                                 .__
  _____    ____  _____________________     ____  |__|  ____    ____
 /     \ _/ __ \ \___   /\___   /\__  \   /    \ |  | /    \ _/ __ \
|  Y Y  \\  ___/  /    /  /    /  / __ \_|   |  \|  ||   |  \\  ___/
|__|_|  / \___  >/_____ \/_____ \(____  /|___|  /|__||___|  / \___  >
      \/      \/       \/      \/     \/      \/          \/      \/

-->
  <head>
      <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=10" />
  <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" >
  <meta name='static_url' data="{{STATIC_URL}}">

  <link rel="shortcut icon" href="{{STATIC_URL}}sanico/img/ico/favicon.ico">
  <link rel="author" href="{{STATIC_URL}}sanico/humans.txt">

  {% ifinstalled mezzanine.blog %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "sanico_feed" "rss" %}">
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "sanico_feed" "atom" %}">
  {% endifinstalled %}

  <!-- Facebook Metadata -->
  {% block facebook_metadata %}
  <meta property="og:title" content="{% block fb_title %}Sani Medical Tourism{% endblock %}"/>
  <meta property="og:description" content='{% block fb_description %}{% endblock %}'/>
  <meta property="og:url" content="https://sanimedicaltourism.com"/>
  <meta property="og:image" content="{{ STATIC_URL }}sanico/img/ico/icon-250x250.png"/>
  <meta property="fb:admins" content="huleos"/>
  {% endblock %}
  <!-- Google+ Metadata /-->
  <meta itemprop="name" content="Sani Medical Tourism">
  <meta itemprop="description" content='{% block gplus_description %}{% endblock %}'>
  <meta itemprop="image" content="{{ STATIC_URL }}sanico/img/ico/icon-250x250.png">

<<<<<<< HEAD
=======
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

>>>>>>> 0eb9a330bb7d6faf6a46722efe5c023785240fa6
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}sanico/css/style.css" />
  {% endcompress %}

  {% block extra_css %}{% endblock %}

  {% block extra_head %}{% endblock %}

  <link type="text/plain" rel="author" href="humans.txt" />
  <link rel="canonical" href="#" />

  </head>
  <body>

    {% block body %}

      {% block header %}
      <!-- ====== Header ======-->
      <header>
        <!-- Fixed -->
        <div class="fixed-bar hide-for-small-only">
          <div class="row">

            <div class="large-2 medium-3 columns">
              <a href="" class="button btn-quote btn-orange radius">Get Free Quote</a>
            </div>

            <div class="large-7 medium-9 columns">
              <form class="search-form" action="{% url 'results' %}" method='get'>

                  <div class="inline">
                    <label>Looking For?</label>
                    <input type="text" name="search" id="search_category" placeholder="Dentist, Hospitals, Plastic Surgery...">
                  </div>
                
                  <div class="inline">
                    <label>Where?</label>
                    <input type="text" name="where" id="search_cities" placeholder="Los Algodones, Mexicali, Tijuana...">
                  </div>

                  <input type="submit" value="Search" class="button btn-aqua radius">

              </form>
            </div>

            <div class="large-3 columns hide-for-small-only hide-for-medium-only">
              <h4 class="toll-free">Toll Free Number <span>1 855 SANICO1</span></h4>
            </div>

          </div>
        </div>
        <!-- /Fixed -->

        <!-- Navigation -->
        <div class="navigation">
          <div class="row">
            <div class="medium-12 columns">
              <nav class="top-bar" role="navigation" data-topbar>
                <ul class="title-area">
                  <li class="name">
                    <a href="/"><img src="{{ STATIC_URL }}sanico/img/new/logo.svg" alt=""></a>
                  </li>
                  <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
                </ul>

                <section class="top-bar-section">
                  <!-- Right Nav Section -->
                  <ul class="right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about-us/">About Us</a></li> <!-- cambiar link por about us --> 
                    <li class="mega-dropdown"><a href="/destinations/">Destinations</a>
                      <ul>
                        <li><a href="/destinations/mexicali">Mexicali</a></li>
                        <li><a href="/destinations/los-algodones">Los Algodones</a></li>
                        <li><a href="/destinations/tijuana">Tijuana</a></li>
                        <li><a href="/destinations/ensenada">Ensenada</a></li>
                        <li><a href="/destinations/san-luis-rio-colorado">San Luis R.C.</a></li>
                      </ul>
                    </li>
                    <li class="mega-dropdown"><a href="/medical-procedures/">Medical Procedures</a>
                      <ul class="level-1">
                        <!-- Plastic Surgery -->
                        <li>
                          <p><a href="">Plastic Surgery</a></p>
                          <ul class="level-2">
                            <li><a href="">Tummy Tuck</a></li>
                            <li><a href="">Breast Lift and Augmentation</a></li>
                            <li><a href="">Face Lift</a></li>
                          </ul>
                        </li>
                        <!-- Bariatric Surgery -->
                        <li>
                          <p><a href="">Bariatric Surgery</a></p>
                          <ul class="level-2">
                            <li><a href="">Gastric Sleeve</a></li>
                            <li><a href="">Gastric Bypass</a></li>
                            <li><a href="">Gastric Band</a></li>
                          </ul>
                        </li>
                        <!-- Orthopedic Surgery -->
                        <li>
                          <p><a href="">Orthopedic Surgery</a></p>
                          <ul class="level-2">
                            <li><a href="">Hip Replacement</a></li>
                            <li><a href="">Knee Replacement</a></li>
                            <li><a href="">Arthroscopy</a></li>
                          </ul>
                        </li>
                        <!-- Dental -->
                        <li>
                          <p><a href="">Dental</a></p>
                          <ul class="level-2">
                            <li><a href="">Dental Implants</a></li>
                            <li><a href="">All-on-4</a></li>
                            <li><a href="">Dental Crowns</a></li>
                          </ul>
                        </li>
                        <!-- Optical -->
                        <li>
                          <p><a href="">Optical</a></p>
                          <ul class="level-2">
                            <li><a href="">LASIK Surgery</a></li>
                            <li><a href="">Cataract Surgery</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/faqs/">FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                  </ul>
                </section>

              </nav>
            </div>
          </div>
        </div>
        <!-- /Navigation -->
      </header>
      <!--====== /Header ====== -->

      <!-- Mobile -->
  <div class="mobile show-for-small-only">
    <div class="mHome">
      <div class="row">
        <div class="small-12 columns">
          <form>
            <div class="row">
              <div class="small-10 small-centered columns">
                <label>Looking For?</label>
                <input type="text" name="search" id="search_category" placeholder="Dentist, Hospitals, Plastic Surgery...">
              </div>
          
              <div class="small-10 small-centered columns">
                <label>Where?</label>
                <input type="text" name="where" id="search_cities" placeholder="Los Algodones, Mexicali, Tijuana...">
              </div>
            
              <div class="small-8 small-centered columns">
                <input type="submit" value="Search" class="button btn-aqua radius">
              </div>

            </div>
          </form>
          <h4 class="toll-free">Toll Free Number <span>1 855 SANICO1</span></h4>
        </div>
      </div> 
    </div>
  </div>
  <!-- /Mobile -->
      {% endblock %}

    {% block main %}{% endblock %}
    <!-- Footer -->
      <!-- Quit contest -->
      <!-- add include 'popup.html' into block -->
      {% block popup %}
      {% endblock %}

      {% endblock %}
      {% block footer %}
        <!-- /Footer -->
        {% include 'footer.html' %}
        {% include "includes/footer_scripts.html" %}
        {% block extra_js %}{% endblock %}

      {% endblock %}
  </body>
</html>
