{% load mezzanine_tags staticfiles %}

  <!--====== Footer ======-->
  <footer>
    <!-- Footer Search -->
    <div class="footer-search">
      <form action="{% url 'results' %}" method='get'>
        <div class="row">
          <div class="medium-5 columns">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Looking For?</label>
              </div>
              <div class="small-9 columns">
                <input type="text" name="search" id="search_category" placeholder="Dentist, Hospitals, Plastic Surgery...">
              </div>
            </div>
          </div>
          <div class="medium-5 columns">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Where?</label>
              </div>
              <div class="small-9 columns">
                <input type="text" name="where" id="search_cities" placeholder="Los Algodones, Mexicali, Tijuana...">
              </div>
            </div>
          </div>
          <div class="medium-2 columns">
            <input type="submit" value="Search" class="button btn-aqua radius">
          </div>
        </div>
      </form>
    </div>
    <!-- /Footer Search -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="row">
        <div class="medium-3 columns">
          <div class="imagotype"></div>
          <p>&copy; sanimedicaltourism.com</p>
        </div>
        <div class="medium-4 columns">
          <ul class="inline-list">
            <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
            <li>|</li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
            {% if not user.is_authenticated %}
            <li><a href="/login/" class="button btn-white radius">Login</a></li>
            {% else %}
            <li><a href="/login/" class="button btn-white radius">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- /Footer Bottom -->

  </footer>
  <!--====== /Footer ======-->    

  <!-- Javascript includes -->

  {% compress js %}
  <script src="{% static 'sanico/js/vendor/jquery.js' %}"></script>
  <script src="{% static 'sanico/js/foundation.min.js' %}"></script>
  <script src="{% static 'sanico/js/custom.js' %}"></script>
  <script src="{% static 'sanico/js/bsn.AutoSuggest_c_2.0.js' %}"></script>
  {% endcompress %}
