<!-- Modal -->
<script type="text/javascript">
  function setCookie(){
    var date = new Date();
    var day = (60*120*1000);

    date.setTime(date.getTime() + day);
    var expires = "; expires="+date.toGMTString();

    document.cookie = "popup_home=true"+expires+";";
  }

  $(document).ready(function($) {
    var cookies = document.cookie;

    if(cookies.indexOf("popup_home") < 0) {
      $('#contest-banner-modal').modal();
      setCookie();
    }
  });
</script>

<div id="contest-banner-modal" class="modal hide fade lightbox-promo" tabindex="-1" role="dialog" aria-labelledby="Contest Banner Modal" aria-hidden="true">
  <div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Win $1,000 USD for your medical treatment</h3>
    <a href="/contest/">
      <img src="{{STATIC_URL}}sanico/img/contest-banner.jpg" width="100%" height="100%" style="margin-bottom:10px">
    </a>
  </div>
</div>