{% extends "base.html" %}

{% load i18n future mezzanine_tags widget_tags %}

{% block meta_title %}{% trans "Search Results" %}{% endblock %}
{% block title %}{% trans "Search Results" %}{% endblock %}

{% block breadcrumb_menu %}
<li>
    <a href="{% url "home" %}">{% trans "Home" %}</a>
    <span class="divider">/</span>
</li>
<li class="active">{% trans "Search Results" %}</li>
{% endblock %}

{% block main %}

<!--
<div id="search-results">
    {% for result in results.object_list %}
    <h5>{{ forloop.counter0|add:results.start_index }})
        <a href="{{ result.get_absolute_url }}">{{ result }}</a></h5>
    <p>{{ result.description|truncatewords_html:20|safe }}</p>
    <a href="{{ result.get_absolute_url }}">{% trans "read more" %}</a>
    {% endfor %}
</div>
-->
<!-- Home Content -->
<section class="container">
  <div class="row">
    <!-- /////////////// Content \\\\\\\\\\\\\\\ -->
    <div class="span9">
    <div class="row">
    <div class="span9 title-page">
        <h2>{% trans "Search Results" %}</h2>
    </div>

    <article class="span9 archive">
        <p>
        {% if results.paginator.count == 0 %}
        {% blocktrans %}
        No results were found in {{ search_type }} matching your query: {{ query }}
        {% endblocktrans %}
        {% else %}
        {% blocktrans with start=results.start_index end=results.end_index total=results.paginator.count %}
        Showing {{ start }} to {{ end }} of {{ total }} results in {{ search_type }} matching your query: {{ query }}
        {% endblocktrans %}
        {% endif %}
        </p>
    </article>

    {% for result in results.object_list %}
    <!-- Article -->
    <article class="span9 archive">
      <section class="archive-box">
        <!-- image -->
        <figure class="span2  archive-figure">
          {% if result.image %}
          {% block result_list_post_featured_image %}
          <a href="{{ result.get_absolute_url }}">
            <img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail result.image 140 140 %}">
          </a>
          {% endblock %}
          {% elif result.get_thumbnail %}
          <a href="{{ result.get_absolute_url }}">
            <img class="featured-thumb" src="{{ result.get_thumbnail }}" width="140" height="140">
           </a>
          {% endif %}
        </figure>
        <!-- image -->
        <div class="span7 archive-content">
          {% block result_list_post_title %}
          {% editable result.title %}
          <h2>
            <a href="{{ result.get_absolute_url }}">{{result.title}}</a>
          </h2>
          {% endeditable %}
          {% endblock %}
          <p class="archive-date">
            <!--
            <b>Published on</b> <time pubdate datetime="2013-01-05">January 5st. 2013</time> | by <em>Julio Cesar Montenegro</em>
            -->
            {% trans "Posted by" %}:
            {% with result.user as author %}
            {{ author.get_full_name|default:author.username }}
            {% endwith %}
            {% blocktrans with sometime=result.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
          </p>

          <!-- Description -->
          <p class="archive-excerpt">
            {% block result_list_post_content %}
            {% editable result.content %}
            {{ result.content|striptags|truncatewords_html:30 }}
            {% endeditable %}
            {% endblock %}
          </p>
          <a href="{{ result.get_absolute_url }}" class="btn-small btn-orange right">Read more</a>
        </div>
      </section>
    </article>
    <!-- Article -->
    {% endfor %}

    <!-- blog list pagination -->
    {% pagination_for results %}
    <!-- end pagination -->

  </div>
  </div>

<!-- Sidebar -->
  <aside  class="span3 blog-sidebar">
    {% render_widgets "right" %}
  </aside>
<!-- /Sidebar -->

  </div>
</section>
<!-- /Home Content -->
<!-- ///////////  End \\\\\\\\ -->

{% endblock %}
