{% extends 'base.html' %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags widget_tags %}

{% block meta_title %}{% if podcast.meta_title %}{{ podcast.meta_title }}{% else %}{% trans "Podcast" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block fb_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block gplus_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block main %}

<!-- Home Content -->
<section class="container">
  <div class="row">
    <!-- /////////////// Content \\\\\\\\\\\\\\\ -->
    <div class="span9">
    <div class="row">
    <div class="span9 title-page">
        <h2>{% trans "Podcast" %}</h2>
    </div>

    {% if podcasts.object_list.count == 0 %}
      <article class="span9 archive">
        <section class="archive-box">
          {% include "podcast/no_podcast.html" %}
        </section>
      </article>
    {% else %}
      {% for podcast in podcasts.object_list %}
      <!-- Article -->
      <article class="span9 archive">
        <section class="archive-box">
          <!-- image -->
          <figure class="span2  archive-figure">
            <a href="{{ podcast.get_absolute_url }}">
              <img class="featured-thumb" src="{{ podcast.get_thumbnail }}" alt="{{ podcast.title }}" width="170" height="127" />
            </a>
          </figure>
          <!-- image -->
          <div class="span7 archive-content">
            {% block podcast_list_post_title %}
            {% editable podcast.title %}
            <h2>
              <a href="{{ podcast.get_absolute_url }}">{{ podcast.title|safe }}</a>
            </h2>
            {% endeditable %}
            {% endblock %}
            <p class="archive-date">
              <!--
              <b>Published on</b> <time pubdate datetime="2013-01-05">January 5st. 2013</time> | by <em>Julio Cesar Montenegro</em>
              -->
              {% trans "Posted by" %}:
              {% with podcast.user as author %}
              {{ author.get_full_name|default:author.username }}
              {% endwith %}
              {% blocktrans with sometime=podcast.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
            </p>

            <!-- Description -->
            {% block podcast_list_post_content %}
            {% editable podcast.content %}
            <p class="archive-excerpt">
              {{ podcast.content|striptags|truncatewords_html:35|safe }}
            </p>
            {% endeditable %}
            {% endblock %}

            <a href="{{ podcast.get_absolute_url }}" class="btn-small btn-orange right">{% trans "Read more" %}</a>
          </div>
        </section>
      </article>
      <!-- Article -->
      {% endfor %}
    {% endif %}

    <!-- blog list pagination -->
    {% pagination_for podcasts %}
    <!-- end pagination -->

  </div>
  </div>

<!-- Sidebar -->
  <aside  class="span3 blog-sidebar">
    {% render_widgets "right" %}
  </aside>
<!-- /Sidebar -->

  </div>
</section>
<!-- /Home Content -->
<!-- ///////////  End \\\\\\\\ -->
{% endblock %}
