{% extends 'base.html' %}
{% load mezzanine_tags comment_tags keyword_tags i18n %}
{% load widget_tags sanico_tags embed_video_tags %}

{% block meta_title %}
  {% if podcast.meta_title %}
    {{ podcast.meta_title }}
  {% else %}
    {% trans "Podcast" %}
  {% endif %}
{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for podcast as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ podcast.description }}
{% endmetablock %}{% endblock %}

{% block fb_description %}{% metablock %}
{{ podcast.description }}
{% endmetablock %}{% endblock %}

{% block gplus_description %}{% metablock %}
{{ podcast.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable podcast.title %}{{ podcast.title }}{% endeditable %}
{% endblock %}


{% block main %}
<!-- Home Content -->
<section class="container">
  <div class="row">
    <!-- /////////////// Content \\\\\\\\\\\\\\\ -->
    <div class="span9">
    <div class="row">
    <!-- Article -->
    <article class="span9 archive">
      <section class="article-box">
        <!-- image -->
        <figure class="archive-figure">
          <a href="/">
            {% if podcast.video %}
            {% editable podcast.video %}
            <p>
              {% video podcast.video as pvideo %}
              <iframe width="100%" height="500" src="//www.youtube.com/embed/{{pvideo.code}}" frameborder="0" allowfullscreen></iframe>
              {% endvideo %}
            </p>
            {% endeditable %}
            {% endif %}
          </a>
        </figure>
        <!-- image -->
        <div class="full-article">
          {% editable podcast.title %}
          <h2>
            <a href="#">{{ podcast.title|safe }}</a>
          </h2>
          {% endeditable %}
          {% block podcast_detail_postedby %}
          {% editable podcast.publish_date %}
          <p class="archive-date">
              <b>{% trans "Published on" %}: </b>
              {% blocktrans with sometime=podcast.publish_date %}
              <time pubdate datetime="podcast.publish_date|date:'Y-m-d'">
                {{ sometime }}
              </time> | by
              {% endblocktrans %}

              {% with podcast.user as author %}
               <em>{{ author.get_full_name|default:author.username }}</em>
              {% endwith %}
          </p>
          {% endeditable %}
          {% render_sociallike podcast %}
          {% endblock %}

          <!-- Description -->
          {% block podcast_detail_content %}
            {% editable podcast.content %}
            <p class="archive-excerpt">
              {{ podcast.content|richtext_filter|safe }}
            </p>
            {% endeditable %}
          {% endblock %}


          {% block podcast_detail_keywords %}
          {% keywords_for podcast as tags %}
          {% if tags %}
          {% spaceless %}
          <p class="single-tags">
              {% trans "Tags" %}:&nbsp;
              {% for tag in tags %}
              <a href="{% url "podcast_list_tag" tag.slug %}">{{ tag }}</a>&nbsp;
              {% endfor %}
          </p>
          {% endspaceless %}
          {% endif %}
          {% endblock %}

        </div>
      </section>
    </article>
    <!-- Article -->
    {% render_profile podcast %}

    <!-- Comments -->
    {% block podcast_detail_comments %}
    {% if podcast.allow_comments %}{% comments_for podcast %}{% endif %}
    {% endblock %}
    <!-- /Comments -->

  </div>
  </div>

<!-- Sidebar -->
  <aside  class="span3 blog-sidebar">
    {% render_widgets "right" %}
  </aside>
<!-- /Sidebar -->

  </div>
</section>
<!-- /Home Content -->
<!-- ///////////  End \\\\\\\\ -->
{% endblock %}