{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}
{% load widget_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "Destinations" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="/">Home</a></li>
          <li><a href="/destinations/">Destinations</a></li>
          <li class="current"><a href=".">Mexicali</a></li>
        </ul>
      </div>
    
    </div>
  </div>
  <!-- /Title -->


<!--====== Main ======-->
<div class="row" role="main">
{% block body_content %}
  <!-- Content -->
  <article class="destination medium-9 columns">
  <figure>
    <img src="http://placehold.it/822x300" alt="">
  </figure>

  <section>
    <h1>Mexicali</h1>
    <p>Mexicali is the capital of the state of Baja California and it is located on the U.S. border with Calexico, CA. The city is in the middle of a long and arid valley that separates the city by over 50 miles from other populous cities, this is why the people of Mexicali are known for being very welcoming and open to visiting tourists. Visitors from all over the world can get here by flying to Yuma, Arizona, 45 miles away from Mexicali, or San Diego, California, 120 miles away, and then driving to Mexicali. In addition, the city is linked to other Mexican cities by the Mexicali International Airport, which serves the city itself and the surrounding towns.</p>
 
    <p>While you are in town do not forget to eat typical Mexicali-Chinese food. There are plenty of restaurants all over the city with particular specialties. Tourists often visit Mexicali surroundings too, like the Guadalupe Canyon and the Laguna Salada dry lake. To the south is San Felipe, which is the nearest beach to Mexicali, with a characteristic sea of low tides and fishing activity. There are many things to discover in the warm northeast corner of Baja.</p>
 
    <p>Mexicali’s western crossing border is enrolled in the Fast Lane program. The program consists of a special lane to cross the border back to the U.S. specially built for foreigners which includes patients and medical visitors who had an affair of any medical nature within Baja. International patients can request clinics involved in the program a single-use pass required to use the medical services fast lane when they are at the Mexicali-Calexico crossing border ready to go back home after their treatment or recovery period. This pass has to be shown in addition to other necessary documentation to officials at the border.</p>
  </section>

  <div class="row">
    <div class="large-8 columns">
    <!-- Tabs Medical Procedures -->
      {% block destinations %}
        {% include "includes/destinations.html" %}
      {% endblock %}
    <!-- /Tabs Medical Procedures -->
    </div>

    <div class="large-4 columns">
      <!-- List Hospitals -->
      {% block hospitals %}
        {% include "includes/hospitals.html" %}
      {% endblock %}
      <!-- /List Hospitals -->
    </div>
  </div>
  </article>
  <!-- /Content -->
  
  {% block sidebar %}
  <!-- Sidebar -->
  {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

{% endblock %}
</div>
<!--====== /Main ======-->
{% endblock %}