{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}
{% load widget_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}

<!-- Title -->
  <div class="page-title">
    <div class="row">
      <div class="large-7 columns">
        <h2>{% trans "Destinations" %}</h2>
      </div>
      
      <div class="large-5 columns">
        <ul class="sm-breadcrumbs">
          <li><a href="">Home</a></li>
          <li><a href="/destinations/">Destinations</a></li>
          <li class="current"><a href=".">Tijuana</a></li>
        </ul>
      </div>
    
    </div>
  </div>
  <!-- /Title -->


<!--====== Main ======-->
<div class="row" role="main">
{% block body_content %}
  <!-- Content -->
  <article class="destination medium-9 columns">
  <figure>
    <img src="http://placehold.it/822x300" alt="">
  </figure>

  <section>
    <h1>Tijuana</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt urna sit amet luctus accumsan. Etiam eget ultricies nisi. Cras non luctus velit. Suspendisse dictum, leo eu vestibulum suscipit, sem justo venenatis ipsum, mattis eleifend erat urna eu turpis. Curabitur quis interdum nisl. Suspendisse semper, nisl ut volutpat sagittis, lacus sem rhoncus eros, luctus eleifend metus sem quis massa. Quisque rhoncus bibendum odio, eget posuere libero dapibus nec. Sed viverra mauris id viverra gravida.</p>

    <p>Vestibulum a mauris eget lectus laoreet placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent lobortis ante eget urna vehicula, vel placerat nibh iaculis. Maecenas porta velit ac justo volutpat, pharetra iaculis velit hendrerit.</p>
  </section>

  <div class="row">
    <div class="large-8 columns">
    <!-- Tabs Medical Procedures -->
      {% block destinations %}
        {% include "includes/destinations.html" %}
      {% endblock %}
    <!-- /Tabs Medical Procedures -->
    </div>

    <div class="large-4 columns">
      <!-- List Hospitals -->
      {% block hospitals %}
        {% include "includes/hospitals.html" %}
      {% endblock %}
      <!-- /List Hospitals -->
    </div>
  </div>
  </article>
  <!-- /Content -->
  
  {% block sidebar %}
  <!-- Sidebar -->
  {% include "includes/sidebar.html" %}
  <!-- /Sidebar -->
  {% endblock %}

{% endblock %}
</div>
<!--====== /Main ======-->
{% endblock %}